<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="title">
  <meta name="copyright" content="Copyright ⓒ Cafe24 Corp.All Rights Reserved.">
  <meta name="description" content="">
  <title>AFG</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- kumb -->
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- bonmi stylesheet -->
  <link rel="stylesheet" type="text/css" href="../../css/style.css">

  <!-- jquery -->
  <script src="../../js/ui/lib/jquery-1.11.1.min.js"></script>
  <script src="../../js/ui/lib/parallax.js"></script>

  <!-- Slick Slide -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- Swiper Slider -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  <!-- AOS animation -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- TypeIT JS -->
  <script src="https://unpkg.com/typeit@8.7.0/dist/index.umd.js"></script>

  <!-- partial -->
  <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js'></script>

  <!-- bonme script -->
  <script src="../../js/ui/page.js" type="text/javascript"></script>
  
</head>

<body class="hidden">

  <div id="loading-page">
    <div class="text">
      <span><img src="../../img/loading-logo.png" alt=""></span>
      <span><img src="../../img/loading-logo.png" alt=""></span>
    </div>
  </div>

<!--
  <div id="loading-bar">
    isLoading ...
  </div>
  -->
  <div id="wrapper">

    <!-- Header Area Start -->
<header class="sub-header">
    <div class="inner">

        <!-- Logo Area Start -->
        <div id="logo">
            <h1>
                <a href="/" class="ir">AUTHENTIC FINANCIAL GROUP</a>
            </h1>
        </div>

        <!-- Gnb Area Start -->
        <div class="menu">
            <button type="button" class="menu-btn">
                <span></span>
                <span></span>
            </button>
            <div id="gnb">
                <ul>
                    <li>
                        <a href="../sub/company.html">
                            <span>01</span>
                            회사소개
                        </a>
                    </li>
                    <li>
                        <a href="../sub/collection.html">
                            <span>02</span>
                            컬렉션
                        </a>
                    </li>
                    <li>
                        <a href="../sub/system.html">
                            <span>03</span>
                            시스템
                        </a>
                    </li>
                    <li>
                        <a href="../sub/studio.html">
                            <span>04</span>
                            스튜디오
                        </a>
                    </li>
                    <li>
                        <a href="../sub/news.html">
                            <span>05</span>
                            뉴스
                        </a>
                    </li>
                    <li>
                        <a href="../sub/recruit.html">
                            <span>06</span>
                            채용
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</header><!-- Header Area End -->

    <div id="wrap" class="">

      <div class="">
          <!-- icr 작업영역 -->
          
<style>
  footer {
    display: none;
  }
  .footer {
    display : block;
    position : static;
  }
</style>

<div id="collection-case03-wrap">

  <!-- components -->
  <div id="collection-visual">
    <div class="title-wrap">
      <h2>2021 s/s collection</h2>
      <p>
        INCHEON PARADISE CITY <br />
        ( 2022. 04. 20 - 04. 22 )
      </p>
    </div>
    <div class="dim"></div>
    <video autoplay loop muted>
      <source src="https://afg-common.s3-accelerate.amazonaws.com/pc/collection-2021SS.mp4" type="video/mp4">
    </video>
  </div>
  <!-- components -->

  <secion id="collection-contents-wrap" class="collection-detail-wrapper">
    <div class="arrow-wrap"></div>

    <section class="sec01">
      <div class="text-wrap">
        <h6 class="title">"lUXURY"</h6>
        <p>
          어센틱의 2021 S/S 컬렉션 컨셉은 ( 럭셔리 )입니다. <br />
          럭셔리한 여러분을 위해 최고급으로 준비했습니다. <br />
          호화로움 속에서 열리는 어센틱의 첫 번째 컬렉션을 시작합니다.
        </p>
        <span>
          Collection Order: 1 <br />
          All of you are luxury goods
        </span>
      </div>
    </section>

    <section class="sec02">
      <div class="sm-inner">
        <div class="sec02-place-wrap">
          <div class="text-wrap">
            <h6>incheon paradise city</h6>
            <div class="dl-wrap">
              <dl>
                <dt>일정</dt>
                <dd>2022.04.20.(화) - 04.22.(목)</dd>
              </dl>
              <dl>
                <dt>장소</dt>
                <dd>INCHEON PARADISE CITY</dd>
              </dl>
              <dl>
                <dt>주최</dt>
                <dd>어센틱금융그룹</dd>
              </dl>
              <dl>
                <dt>참여</dt>
                <dd>
                  이글. 피플. 빅토리. 엔게디. 트렌드. 퍼스트. <br />
                  블루마린. 드림앤리치. CAP. VIP.
                </dd>
              </dl>
            </div>
            <ul class="table-wrap">
              <li>
                <div class="number">SECTION 1.</div>
                <div class="info">AFG beginning</div>
              </li>
              <li>
                <div class="number">SECTION 2.</div>
                <div class="info">afg Awards</div>
              </li>
              <li>
                <div class="number">SECTION 3.</div>
                <div class="info">leisure</div>
              </li>
              <li>
                <div class="number">SECTION 4.</div>
                <div class="info">DJ PARTY</div>
              </li>
            </ul>
          </div>
          <div class="img-wrap">
            <div class="img"></div>
            <p class="caption">ⓒ incheon_paradise city</p>
          </div>
        </div>
      </div>
    </section>

    <div class="collection-bg-wrap afgbeginning">
      <div class="title-wrap">
        <p>
          <i><img src="../../img/collection-case01-section-icon.png" alt="section icon"></i>
          SECTION 1.
        </p>
        <h6>AFG BEGINNING</h6>
      </div>
    </div>

    <div class="collection-animation-wrap">
      <div class="inner">
        <div class="normal-box box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
          data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-offset="400">
          <img src="../../img/collection-case03-afg01.png" alt="afg beginning image">
        </div>
        <div class="half-box box">
          <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
            data-aos-duration="1000" data-offset="400">
            <img src="../../img/collection-case03-afg02-1.png" alt="afg beginning image">
          </div>
          <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
            data-aos-duration="1000" data-aos-delay="200" data-offset="400">
            <img src="../../img/collection-case03-afg02-2.png" alt="afg beginning image">
          </div>
        </div>
        <div class="normal-box box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
          data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-offset="400">
          <img src="../../img/collection-case03-afg03.png" alt="afg beginning image">
        </div>
        <div class="normal-box box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
          data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-offset="400">
          <img src="../../img/collection-case03-afg04.png" alt="afg beginning image">
        </div>
        <div class="long-box box">
          <div class="long-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-offset="400">
            <img src="../../img/collection-case03-afg05-1.png" alt="afg beginning image">
          </div>
          <div class="short-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-delay="200" data-offset="400">
            <img src="../../img/collection-case03-afg05-2.png" alt="afg beginning image">
          </div>
        </div>
        <div class="long-box box">
          <div class="short-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-offset="400">
            <img src="../../img/collection-case03-afg06-1.png" alt="afg beginning image">
          </div>
          <div class="long-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-delay="200" data-offset="400">
            <img src="../../img/collection-case03-afg06-2.png" alt="afg beginning image">
          </div>
        </div>
        <div class="normal-box box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
          data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-offset="400">
          <img src="../../img/collection-case03-afg07.png" alt="afg beginning image">
        </div>
        <div class="normal-box box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
          data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-offset="400">
          <img src="../../img/collection-case03-afg08.png" alt="afg beginning image">
        </div>
      </div>
    </div>

    <div class="collection-bg-wrap awards">
      <div class="title-wrap">
        <p>
          <i><img src="../../img/collection-case01-section-icon.png" alt="section icon"></i>
          SECTION 2.
        </p>
        <h6>AWARDS</h6>
      </div>
    </div>

    <div class="space-wrap"></div>

    <div class="grid-container">
      <div class="grid">
        <div class="gridLayer">
          <div class="gridBlock"></div>
        </div>
        <div class="gridLayer">
          <div class="gridBlock"></div>
        </div>
        <div class="gridLayer">
          <div class="gridBlock"></div>
        </div>
        <div class="gridLayer center">
          <div class="gridBlock center"></div>
        </div>
        <div class="gridLayer">
          <div class="gridBlock"></div>
        </div>
        <div class="gridLayer">
          <div class="gridBlock"></div>
        </div>
        <div class="gridLayer">
          <div class="gridBlock"></div>
        </div>
        <div class="gridLayer">
          <div class="gridBlock"></div>
        </div>
        <div class="gridLayer">
          <div class="gridBlock"></div>
        </div>
        <div class="gridLayer">
          <div class="gridBlock"></div>
        </div>
        <div class="gridLayer">
          <div class="gridBlock"></div>
        </div>
        <div class="gridLayer">
          <div class="gridBlock"></div>
        </div>
        <div class="gridLayer">
          <div class="gridBlock"></div>
        </div>
      </div>
    </div>

    <div class="collection-bg-wrap leisure">
      <div class="title-wrap">
        <p>
          <i><img src="../../img/collection-case01-section-icon.png" alt="section icon"></i>
          SECTION 3.
        </p>
        <h6>LEISURE</h6>
      </div>
    </div>

    <div id="leisure-slide-wrap" class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img src="../../img/collection-case03-leisure01.jpg" alt="leisure image">
        </li>
        <li class="swiper-slide">
          <img src="../../img/collection-case03-leisure02.jpg" alt="leisure image">
        </li>
        <li class="swiper-slide">
          <img src="../../img/collection-case03-leisure03.jpg" alt="leisure image">
        </li>
        <li class="swiper-slide">
          <img src="../../img/collection-case03-leisure04.jpg" alt="leisure image">
        </li>
        <li class="swiper-slide">
          <img src="../../img/collection-case03-leisure05.jpg" alt="leisure image">
        </li>
        <li class="swiper-slide">
          <img src="../../img/collection-case03-leisure06.jpg" alt="leisure image">
        </li>
        <li class="swiper-slide">
          <img src="../../img/collection-case03-leisure07.jpg" alt="leisure image">
        </li>
        <li class="swiper-slide">
          <img src="../../img/collection-case03-leisure08.jpg" alt="leisure image">
        </li>
      </ul>
    </div>

    <div class="collection-bg-wrap djparty">
      <div class="title-wrap">
        <p>
          <i><img src="../../img/collection-case01-section-icon.png" alt="section icon"></i>
          SECTION 4.
        </p>
        <h6>DJ PARTY</h6>
      </div>
    </div>

    <div class="card-grid-wrapper">
      <div class="inner">
        <div class="card-grid-wrap">
          <div class="left-box">
            <div class="top-img">
              <img src="../../img/collection-case03-grid01.png" alt="grid image">
            </div>
            <div class="btm-img">
              <img src="../../img/collection-case03-grid06.png" alt="grid image">
            </div>
          </div>
          <div class="center-box">
            <div class="top-img">
              <div class="img-box">
                <img src="../../img/collection-case03-grid02.png" alt="grid image">
              </div>
              <div class="img-box">
                <img src="../../img/collection-case03-grid03.png" alt="grid image">
              </div>
            </div>
            <div class="center-img">
              <img src="../../img/collection-case03-grid05.png" alt="grid image">
            </div>
            <div class="btm-img">
              <div class="img-box">
                <img src="../../img/collection-case03-grid07.png" alt="grid image">
              </div>
            </div>
          </div>
          <div class="right-box">
            <div class="top-img">
              <img src="../../img/collection-case03-grid04.png" alt="grid image">
            </div>
            <div class="btm-img">
              <img src="../../img/collection-case03-grid08.png" alt="grid image">
            </div>
          </div>
        </div>
        <div class="card-grid-btns">
          <a href="./collection-detail-case02.html" class="text-icon">
            <i><img src="../../img/collection-list-prev.png" alt="prev icon"></i>
            PREV
          </a>
          <a href="./collection.html">
            <i><img src="../../img/collection-list-icon.png" alt="list icon"></i>
          </a>
          <a href="./collection-detail-case01.html" class="text-icon">
            NEXT
            <i><img src="../../img/collection-list-next.png" alt="next icon"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Footer Area Start -->
    <footer class="footer">
      <div class="inner">

          <!-- Top-info Area Start -->
          <div class="top-info">
              <div class="family-site">
                  <button type="button" class="family-site-btn">
                      <span>FAMILY SITE</span>
                      <img src="../../img/plus-icon.png" alt="plus-icon">
                  </button>
                  <ul>
                      <li><a href="javascript: void(0);">어센틱 몰</a></li>
                      <li><a href="javascript: void(0);">어센틱 에듀</a></li>
                      <li><a href="javascript: void(0);">어센틱 케어</a></li>
                      <li><a href="javascript: void(0);">어센틱 테일러드</a></li>
                      <li><a href="javascript: void(0);">어센틱 라인</a></li>
                      <li><a href="javascript: void(0);">어센틱 링크</a></li>
                      <li><a href="javascript: void(0);">어센틱 라운지</a></li>
                  </ul>
              </div>
              <div class="sns">
                  <ul>
                      <li><a href="javascript: void(0);">인스타그램</a></li>
                      <li><a href="javascript: void(0);">유튜브</a></li>
                  </ul>
              </div>
          </div>

          <!-- Bottom-info Area Start -->
          <div class="bottom-info">
              <div class="copyright">(주)어센틱금융그룹 © 2022</div>
              <p>
                  <span>주소  서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층</span>
                  <span>사업자 등록번호  626-87-00900    대표번호  1566 0428</span>
                  <span>보험대리점등록번호 : 제2018040001 | 보험대리점등록증[클릭]</span>
              </p>
              <div class="corp-area">
                  <ul>
                      <li><a href="javascript: void(0);">이용약관</a></li>
                      <li><a href="javascript: void(0);">개인정보처리방침</a></li>
                      <li><a href="javascript: void(0);">금융소비자보호기준</a></li>
                      <li><a href="javascript: void(0);">금융소비자보호 내부통제기준</a></li>
                  </ul>
              </div>
              <div class="footer-circle">
                  <button id="top-btn">
                      <span class="arrow"><img src="../../img/big-arrow-top.png" alt="arrow-top"></span>
                      <span class="circle"><img src="../../img/footer-circle.png" alt="footer-circle"></span>
                  </button>
              </div>
          </div>

      </div>
    </footer>
    <!-- Footer Area End -->

  </secion>

  <script src="../../js/ui/collection.js"></script>

  <script>
    AOS.init();
  </script>


</div>



          <!--// icr 작업영역 -->
      </div>

    </div>

    <!-- Footer Area Start -->
<footer>
    <div class="inner">

        <!-- Top-info Area Start -->
        <div class="top-info">
            <div class="family-site">
                <button type="button" class="family-site-btn">
                    <span>FAMILY SITE</span>
                    <img src="../../img/plus-icon.png" alt="plus-icon">
                </button>
                <ul>
                    <li><a href="javascript: void(0);">어센틱 몰</a></li>
                    <li><a href="javascript: void(0);">어센틱 에듀</a></li>
                    <li><a href="javascript: void(0);">어센틱 케어</a></li>
                    <li><a href="javascript: void(0);">어센틱 테일러드</a></li>
                    <li><a href="javascript: void(0);">어센틱 라인</a></li>
                    <li><a href="javascript: void(0);">어센틱 링크</a></li>
                    <li><a href="javascript: void(0);">어센틱 라운지</a></li>
                </ul>
            </div>
            <div class="sns">
                <ul>
                    <li><a href="https://www.instagram.com/afg.kr/" target="_blank" class="no-motion">인스타그램</a></li>
                    <li><a href="https://www.youtube.com/channel/UCVqm7z5vVda537C1U1xDNpw" target="_blank" class="no-motion">유튜브</a></li>
                </ul>
            </div>
        </div>

        <!-- Bottom-info Area Start -->
        <div class="bottom-info">
            <div class="copyright">(주)어센틱금융그룹 © 2022</div>
            <p>
                <span>주소  서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층</span>
                <span>사업자 등록번호  626-87-00900    대표번호  1566 0428</span>
                <span>보험대리점등록번호 : 제2018040001 | 보험대리점등록증[클릭]</span>
            </p>
            <div class="corp-area">
                <ul>
                    <li><a href="javascript: void(0);">이용약관</a></li>
                    <li><a href="javascript: void(0);">개인정보처리방침</a></li>
                    <li><a href="javascript: void(0);">금융소비자보호기준</a></li>
                    <li><a href="javascript: void(0);">금융소비자보호 내부통제기준</a></li>
                </ul>
            </div>
            <div class="footer-circle">
                <button id="top-btn">
                    <span class="arrow"><img src="../../img/big-arrow-top.png" alt="arrow-top"></span>
                    <span class="circle"><img src="../../img/footer-circle.png" alt="footer-circle"></span>
                </button>
            </div>
        </div>

    </div>
</footer><!-- Footer Area End -->


  </div>

</body>


</html>
