<div class="wrap">
    <div class="close-btn" onclick="closeFour()">닫기 <img src="https://afg-homepage.s3.ap-northeast-2.amazonaws.com/img/footer-close-btn.png" alt="close-btn"></div>
    <div class="title m-10">
        금융소비자보호
        내부통제기준</div>
    <div class="date">
        2021년 09월 14일 제정
    </div>
    <div class="sec01 m-35">제1장 총칙</div>
    <div class="bold m-10">제1조(목적)</div>
    <div class="grey m-35">이 기준은「금융소비자보호에 관한 법률」(이하 “금융소비자보호법”이라 한다) 및 관련법규(이하 “금융소비자보호법령”이라 한다)에서 정한 바에 따라 금융소 비자보호를 위한 (주)어센틱금융그룹(이하“회사”라고 한다)의 내부통제기준, 영업 에 관한 준수사항, 기타 금융소비자 권익 보호를 위한 제반 사항을 규정함으로써 금융소비자보호의 실효성을 높이고, 금융소비자의 신뢰를 제고하는 것을 목적으로 한다.</div>
    <div class="bold m-10">제2조(적용범위)</div>
    <div class="grey">① 이 기준은 회사의 금융소비자보호 내부통제에 적용한다. 다만, 회사업무의 일 부를 위탁받은 자 및 위탁업무에 대해서는 그 위탁 범위 내에서 이 기준을 적용 한다.</div>
    <div class="grey m-35">② 금융소비자보호와 관련하여 이 기준 및 이 기준의 위임에 따른 하위 규정 등 (이하 “이 기준등”이라 한다)에서 정하지 아니한 사항은 금융소비자보호법령에 따른다.</div>
    <div class="bold m-10">제3조(다른 내규와의 관계)</div>
    <div class="grey m-35">금융상품에 대한 판매 및 금융소비자에 대한 민원·분 쟁 처리 등 금융소비자 보호에 관한 사항은 회사 내 다른 내규 등에서 특별히 정 한 경우를 제외하고는 이 기준등에서 정하는 바에 따른다.</div>
    <div class="bold m-10">제4조(용어의 정의)</div>
    <div class="grey">① 이 기준에서 사용하고 있는 용어의 정의는 다음과 같다. 다만, 이 기준에서 정 하지 아니한 용어는 금융소비자보호법령에서 정의한 바에 따른다.</div>
    <div class="grey">② “임직원등”이라 함은 회사 소속 임직원 및 회사의 금융상품을 판매대리·중개하는 금융상품판매대리·중개업자를 말한다.</div>
    <div class="grey">③ “금융소비자보호기준”이란 금융소비자 불만 예방 및 신속한 사후구제를 통하여 금융소비자를 보호하기 위하여 임직원이 직무를 수행할 때 준수하여야 할 기본적인 절차와 기준으로서 금융소비자보호법 제32조 제3항에 따라 회사가 마련한 기준을 말한다.</div>
    <div class="grey">④ “내부통제기준”이란 금융소비자보호법령을 준수하고 건전한 거래질서를 해치는 일이 없도록 성실히 관리업무를 이행하기 위하여 임직원등이 직무를 수행할 때 준수하여 야 할 기준 및 절차를 말한다.</div>
    <div class="grey m-10">⑤ “내부통제체계”란 효과적인 내부통제 활동을 수행하기 위한 조직구조, 업무분장 및 승인절차, 의사소통·모니터링·정보시스템 등의 종합적 체계를 말한다.</div>
    <div class="grey m-35">⑥ “금융상품등에 관한 광고”란 금융상품이나 업무에 관한 사항을 소비자에게 널리 알리거나 제시하는 행위를 말한다.</div>
    <div class="bold m-10">제5조(금융소비자 보호에 관한 기본 방침)</div>
    <div class="grey">① 회사는 금융소비자의 권익 증진, 건전한 금융거래 지원 등 금융소비자보호를 위하여 노력한다.</div>
    <div class="grey">② 회사는 금융소비자보호가 효과적으로 이루어지도록 이에 필요한 인적, 물적 자 원을 적극적으로 확보하여야 한다.</div>
    <div class="grey m-35">③ 회사는 업무위탁 계약을 체결한 보험회사의 관리업무에 적극적으로 협조하여 야한다.</div>
    <div class="sec01 m-35">제2장 업무의 분장 및 조직구조</div> 
    <div class="bold m-10">제6조(업무의 분장 및 조직구조)</div>
    <div class="grey">① 회사는 금융소비자보호법규의 준수를 위하여 임직원의 역할과 책임을 명확히 하고, 업무의 종류 및 성격, 이해상충의 정도 등을 감안하여 업무의 효율성 및 직 무 간 상호 견제와 균형이 이루어질 수 있도록 업무분장 및 조직구조를 수립하여 야한다.</div>
    <div class="grey">② 제1항의 업무분장 및 조직구조에는 다음 각 호의 사항을 포함하여야 한다.</div>
    <div class="grey">1. 의사결정에 대한 승인절차(전결규정)</div>
    <div class="grey">2 .임직원등의 역할과 책임</div>
    <div class="grey m-35">③ 회사는 업무분장 및 조직구조에 관한 내규를 제ᆞ개정할 때 제1항의 내용을 충실히 반영하여야 한다.</div>
    <div class="sec01 m-35">제3장 금융소비자보호 내부통제기준 운영 조직 및 인력</div>
    <div class="bold m-10">제7조(금융소비자보호 내부통제 조직)</div>
    <div  class="grey">① 회사는 금융소비자보호 내부통제 조직은 이사회, 대표이사, 내부통제위원회, 금융소비자보호 총괄기관, 금융소비자보호 총괄책임자 등으로 구성된다.</div>
    <div class="grey">② 회사는 내부통제의 원활한 수행을 위하여 업무절차를 적절한 단계로 구분하여 집행될 수 있도록 하여야 한다.</div>
    <div class="grey m-35">③ 회사는 내부통제 관리를 위하여 전산시스템에 보안등급별로 단계를 구분할 수 있는 적절한 정보차단장치를 설치하여야 한다.</div>
    <div class="bold m-10">제8조(이사회)</div>
    <div class="grey">① 이사회는 회사의 금융소비자보호에 관한 내부통제체계의 구축 및 운영에 관한 기본방침을 정한다.</div>
    <div class="grey m-35">② 이사회는 제1항의 내부통제에 영향을 미치는 경영전략 및 정책을 승인한다.</div>
    <div class="bold m-10">제9조(대표이사)</div>
    <div class="grey">① 대표이사는 이사회가 정한 금융소비자보호 내부통제체계의 구축·운영에 관한 기본방침에 따라 금융소비자보호 내부통제체계를 구축·유지·운영하여야 한다.</div>
    <div class="grey">② 대표이사는 회사의 금융소비자보호 내부통제체계가 적절히 운영되도록 조직구 조 등을 구축ᆞ운영하는 등 내부통제 여건을 조성하여야 하며, 영업환경 변화 등 에 따라 금융소비자보호 내부통제체계의 유효성이 유지될 수 있도록 점검하여야 한다.</div>
    <div class="grey">③ 대표이사는 매년 1회 이상 정기적으로 금융소비자보호 내부통제체계ᆞ운영에 대한 실태를 점검하여야 한다.</div>
    <div class="grey">④ 대표이사는 임직원등의 이 기준 위반 방지를 위한 예방대책을 마련하고, 이 기 준 준수여부에 대해 점검을 하여야 하며, 이 기준 위반시 위반행위에 상응한 조치 방안 및 기준을 마련하여야 한다.</div>
    <div class="grey m-35">⑤ 대표이사는 특별한 사정이 있는 경우 본조에 따른 업무를 금융소비자보호를 담당하는 임원에게 위임할 수 있으나, 이 경우 구체적인 위임의 범위를 문서화하 고, 정기적으로 관리·감독하는 절차를 마련하여야 한다.</div>
    <div class="bold m-10">제10조(금융소비자보호 내부통제위원회)</div>
    <div class="grey">① 회사는 금융소비자보호 내부통제를 수행하는데 필요한 의사결정기구로 금융소 비자보호 내부통제위원회(이하 “위원회”라 한다)를 설치한다. 다만, 직전 분기중 일평균 소속 금융상품판매대리·중개업자가 500인 미만인 경우에는 금융소비자보 호 내부통제위원회 관련 규정을 적용하지 않는다.</div>
    <div class="grey">② 위원회는 대표이사, 금융소비자 총괄책임자 및 사내 임원으로 구성하고, 준법 감시인과 위험관리책임자를 두고 있는 경우 해당 준법감시인과 위험관리책임자를 포함한다.</div>
    <div class="grey">③ 위원회는 다음 각 호의 사항을 조정ᆞ의결한다.</div>
    <div class="grey">1. 금융소비자 보호에 관한 경영방향</div>
    <div class="grey">2. 금융소비자 보호 관련 주요 제도 변경사항</div>
    <div class="grey">3. 금융상품의 영업방식 및 관련 정보공시에 관한 사항</div>
    <div class="grey">4. 금융상품의 판매, 사후관리에 관한 금융소비자 보호 측면에서의 모니터링 및 조치</div>
    <div class="grey">5. 임원·직원의 성과보상체계에 대한 금융소비자 보호 측면에서의 평가</div>
    <div class="grey">6. 금융소비자보호법 제16조 제2항에 따른 금융소비자보호 내부통제기준 및 금융소비자보호법 제32조 제3항에 따른 금융소비자보호기준의 적정성ᆞ준수실태에 대한 점검ᆞ 조치 결과</div>
    <div class="grey">7. 금융소비자보호법 제32조 제2항에 따른 금융소비자보호실태평가, 금융소비자보호 법 제48조 제1항에 따른 감독, 금융소비자보호법 제50조에 따른 검사 결과 중 금융소비자 관련 검사결과의 후속조치에 관한 사항</div>
    <div class="grey">8. 중요 민원·분쟁에 대한 대응결과</div>
    <div class="grey">9. 광고물 제작 및 광고물 내부 심의에 대한 기준 및 절차</div>
    <div class="grey">10. 금융소비자보호 총괄기관과 금융상품 판매·사후관리 등 관련 부서간 협의가 필요한 사항</div>
    <div class="grey">11. 그 밖에 내부통제에 필요하다고 판단되는 사항</div>
    <div class="grey">④ 위원회는 대표이사 주재로 회의를 매 반기별 1회 이상 개최하고, 위원회에서 심의ᆞ의결한 사항을 이사회에 보고하여야 한다.</div>
    <div class="grey">⑤ 회사는 위원회의 회의결과를 5년간 회의록 등 서면 방법으로 기록・유지하여 야 한다.</div>
    <div class="grey m-35">⑥ 위험관리책임자, 준법감시인은 제3항 각호의 사항이 고유업무와 관련이 없는 경우 회의에 참석하지 않을 수 있다.</div>
    <div class="bold m-10">제11조(금융소비자보호 총괄기관)</div>
    <div class="grey">① 회사는 금융소비자 보호에 관한 내부통제를 금융상품 판매업무로부터 독립하 여 수행할 수 있도록 대표이사 직속으로 금융소비자 보호에 관한 내부통제를 수 행하는 조직(이하 “금융소비자보호 총괄기관”이라 한다)을 설치 및 운영한다.</div>
    <div class="grey">② 금융소비자보호 총괄기관은 금융소비자보호 내부통제 업무를 수행하기 위해 필요한 인력을 갖추어야 한다.</div>
    <div class="grey">③ 금융소비자보호 총괄기관은 다음 각호의 업무를 수행한다.</div>
    <div class="grey">1. 금융소비자 보호에 관한 경영방향 수립</div>
    <div class="grey">2. 금융소비자 보호 관련 교육의 기획ᆞ운영</div>
    <div class="grey">3. 금융소비자 보호 관련 제도 개선</div>
    <div class="grey">4. 금융상품의 개발, 판매 및 사후관리에 관한 금융소비자 보호 측면에서의 모 니터링 및 조치</div>
    <div class="grey">5. 민원ᆞ분쟁의 현황 및 조치결과에 대한 관리</div>
    <div class="grey">6. 임원ᆞ직원의 성과보상체계에 대한 금융소비자 보호 측면에서의 평가</div>
    <div class="grey">7. 위원회의 운영 및 그 밖에 이 기준등 내규에서 정하는 업무(제1호부터 제5호까지의 사항을 위원회에 보고하는 업무를 포함한다)</div>
    <div class="grey m-35">④ 금융소비자보호 내부통제에 관한 사항은 금융소비자보호 총괄기관이 담당한다. 다만, 조직·인력 등을 감안하여 준법감시부서에서 담당할 수 있으며, 이 경우 양 부서간 권한 및 책임을 명확히 구분하고 이를 문서화하여야 한다.</div>
    <div class="bold m-10">제12조(금융소비자보호 총괄기관의 권한)</div>
    <div class="grey">① 금융소비자보호 총괄기관은 금융소비자보호 및 민원예방 등을 위해 제도개선 을 관련 부서에 요구할 수 있다. 이 경우 제도개선 요구를 받은 부서는 제도개선 업무를 조속히 수행하여야 한다. 다만, 부득이한 사유로 제도개선 업무의 수행이 불가능할 경우 그 사유를 위원회를 통해 소명해야 한다.</div>
    <div class="grey">② 금융소비자보호 총괄기관은 소비자 보호 관련 내규 위반사실을 발견하였거나, 중대한 소비자 피해 우려가 있는 경우 또는 민원처리 등을 위해 자료제출 요구, 임직원에 대한 출석요청, 임점실태 조사(필요시 준법지원ᆞ감사 부서에 의뢰 가 능) 등을 할 수 있으며, 자료제출 등을 요청받은 자는 이에 성실히 응하여야 한다.</div>
    <div class="grey">③ 금융소비자보호 총괄기관은 금융소비자보호 제도와 관련하여 임직원등에 대한 교육 및 자료제출 요구 등의 조치가 필요하다고 판단되는 경우 직접 조치하거나 관련 부서에 협조를 요청할 수 있으며, 협조 요청을 받은 관련 부서는 특별한 사 정이 없는 한 이에 협조하여야 한다.</div>
    <div class="grey m-35">④ 금융소비자보호 총괄기관은 제2항에 따라 금융소비자보호 총괄부서에서 자료 제출 요구, 임직원 출석요청, 임점조사 등을 통해 처리한 결과를 대표이사에 보고 하여야 한다.</div>
    <div class="bold m-10">제13조(금융소비자보호 총괄책임자)</div>
    <div class="grey">① 회사는 금융소비자보호 총괄기관의 업무를 수행하는 금융소비자보호 총괄책임 자를 1인 이상 지정하여야 한다. 다만, 직전 분기중 일평균 소속 금융상품판매대 리·중개업자가 500인 미만인 경우에는 준법감시인 또는 이에 준하는 사람이 금 융소비자보호 총괄책임자를 겸직할 수 있다.</div>
    <div class="grey">② 최근 5년간 금융관계법령을 위반하여 금융위원회 또는 금융감독원으로부터 문 책경고 또는 감봉요구 이상에 해당되는 조치를 받은 사람은 제1항의 금융소비자 보호 총괄책임자로 선임될 수 없다.</div>
    <div class="grey">③ 금융소비자보호 총괄책임자는 금융소비자보호 총괄기관의 업무를 수행하며, 금 융소비자권익 침해 또는 침해될 현저한 우려가 발생한 경우 지체 없이 대표이사 에게 보고하여야 한다. 대표이사는 보고받은 사항을 확인하여 신속히 필요한 제반 사항을 수행·지원하여야 한다.</div>
    <div class="grey">④ 회사는 금융소비자보호 총괄책임자에 대하여 재무적 경영성과를 중심으로 업 무평가기준을 마련해서는 아니되며, 공정한 업무평가기준 및 급여지급기준을 마련하여 운영하여야 한다.</div>
    <div class="grey">⑤ 회사는 금융소비자보호 총괄책임자의 공정한 직무수행을 위해 금융소비자보호 업무의 독립성을 보장하고 민원발생건수 및 금융소비자보호 실태평가 등은 금융 소비자보호 총괄책임자의 급여 등 보상에 연계하지 않도록 하여야 하며, 민원발생 및 민원처리과정의 부적정 등의 원인을 직접 제공한 부서 및 담당자의 급여 등 보상에 반영할 수 있다.</div>
    <div class="grey m-35">⑥ 회사는 금융소비자보호 총괄책임자에 대한 근무 평가시, 징계 등 특별한 경우 를 제외하고는 타업무 담당자 등 타 직군 등에 비해 직군 차별, 승진 누락 등 인 사평가의 불이익이 발생하지 않도록 하여야 한다.</div>
    <div class="bold m-10">제14조(금융소비자보호 업무담당자)</div>
    <div class="grey">① 회사는 금융소비자보호 총괄기관의 업무를 수행하기 위하여 적정규모의 금융 소비자보호 업무담당자를 선발ᆞ운영하여야 한다.</div>
    <div class="grey">② 금융소비자보호 업무담당자는 보험업계의 3년 이상 경력자로, 상품개발‧지원, 영업‧보상‧서비스기획, 법무, 시스템, 통계, 감사 등 분야의 2년 이상 경력자로 하 여야 한다. 다만 동 요건을 충족하지 않는 경우에도 금융소비자보호 총괄책임자가 달리 업무 수행에 필요한 전문지식과 실무경험을 갖추었다고 인정하는 경우에는 예외로 할 수 있다.</div>
    <div class="grey">③ 금융소비자보호 업무담당자는 금융소비자보호 총괄기관의 업무특성, 전문성 등 을 고려하여 특별한 경우를 제외하고 3년 이상 금융소비자보호 업무를 전담하여 야 한다. 다만, 승진전보 및 금융소비자보호 총괄책임자의 승인시에는 예외로 할 수 있다.</div>
    <div class="grey">④ 회사는 금융소비자보호 업무담당자에 대하여 대내‧외 소비자 보호 관련 교육 참여 기회를 제공하고 금융소비자보호 전문역량 개발을 위한 자격증 취득 기회를 적극 제공하는 등 직무향상을 위한 제도적 장치를 마련 ‧ 실시하여야 한다.</div>
    <div class="grey">⑤ 회사는 금융소비자보호 담당직원에 대한 근무평가시, 징계 등 특별한 경우를 제외하고는 소비자보호 관련 실적이 우수한 담당직원에게 인사상 가점을 부여하 여야 한다.</div>
    <div class="grey m-35">⑥ 금융소비자보호 업무담당자에 대해서는 제13조 제4항 및 제5항을 준용한다.</div>
    <div class="bold m-10">제15조(임직원)</div>
    <div class="grey m-35">임직원은 자신의 직무와 관련하여 금융소비자보호 내부통제에 대한 1차적인 책임 이 있으며, 직무수행시 자신의 역할을 이해하고 관련 법령 및 규정을 숙지하여 이 를 충실히 준수하여야 한다.</div>
    <div class="sec01 m-35">제4장 임직원이 업무를 수행할 때 준수해야 하는 기준 및 절차</div>
    <div class="bold m-10">제16조(금융상품 판매 및 사후관리 정책 수립)</div>
    <div class="grey">① 금융상품 판매 정책 수립시 금융소비자보호 총괄부서는 다음 각 호의 사항을 포함하여 부서간 사전협의 관련 절차를 구축, 운영하여야 한다.</div>
    <div class="grey">1. 사전협의 진행이력 및 실적관리</div>
    <div class="grey">2. 사전협의 누락 및 재발 방지대책 수립</div>
    <div class="grey">② 제1항에 따른 사전협의 관련 절차를 구축, 운영함에 있어 다음 각호의 사항을 고려하여야 한다.</div>
    <div class="grey">1. 금융상품의 위험도·복잡성</div>
    <div class="grey">2. 금융소비자의 특성</div>
    <div class="grey">③ 금융상품 판매 정책 수립시 담당부서는 다음 각 호와 관련한 사항에 대하여 금융소비자 총괄기관과 사전에 협의하여야 한다.</div>
    <div class="grey">1. 제20조 제6항에 따른 판매준칙의 제정·변경</div>
    <div class="grey">2. 주요 마케팅 정책 수립 및 변경</div>
    <div class="grey">3. 기타 소비자 보호를 위하여 금융소비자보호 총괄기관이 정하는 사항</div>
    <div class="grey">④ 금융소비자보호 총괄기관은 금융상품 판매정책 등에 금융소비자보호상의 문제 가 있다고 판단되는 경우 관련 부서에 금융상품 판매 중단, 마케팅 중단, 개선방 안 제출 등을 요구할 수 있다.</div>
    <div class="grey m-35">⑤ 회사는 제3항의 사전협의를 누락한 경우 성과평가 또는 민원평가에 반영하여 야한다.</div>
    <div class="bold m-10">제17조(판매 과정 관리)</div>
    <div class="grey">① 금융소비자보호 총괄기관은 금융상품 판매과정에서 불완전판매가 발생하지 않 도록 금융상품 판매 및 마케팅 담당 부서로 하여금 금융소비자보호 관점에서 다 음 각 호의 판매 절차를 구축하고, 이를 매뉴얼화 하도록 해야 한다.</div>
    <div class="grey">1. 금융상품 판매 전 절차</div>
    <div class="grey">가. 금융상품 판매자에 대해 금융상품별 교육훈련 체계를 갖추고, 금융상품별판매자격기준을 마련하여 운영하여야 한다.</div>
    <div class="grey">나. 금융상품의 판매과정별 관리절차(반드시 지켜야 할 사항에 대한 점검항목제공 및 이행 여부 포함)를 구축 및 운영하여 불완전판매 여부에 대한 통제기능 을 강화하여야 한다.</div>
    <div class="grey">다. 금융소비자가 금융상품 선택과정에서 금융소비자가 반드시 알아야 할 사항 및 금융상품의 주요 위험요인 등에 대한 금융소비자 확인절차를 마련하여야 한다.</div>
    <div class="grey">2. 금융상품 판매 후 절차</div>
    <div class="grey">가. 금융소비자의 구매내용 및 금융거래에 대한 이해의 정확성 등 불완전판매여부를 확인하여야 한다.</div>
    <div class="grey">나. 불완전판매 개연성이 높은 상품에 대해서는 해당 금융상품의 유형을 고려 하여 금융소비자보호 절차를 마련하여야 한다.</div>
    <div class="grey m-35">② 금융소비자보호 총괄기관은 상품 및 서비스와 관련한 금융소비자의 불만이 제 기되는 경우 주요 원인을 파악하고 이를 관련부서와 협의하여 개선되도록 하여야 하며, 구축된 판매 절차가 원활히 운영될 수 있도록 적정성을 점검하여야 한다.</div>
    <div class="bold m-10">제18조(판매 후 소비자 권익 보호)</div>
    <div class="grey m-35">회사는 금융상품 판매 이후 거래조건 등 주요 내용의 변경, 금융상품에 내재된 위험성의 변경, 금융소비자의 대규모 분쟁발생 우려시 관련사항을 신속하게 금융소비자에게 안내하여야 하며, 금융소비자의 법령 상·계약상 권리가 청구된 경우 신속하고 공정하게 처리될 수 있도록 관련 절차 와 기준을 마련하여야 한다.</div>
    <div class="bold m-10">제19조(광고물 제작 및 광고물 내부심의에 관한 사항)</div>
    <div class="grey">① 회사는 금융상품 등에 관한 광고를 하는 경우에는 금융소비자보호법규 등 관 련 법규를 준수하여야 하고, 금융소비자가 금융상품의 내용을 오해하지 아니하도 록 명확하고 공정하게 전달하여야 한다.</div>
    <div class="grey">② 회사는 금융상품 등에 관한 광고시 보험협회의 생명(손해)보험 광고·선전에 관한 규정을 준수하고, 보험협회의 사전심의 대상인 광고물에 대해서는 동 규정에 따라 반드시 사전심의 절차를 이행하여야 한다.</div>
    <div class="grey">③ 회사는 금융상품 등에 관한 광고물 제작 및 내부 심의를 위해 합리적인 세부 기준 및 절차를 마련하고 공정하게 운영하여야 한다.</div>
    <div class="grey">④ 회사가 금융상품 등에 관한 광고를 하는 경우에는 준법감시인 또는 금융소비 자보호 총괄책임자의 사전심의를 받아야 한다.</div>
    <div class="grey">⑤ 회사가 금융상품에 관한 광고를 하는 경우에는 해당 금융상품의 위탁 보험회 사로부터 사전 확인을 받아야 한다.</div>
    <div class="grey">⑥ 회사는 업무에 관한 광고를 하는 경우에는 한국회사협회의 사전 확인절차를 이행하여야 한다.</div>
    <div class="grey m-35">⑦ 회사는 금융상품판매대리·중개업자의 금융상품 등에 관한 광고를 확인할 때 에는 소요기간을 안내하여야 하며, 정해진 기일내에 확인이 곤란할 경우 그 사유 를 지체없이 금융상품판매대리·중개업자에 통보하여야 한다.</div>
    <div class="bold m-10">제20조(권유, 계약 체결 등 금융소비자 대상 직무 수행)</div>
    <div class="grey">① 회사는 금융상품에 관한 계약 체결의 권유, 계약 체결 등 금융소비자를 대상으 로 하는 직무수행을 담당하는 임직원등의 도입ᆞ양성ᆞ교육ᆞ관리 등에 있어서 관련 법령을 준수하고 건전한 금융거래질서가 유지될 수 있도록 최선의 노력을 다하여야 한다.</div>
    <div class="grey">② 임직원등은 금융소비자를 대상으로 금융상품에 관한 계약 체결의 권유를 하거 나 계약체결을 하는 경우 적합성 원칙, 적정성 원칙, 설명의무, 불공정영업행위의 금지, 부당권유행위의 금지, 광고 준수 등 금융소비자보호법규를 준수하여야 하 며, 관련 법규를 위반하여 불완전판매가 발생하지 않도록 최선의 노력을 다하여야 한다.</div>
    <div class="grey">③ 회사는 설명의무의 합리적인 이행을 위해 설명의 정도, 방식, 위탁 보험회사와 회사간 설명의무 이행범위 등에 대한 자체 기준을 마련할 수 있다.</div>
    <div class="grey">④ 회사는 금융상품의 판매과정에서 회사의 귀책사유로 금융소비자에게 피해가 발생하는 경우에는 신속한 피해구제를 위해 최선의 노력을 다하여야 한다.</div>
    <div class="grey">⑤ 회사는 금융소비자를 보호하기 위해 보험회사의 각 금융상품별 판매준칙을 준 수해야 한다.</div>
    <div class="grey m-35">⑥ 회사는 판매유형별 판매준칙을 마련하고 이를 문서화하여야 하며, 판매준칙을 제정·변경하고자 하는 경우 금융소비자보호 총괄기관과 사전에 협의하여야 한다.</div>
    <div class="bold m-10">제21조(금융소비자와의 이해상충 방지)</div>
    <div class="grey">① 회사는 회사와 금융소비자 간의 이해상충을 방지하기 위한 방법 및 절차를 별 도로 마련하여야 한다.</div>
    <div class="grey">② 임직원등은 금융소비자와 이해상충이 발생하거나 우려되는 경우 금융소비자보 호에 문제가 발생하지 아니하도록 필요한 조치를 취하여야 한다.</div>
    <div class="grey">제22조(금융소비자 보호 관련 교육)</div>
    <div class="grey">① 회사는 임직원등을 대상으로 금융소비자보호법규 준수 등 금융소비자 보호 관 련 교육을 정기·수시로 실시하여야 한다.</div>
    <div class="grey">② 금융소비자보호 총괄기관은 제1항에 따른 금융소비자 보호 관련 교육의 기 획·운영을 총괄한다.</div>
    <div class="grey">제23조(금융소비자의 신용정보, 개인정보 관리)</div>
    <div class="grey">① 금융소비자의 신용정보 및 개인정보를 관리함에 있어서 개인정보보호법, 신용 정보의 이용 및 보호에 관한 법률 등 관련 법령을 준수하고, 선량한 관리자의 주 의로서 관리하며, 허용된 목적 이외의 목적으로는 사용하지 아니하여야 한다.</div>
    <div class="grey">② 회사는 수집된 개인정보를 관리하는 개인정보 관리책임자를 선임하여야 한다.</div>
    <div class="grey">제24조(금융상품에 관한 업무 위탁 및 수수료 지급)</div>
    <div class="grey">① 회사는 금융상품판매대리·중개업자에게 금융상품에 관한 업무를 위탁하는 경 우에 적용되는 업무위탁 및 수수료 지급에 관한 기준을 마련하여야 하고, 이를 점 검하는 내부 절차 등을 마련하여야 한다.</div>
    <div class="grey">② 제1항에 따른 업무위탁 기준은 다음 각 호의 내용을 포함하여야 한다.</div>
    <div class="grey">1. 금융상품판매대리·중개업자와의 위탁계약 체결ᆞ해지 절차</div>
    <div class="grey">2. 금융상품판매대리·중개업자의 업무수행과 관련하여 금융소비자보호법규, 금융소비자보호 내부통제기준, 금융소비자보호기준, 개인정보보호 대책 및 관련 법 규, 관련 세부지침(이하 총칭하여 “규정등”이라 한다)의 준수 여부를 점검ᆞ관 리하는 절차 및 점검・관리하는 조직·책임자</div>
    <div class="grey">3. 제2호에 따른 점검ᆞ관리 업무 수행 결과를 금융소비자보호 총괄책임자에게 보고하는 절차</div>
    <div class="grey">4. 고객정보의 보호(정보접근 제한, 정보유출 방지대책) 대책 및 관련 법규의 준 수에 관한 사항</div>
    <div class="grey">5. 내·외부 감사인의 자료접근권 보장</div>
    <div class="grey">6. 업무위탁계약의 주요 기재사항</div>
    <div class="grey">7. 금융상품판매대리·중개업자의 실적 등에 대한 기록 관리</div>
    <div class="grey">8. 금융상품판매대리·중개업자에 대한 교육프로그램, 교육주기, 교육방법 등에 관한 사항</div>
    <div class="grey">9. 보수교육 미이수자에 대한 업무위탁 제한에 관한 사항</div>
    <div class="grey">10. 금융상품판매대리·중개업자 선정 및 위탁 업무 수행에 관한 평가 기준</div>
    <div class="grey">11. 금융상품판매대리·중개업자가 규정등을 위반할 경우 제재 및 구상기준</div>
    <div class="grey">③ 제1항에 따른 수수료 지급에 관한 기준은 다음 각 호의 내용을 포함하여야 한다.</div>
    <div class="grey">1. 금융상품에관한업무위탁관련수수료지급과환수에관한기준및절차등 에 관한 사항</div>
    <div class="grey">2. 금융상품 판매대리·중개업자의 위탁 업무 수행에 관한 평가 기준</div>
    <div class="grey">3. 제2호에 따른 평가 결과를 수수료에 반영하는 사항</div>
    <div class="grey">4. 그 밖에 관계법규 등의 준수를 위해 필요한 사항</div>
    <div class="grey">④ 회사는 보험회사와 금융상품에 관한 업무위탁계약을 체결할 때에 다음 각 호 의 내용을 포함하여야 한다.</div>
    <div class="grey">1. 금융상품판매대리·중개업자에게 위탁하는 업무의 범위</div>
    <div class="grey">2. 위탁자인 회사의 감사 권한</div>
    <div class="grey m-35">3. 수수료 지급에 관한 기준 및 위탁 업무 수행에 관한 평가 기준 4. 금융상품판매대리·중개업자의 규정등 준수 의무</div>
    <div class="sec01 m-35">제5장 금융소비자보호 내부통제기준 준수 여부에 대한 점검ᆞ조치 및 평가</div>
    <div class="bold m-10">제25조(금융소비자보호 내부통제기준 준수 여부 점검 및 평가)</div>
    <div class="grey">① 금융소비자보호 총괄책임자는 임직원등의 금융소비자보호 내부통제기준 준수 여부를 업무의 중요도 및 위험도 등을 감안하여 주기적으로 점검하여야 한다.</div>
    <div class="grey">② 금융소비자보호 총괄책임자는 각 조직단위의 장으로 하여금 금융소비자보호 총괄책임자가 정한 방법에 따라 소관조직 및 소관업무에 대한 금융소비자보호 내 부통제기준 위반 여부를 점검하게 할 수 있다.</div>
    <di class="grey"v>③ 제2항에 따라 점검을 실시한 경우 각 조직단위의 장은 점검결과를 금융소비자 보호 총괄책임자에게 보고하여야 한다.</di>
    <div class="grey">④ 금융소비자보호 총괄책임자는 금융소비자보호 내부통제기준 등의 준수여부를 점검하는 과정에서 위법ᆞ부당행위 발견 시 직접 조사하거나 필요한 경우 검사조 직에 조사를 의뢰할 수 있다.</div>
    <div class="grey">⑤ 금융소비자 총괄책임자는 제1항 및 제3항에 따른 점검 결과를 평가하여, 대표 이사 및 금융소비자보호 내부통제위원회에 보고하여야 한다.</div>
    <div class="grey m-35">⑥ 회사는 제1항 내지 제4항에 따른 점검의 방법, 위규 사실 확인시 조치사항 등 에 관한 사항이 포함된 세부기준을 마련하여 시행한다.</div>
    <div class="bold m-10">제26조(금융소비자보호 내부통제기준 위반 시 처리)</div>
    <div class="grey">① 회사는 금융소비자보호 내부통제기준의 위반행위의 정도, 위반횟수, 위반행위 의 동기와 그 결과 등을 감안하여 관련 부서 및 임직원등에 대한 조치 방안을 마 련하여야 한다.</div>
    <div class="grey">② 금융소비자보호 총괄책임자는 금융소비자보호 내부통제기준 위반사항에 대해 관련 부서에 시정 또는 개선을 요구하거나 검사를 의뢰할 수 있으며 징계 등 필 요한 인사조치를 요구할 수 있다. 이 경우 해당 부서장은 특별한 사정이 없는 한 요구에 응하여야 한다.</div>
    <div class="grey m-35">③ 회사는 중대한 위법・부당행위의 발견 등 필요한 경우 준법감시인 또는 감사 부서에 보고할 수 있다.</div>
    <div class="sec01 m-35">제6장 금융소비자 대상 직무수행자의 교육수준 또는 자격</div>
    <div class="bold m-10">제27조(금융소비자 대상 직무수행자의 교육수준 또는 자격)</div>
    <div class="grey">① 회사는 금융상품 판매를 담당하는 임직원등에 대하여 금융상품의 위험도ᆞ복 잡성 등 금융상품의 내용 및 특성을 숙지하고, 윤리역량을 강화하기 위한 교육관 련 지침을 마련하고, 관련 교육을 정기적으로 실시하여야 한다.</div>
    <div class="grey">② 회사는 금융상품의 위험도, 소비자의 유형에 따라 금융상품 판매를 담당하는 직원이 갖추어야 할 교육수준 또는 자격에 관한 세부기준을 마련하여야 한다.</div>
    <div class="grey">③ 회사는 제2항에 따른 교육수준 또는 자격을 갖추지 않은 자로 하여금 금융상 품 계약체결 권유와 관련된 업무를 하도록 하여서는 아니되며, 금융상품 판매를담당하는 직원의 관련 법규 및 내규에 따른 판매자격 보유 여부를 정기적으로 확 인하여야 한다.</div>
    <div class="grey">④ 회사는 금융상품의 위험도, 소비자의 유형에 따라 판매자격별로 적절한 보수교 육 및 재취득 절차를 마련하여야 한다.</div>
    <div class="grey">⑤ 회사는 본사 및 영업점별 교육 담당자를 지정하고, 각 담당자를 통해 직무수행 관련 충분한 교육이 이뤄지고 있는지 점검·관리하여야 한다.</div>
    <div class="grey m-35">⑥ 회사는 제1항에 따른 직무수행 교육을 받지 않은 자에게 계약체결 권유와 관 련된 업무를 위탁할 수 없다.</div>
    <div class="sec01 m-35">제7장 업무수행에 대한 보상체계 및 책임확보 방안</div>
    <div class="bold m-10">제28조(보상체계 및 책임확보 방안)</div>
    <div class="grey">① 회사는 금융상품을 판매하는 과정에서 판매담당 임직원등과 금융소비자의 이 해상충이 발생하지 않도록 판매담당 임직원등에 대한 평가 및 보상체계를 설계하 여야 한다.</div>
    <div class="grey">② 회사는 판매담당 임직원등에 대한 평가 및 보상체계에 판매실적 이외에도 고 객만족도 및 내부통제 항목을 반영하여 소비자보호 관점에서 균형있는 성과보상 체계가 운영되도록 하여야 한다.</div>
    <div class="grey">③ 회사는 제2항에 따른 성과보상체계를 운영함에 있어 불완전판매건수, 고객수익 률, 소비자만족도 조사결과, 계약관련 서류의 충실성, 판매절차의 적정성 점검결 과 등 관련 요소를 충분히 반영하여 평가결과에 실질적으로 차별화되도록 운영하 여야 한다.</div>
    <div class="grey">④ 회사는 특정 금융상품 판매실적을 판매담당 임직원등에 대한 성과평가지표와 연계하여서는 아니된다.</div>
    <div class="grey">⑤ 소비자들이 불건전영업행위, 불완전판매 등 판매담당 임직원등의 귀책사유로 금융거래를 철회·해지하는 경우 회사는 판매담당 임직원등에 이미 제공된 금전 적 보상을 환수할 수 있으며, 이를 위해 보상의 일정부분은 소비자에게 상품 및 서비스가 제공되는 기간에 걸쳐 분할 또는 연기하여 제공할 수 있다.</div>
    <div class="grey">⑥ 금융소비자보호 총괄기관은 금융소비자보호 관점에서 판매담당 임직원등에 대 해 적용되는 평가 및 보상체계가 적절히 설계되어 있는지를 사전에 검토하여야 하며, 판매담당 임직원등에 대한 평가 및 보상체계의 개선 필요성 등 검토 결과를 대표이사 및 내부통제위원회에 보고하여야 한다.</div>
    <div class="grey m-35">⑦ 제6항을 위하여 회사는 성과보상체계 설정 부서는 금융소비자보호 총괄기관의 의견을 필수적으로 사전에 확인하여야 한다.</div>
    <div class="sec01 m-35">제8장 금융소비자보호 내부통제기준의 제정ᆞ변경 절차</div>
    <div class="bold m-10">제29조(금융소비자보호 내부통제기준의 제ᆞ개정)</div>
    <div class="grey">① 관련 법령 제ᆞ개정, 대규모 소비자 피해, 감독당국의 유권해석, 금융소비자보 호 총괄기관 등의 개선 요구 등이 있는 경우 회사는 이를 반영하기 위한 이 기준 의 제정ᆞ변경 절차를 진행하여야 한다.</div>
    <div class="grey">② 이 기준등의 제정ᆞ변경을 추진하는 부서는 금융소비자보호 총괄기관과 사전 에 협의하여야 하며, 금융소비자 총괄기관은 이 기준등의 제정ᆞ변경 필요성을 금 융소비자 보호 측면에서 검토하고 대표이사에게 검토 결과를 보고하여야 한다.</div>
    <div class="grey">③ 회사가 이 기준등을 제정ᆞ변경하는 경우 이사회의 승인을 받아야 한다. 다만, 다음 각 호의 어느 하나에 해당하는 경미한 사항을 변경하는 경우에는 대표이사 의 승인으로 갈음할 수 있다.</div>
    <div class="grey">1. 법령 또는 관련 규정의 제정ᆞ개정에 연동되어 변경해야 하는 사항 </div>
    <div class="grey">2. 이사회가 의결한 사항에 대한 후속조치</div>
    <div class="grey">3. 그 밖에 제1호 및 제2호에 준하는 사항</div>
    <div class="grey m-35">④ 회사는 이 기준등을 제정ᆞ변경한 경우 제정ᆞ변경사실 및 그 이유, 소비자에 게 미치는 영향, 적용시점 및 적용대상 등을 구분하여 인터넷 홈페이지에 게시하 여야 하고, 임직원이 확인할 수 있는 방법으로 안내하여야 하며, 필요 시 이에 대 한 교육을 실시할 수 있다.</div>
    <div class="sec01 m-35">제9장 고령자 및 장애인의 금융거래 편의성 제고, 재산상 피해 방지</div>
    <div class="bold m-10">제30조(고령금융소비자의 편의성 제고 및 재산상 피해 방지)</div>
    <div class="grey">① 회사는 고령금융소비자가 금융상품을 정확히 이해하고 적절한 금융거래를 할 수 있도록 금융상품 판매시 고령금융소비자에게 발생할 수 있는 위험요인을 점검 하고, 강화된 판매절차 등을 정하여 운영함으로써 재산상 피해를 방지하여야 한 다.</div>
    <div class="grey">② 고령금융소비자는 65세 이상 금융소비자를 원칙으로 하나, 회사는 금융상품의 특성, 금융소비자의 금융상품 이해정도, 금융거래 경험, 재산 및 소득상황 등을 감안하여 자체적으로 고령금융소비자 분류기준을 마련할 수 있다.</div>
    <div class="grey m-35">③ 회사는 고령자의 금융거래 편의성 제고 및 재산상 피해 방지 등에 관한 세부 사항을 지침 등에서 별도로 정할 수 있다</div>
    <div class="bold m-10">제31조(장애인의 금융접근성 제고 및 재산상 피해 방지)</div>
    <div class="grey">① 회사는 장애인의 금융거래 편의성을 제고하고 재산상 피해를 방지하기 위해 노력하여야 한다.</div>
    <div class="grey">② 회사는 일선 창구에서 준수할 장애 유형별 세부 고객응대 지침을 마련하고 점포별로 장애인에 대한 응대요령을 숙지한 직원을 배치하며, 관련 상담‧거래‧민원접 수 및 안내 등을 위한 인프라를 구축하여야 한다.</div>
    <div class="grey">③ 회사는 장애인이 모바일‧인터넷 등 비대면 거래를 원활하게 할 수 있도록 전자 금융 이용 편의성을 제고하여야 한다.</div>
    <div class="grey m-35">④ 회사는 장애인의 금융거래의 편의성 제고 및 재산상 피해 방지 등에 관한 세 부사항을 지침 등에서 별도로 정할 수 있다.</div>
    <div class="bold m-10">제32조(세부지침의 위임)</div>
    <div class="grey m-35">이 기준의 시행에 필요한 세부사항은 대표이사가 별도로 정하는 바에 따른다.</div>
    <div class="sec01 m-35">부칙</div>
    <div class="bold m-10">제1조(시행일)</div>
    <div class="grey m-100">이 기준은 2021년 9월 14일부터 시행한다.</div>
    <div class="footer">
        <div>
            서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층
        </div>
        <div>
            Copyright ⓒ AFG. ALL RIGHTS RESERVED
        </div>
    </div>     
</div> 





