<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="title">
  <meta name="copyright" content="Copyright ⓒ authentic">
  <meta name="description" content="">
  <title>(주)어센틱금융그룹</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- kumb -->
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- bonmi stylesheet -->
  <link rel="stylesheet" type="text/css" href="../../css/style.css">

  <!-- jquery -->
  <script src="../../js/ui/lib/jquery-1.11.1.min.js"></script>
  <script src="../../js/ui/lib/parallax.js"></script>

  <!-- Slick Slide -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- Swiper Slider -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  <!-- AOS animation -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- TypeIT JS -->
  <script src="https://unpkg.com/typeit@8.7.0/dist/index.umd.js"></script>

  <!-- partial -->
  <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426'></script>
  <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js'></script>



  <!-- bonme script -->
  <script src="../../js/ui/page.js" type="text/javascript"></script>
  
</head>

<body class="hidden">

  <div id="loading-page">
    <div class="text">
      <span><img src="../../img/loading-logo.png" alt=""></span>
      <span><img src="../../img/loading-logo.png" alt=""></span>
    </div>
  </div>

<!--
  <div id="loading-bar">
    isLoading ...
  </div>
  -->
  <div id="wrapper">

    <!-- Header Area Start -->
<header>
    <div class="inner">

        <!-- Logo Area Start -->
        <div id="logo">
            <h1>
                <a href="/" class="ir">AUTHENTIC FINANCIAL GROUP</a>
            </h1>
        </div>

        <!-- Gnb Area Start -->
        <div class="menu">
            <button type="button" class="menu-btn">
                <span></span>
                <span></span>
            </button>
            <div id="gnb">
                <ul>
                    <li>
                        <a href="../sub/company.html">
                            <span>01</span>
                            회사소개
                        </a>
                    </li>
                    <li>
                        <a href="../sub/collection.html">
                            <span>02</span>
                            컬렉션
                        </a>
                    </li>
                    <li>
                        <a href="../sub/system.html">
                            <span>03</span>
                            시스템
                        </a>
                    </li>
                    <li>
                        <a href="../sub/studio.html">
                            <span>04</span>
                            스튜디오
                        </a>
                    </li>
                    <li>
                        <a href="../sub/news.html">
                            <span>05</span>
                            뉴스
                        </a>
                    </li>
                    <li>
                        <a href="../sub/recruit.html">
                            <span>06</span>
                            채용
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</header><!-- Header Area End -->

    <div id="wrap" class="">

      <div class="">
          <!-- icr 작업영역 -->
          

<!-- recruit -->
<div id="recruit-wrap">
    <!-- components -->
    <div class="inner">
        <div class="title-msg-wrap">
            <h1 class="title-msg">
                <div class="overflow-hidden">
                    <p class="fadeUpAni">어센틱금융그룹과 함께할 </p>
                </div>
                <div class="overflow-hidden">
                    <p class="fadeUpAni delayOne">잠재력 있는 인재를 모십니다</p>
                </div>
            </h1>
            <div class="title-nav overflow-hidden">
                <ul class="fadeUpAni delayTwo">
                    <li class="dep1">
                        <a href="/">HOME</a>
                    </li>
                    <i><img src="../../img/sub-nav-arrow.png" alt="sub nav arrow"></i>
                    <li class="dep2">
                        <a href="javascript:void(0);">
                            채용
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- components -->


    <!-- banner -->
    <div class="overflow-hidden">
        <div class="recruit-banner scaleAni"></div>
    </div>
    <!-- //banner -->


    <!-- cont wrap -->
    <div class="recruit-cont-wrap">

        <!-- section1 -->
        <section class="recruit-sec1" data-color="white">
            <div class="inner">

                <div class="sub-tit-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750">
                    <h2>LET’S WORK<br />
                        EASY AND</h2>
                    <p>어센틱금융그룹은 체계적인 교육 시스템과 전략적인 맞춤 시장 제공,<br />
                        성과를 낼 수 있는 업무 환경이 구축되어 있습니다. </p>
                </div>
                <ul class="cont-txt-box acc-type1">
                    <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750">
                        <h3>필드 중심 기업문화</h3>
                        <p>어센틱금융그룹은 열정적이고 도전적인 어센틱 플래너의 성공을 지원하는<br />
                            현장 중심의 기업문화에 최고의 가치를 두고 있습니다.​</p>
                    </li>
                    <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750">
                        <h3>공정한 성공의 기회</h3>
                        <p> 어센틱금융그룹의 모든 어센틱 플래너는 동일한 기회와 기준 아래 누구나<br />
                            공정한 성공의 기회가 주어집니다. </p>
                    </li>
                    <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750">
                        <h3>디지털노마드 어센틱</h3>
                        <p>어센틱금융그룹은 어센틱 플래너의 업무 지원을 위해 다양한 기술 개발 및<br /> 혁신으로 업무 편의성 향상과 디지털 업무 확대를 강화하고 있습니다.​</p>
                    </li>
                </ul>
            </div>
        </section>
        <!-- //section1 -->

        <!-- section2 -->
        <section class="recruit-sec2" data-color="black">

            <div class="top-txt-area">
                <div class="inner">
                    <div class="sub-tit-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750">
                        <h2>MEET OUR PEOPLE</h2>
                        <p>어센틱금융그룹의 업무 환경과 다양한 장점, AFG시스템을<br />
                            현재 근무하고 있는 어센틱플래너의 이야기를 통해 들어보세요.</p>
                    </div>
                    <a href="https://www.youtube.com/channel/UCVqm7z5vVda537C1U1xDNpw/videos" target="_blank" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750"
                        class="youtube-btn">View all videos</a>
                </div>
            </div>

            <div class="box-wrap">
                <!-- youtube list box -->
            <div id="people-list" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750">
                <div class="video-item">
                    <a href="javascript:void(1);" class="video-play">
                        <div class="img show">
                            <img src="../../img/people-list-img1.png" alt="people-list-img1">
                        </div>
                        <div class="slide-video" data-youtube="https://www.youtube.com/embed/BpwhyPPKhe8"></div>
                    </a>
                </div>
                <div class="video-item">
                    <a href="javascript:void(1);" class="video-play">
                        <div class="img show">
                            <img src="../../img/people-list-img2.png" alt="people-list-img2">
                        </div>
                        <div class="slide-video" data-youtube="https://www.youtube.com/embed/FnDqdYbB8V4"></div>
                    </a>
                </div>
                <div class="video-item">
                    <a href="javascript:void(1);" class="video-play">
                        <div class="img show">
                            <img src="../../img/people-list-img4.png" alt="people-list-img4">
                        </div>
                        <div class="slide-video" data-youtube="https://www.youtube.com/embed/vYS2bWNa-tg"></div>
                    </a>
                </div>
            </div>
            <!-- //youtube list box -->
            </div>

        </section>
        <!-- //section2 -->

        <!-- section3 -->
        <section class="recruit-sec3" data-color="white">
            <div class="inner">


                <div class="sub-tit-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750">
                    <h2>Why choose<br />
                        authentic?</h2>
                </div>

                <!-- text-acc-area -->
                <div class="text-acc-area" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750">
                    <p>THE FINANCE<br />
                        WEARS<br />
                        FASHION</p>
                </div>
                <!-- //text-acc-area -->


                <ul class="cont-txt-box acc-type2">
                    <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750">
                        <h3><i><img src="../../img/recruit-tit-acc2.png"></i>혁신의 DNA를 전파하다</h3>
                        <p>어센틱금융그룹은 끊임없이 성장과 혁신을 추구하고 있습니다. 금융업 기본에 충실하되 단순한 보험업을 넘어 혁신의 선도적 브랜드로 자리잡기 위해 INNOVATION AFG
                            선언을 통해 혁신적인 기업으로 거듭나고 있습니다. </p>
                    </li>
                    <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750" data-aos-delay="200">
                        <h3><i><img src="../../img/recruit-tit-acc2.png"></i>트렌드를 주도하다</h3>
                        <p>어센틱금융그룹은 보험 그 이상의 가치와 혁신을 담은 브랜딩과 디자인, 기존의 시상식 컨셉과 차별화된 컨벤션 행사까지 혁신적인 브랜딩과 마케팅으로 트렌드를 주도하고
                            있습니다.</p>
                    </li>
                    <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750" data-aos-delay="400">
                        <h3><i><img src="../../img/recruit-tit-acc2.png"></i>다양한 배경의 구성원</h3>
                        <p>서로 다른 가치관, 문화적 배경, 경험을 가진 구성원들이 어센틱금융 그룹의 끊임없는 변화와 혁신을 주도하고 있습니다. 또한, 다양한 분야에서 신입 인재를 발굴하는 등
                            다양성을 견인할 수 있는 여러 제도를 시행하고 있습니다.</p>
                    </li>
                </ul>

            </div>
        </section>
        <!-- //section3 -->


        <!-- section4 -->
        <section class="recruit-sec4" data-color="black">
            <div class="inner">

                <div class="sub-tit-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750">
                    <h2>BENEFIT</h2>
                </div>

                <!-- text-acc-area -->
                <div class="text-acc-area" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750">
                    <p>어센틱금융그룹은 관계사와의 협업을 통해 AFG만의 다양한 베네핏을<br>
                        어센틱플래너에게 제공해드리고 있어요.
                    </p>
                </div>
                <!-- //text-acc-area -->


                <table class="box-style-wrap" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750">
                    <tbody>
                        <tr>
                            <td class="box">
                                <div class="item item01">
                                    <span>01</span>
                                    <div class="bottom-tit">
                                        <b>HOTEL & RESORT</b>
                                        <p>
                                            국내 호텔&리조트 중 단연 최고의 규모를<br />
                                            자랑하는 관계사를 통한 베네핏 제공
                                        </p>
                                    </div>
                                    <div class="bg-dim"></div>
                                </div>
                            </td>
                            <td class="box">
                                <div class="item item02">
                                    <span>02</span>
                                    <div class="bottom-tit">
                                        <b>CARE SERVICE</b>
                                        <p>
                                            회사와 제휴를 맺고 있는 병원에서<br />
                                            종합건강검진을 지원
                                        </p>
                                    </div>
                                    <div class="bg-dim"></div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="box">
                                <div class="item item03">
                                    <span>03</span>
                                    <div class="bottom-tit">
                                        <b>WELCOME PACKAGE</b>
                                        <p>
                                            입사자에게 건네는 어센틱의 첫인사, 웰컴패키지<br />
                                            공책,펜,뱃지 등 직원들의 의견을 반영한 패키지 제공
                                        </p>
                                    </div>
                                    <div class="bg-dim"></div>
                                </div>
                            </td>
                            <td class="box">
                                <div class="item item04">
                                    <span>04</span>
                                    <div class="bottom-tit">
                                        <b>TOUR</b>
                                        <p>
                                            직원들의 업무 능률 향상을 위해<br />
                                            세련된 문화의 시상과 여행 프로그램을 제공
                                        </p>
                                    </div>
                                    <div class="bg-dim"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="box">
                                <div class="item item05">
                                    <span>05</span>
                                    <div class="bottom-tit">
                                        <b>FAMILY SALE</b>
                                        <p>
                                            관계사와 할인 제휴를 통해<br />
                                            다양한 품목들을 할인가로 구매 지원
                                        </p>
                                    </div>
                                    <div class="bg-dim"></div>
                                </div>
                            </td>
                            <td></td>
                            <td class="box">
                                <div class="item item06">
                                    <span>06</span>
                                    <div class="bottom-tit">
                                        <b>AFG GOODS</b>
                                        <p>
                                            어센틱 아이덴티티를 담고 있는<br />
                                            다양한 어센틱 굿즈 제공
                                        </p>
                                    </div>
                                    <div class="bg-dim"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </section>
        <!-- //section4 -->

        <!-- section4 -->
        <section class="recruit-sec5" data-color="white">
            <div class="inner">

                <div class="side-input-link">
                    <a href="javascript: void(0);" id="contect-btn" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="750">
                        <b>CONTACT</b>
                        Let’s something great! <i><img src="../../img/big-arrow-right.png"
                                alt="a-link-arrow"></i></a>
                </div>


            </div>
        </section>
        <!-- //section5 -->

    </div>
</div>
<!-- //cont wrap -->

<!-- //recruit pg-->

<!-- contect 옆으로 나오는 팝업창 -->
<div class="aside-popup-wrapper">
    <div class="overlay-bg"></div>
    <div class="popup-right-inner">
        <a href="javascript:void(0);" class="close-popup"><i><img src="../../img/pop-up-closebtn.png"></i></a>

        <div class="overflow-section">
            <div class="inner">
                <section class="sub-top-titlebox">
                    <h2 class="tit-txt">JOIN AFG</h2>
                    <p>어센틱금융그룹의 체계적인 시스템을 통해서 자신의 가치와 역량이<br>
                        마음껏 키워지길 진심으로 바랍니다.</p>
                </section>

                <!-- sub01 -->
                <section class="sub01">
                    <div class="sub-title-area">
                        <span>01.</span>
                        <h3 class="tit-txt">당신을 소개해주세요.</h3>
                    </div>

                    <ul class="form-box">
                        <li>
                            <input type="text" placeholder="이름" class="name">
                        </li>
                        <li>
                            <input type="email" placeholder="이메일" class="email">
                        </li>
                        <li>
                            <input type="text" placeholder="전화번호" class="number">
                        </li>
                    </ul>
                </section>
                <!-- //sub01 -->

                <!-- sub02 -->
                <section class="sub02">
                    <div class="sub-title-area">
                        <span>02.</span>
                        <h3 class="tit-txt">당신을 소개해주세요.</h3>
                    </div>

                    <div class="textarea-box">
                        <textarea
                            placeholder="자유롭게 작성해주세요. (지원동기, 비전 등)&#13;&#10;*파일첨부:이력서 등 최대 2개까지 업로드 가능"></textarea>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="agreeChk">
                            <span>개인정보 수집이용 동의</span>
                        </label>
                    </div>
                </section>
                <a href="javascript:void(0);">입사 지원하기</a>

            </div>
        </div>
    </div>
</div>
<!-- //contect 옆으로 나오는 팝업창 -->


<!-- background-color 변경 -->
<script defer>
    /* $(window).scroll(function () {
        const $window = $(window),
            $wrapper = $('#recruit-wrap'),
            $section = $('section');


        const scroll = $window.scrollTop() + ($window.height() / 2);

        $section.each(function () {
            const $this = $(this);

            if ($this.position().top <= scroll && $this.position().top + $this.height() > scroll) {
                $wrapper.removeClass(function (index, css) {
                    return (css.match(/(^|\s)color-\S+/g) || []).join(' ');
                });
                $wrapper.addClass('color-' + $(this).data('color'));
            }
        });
    }).scroll(); */




    $(window).scroll(function () {

        const windowScroll = $(window).scrollTop();
        const windowHeight = $(window).innerHeight() / 2;
        const sec02 = $('.recruit-sec2');
        const sec04 = $('.recruit-sec4');
        const sec02Top = sec02.offset().top;
        const sec04Top = sec04.offset().top;
        const sec02Height = sec02.innerHeight();
        const sec04Height = sec04.innerHeight();

        // const sec02AniStart = $('.recruit-sec1 .acc-type1 li:nth-child(2)');
        // const sec04AniStart = $('.recruit-sec3 .acc-type2')
        // // console.log(sec02AniStart.offset().top)


        // // console.log(windowScroll)

        // if(windowScroll >= sec02AniStart.offset().top && windowScroll < sec02Top + sec02Height){
        //     $('#recruit-wrap').addClass('black');
        // }else if(windowScroll >= sec04AniStart.offset().top && windowScroll < sec04Top + sec04Height){
        //     $('#recruit-wrap').addClass('black');
        // }else{
        //     $('#recruit-wrap').removeClass('black')
        // }


        if(windowScroll > sec02Top && windowScroll < sec02Top + sec02Height){
            // sec02.addClass('black');
            $('#recruit-wrap').addClass('black');
        }else if(windowScroll > sec04Top && windowScroll < sec04Top + sec04Height){
            // sec04.addClass('black');
            $('#recruit-wrap').addClass('black');
        }else{
            // sec02.removeClass('black');
            // sec04.removeClass('black');
            $('#recruit-wrap').removeClass('black')
        }


    });





    //video btn click -> youtube로 변경




    //toggle side-popup
    const contBody = document.getElementById('wrap');
    const contBtn = document.getElementById('contect-btn');
    const contPopUp = document.querySelector('.aside-popup-wrapper');
    const contClose = document.querySelector('.close-popup');

    // function toggleCont() {
    //     const clickedClass = 'show';
    //     const wrapperUp = 'up';
    //     if (contPopUp.classList.contains(clickedClass)) {
    //         contPopUp.classList.remove(clickedClass);
    //     } else {
    //         contPopUp.classList.add(clickedClass);
    //         contBody.classList.add(wrapperUp);
    //     }
    // }

    // contBtn.addEventListener('click', toggleCont);

    function closeCont() {
        // contPopUp.classList.remove('show');
        // contBody.classList.remove('up');
        alert('준비중입니다.')
    }
    contClose.addEventListener('click', closeCont);



    $('#people-list .video-item .video-play').click(function () {
        $('#people-list .video-item .video-play').removeClass('on');
        $(this).addClass('on');
        var playurl = '',
            playHtml = '';

        playurl = $(this).children('.slide-video').attr('data-youtube');
        playHtml
            += '<iframe width="1023" height="575" src="' + playurl + "?autoplay=1" +'" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
        $(this).children('.slide-video').html(playHtml);
    });
    
    
</script>

<script>
    AOS.init();
</script>


          <!--// icr 작업영역 -->
      </div>

    </div>

    <!-- Footer Area Start -->
<footer>
    <div class="inner">

        <!-- Top-info Area Start -->
        <div class="top-info">
            <div class="family-site">
                <button type="button" class="family-site-btn">
                    <span>FAMILY SITE</span>
                    <img src="../../img/plus-icon.png" alt="plus-icon">
                </button>
                <ul>
                    <li><a href="javascript: void(0);">어센틱 몰</a></li>
                    <li><a href="javascript: void(0);">어센틱 에듀</a></li>
                    <li><a href="javascript: void(0);">어센틱 케어</a></li>
                    <li><a href="javascript: void(0);">어센틱 테일러드</a></li>
                    <li><a href="javascript: void(0);">어센틱 라인</a></li>
                    <li><a href="javascript: void(0);">어센틱 링크</a></li>
                    <li><a href="javascript: void(0);">어센틱 라운지</a></li>
                </ul>
            </div>
            <div class="sns">
                <ul>
                    <li><a href="https://www.instagram.com/afg.kr/" target="_blank" class="no-motion">인스타그램</a></li>
                    <li><a href="https://www.youtube.com/channel/UCVqm7z5vVda537C1U1xDNpw" target="_blank" class="no-motion">유튜브</a></li>
                </ul>
            </div>
        </div>

        <!-- Bottom-info Area Start -->
        <div class="bottom-info">
            <div class="copyright">(주)어센틱금융그룹 © 2022</div>
            <p>
                <span>주소  서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층</span>
                <span>사업자 등록번호  626-87-00900    대표번호  1566 0428</span>
                <span>보험대리점등록번호 : 제2018040001 | 보험대리점등록증[클릭]</span>
            </p>
            <div class="corp-area">
                <ul>
                    <li><a href="javascript: void(0);">이용약관</a></li>
                    <li><a href="javascript: void(0);">개인정보처리방침</a></li>
                    <li><a href="javascript: void(0);">금융소비자보호기준</a></li>
                    <li><a href="javascript: void(0);">금융소비자보호 내부통제기준</a></li>
                </ul>
            </div>
            <div class="footer-circle">
                <button id="top-btn">
                    <span class="arrow"><img src="../../img/big-arrow-top.png" alt="arrow-top"></span>
                    <span class="circle"><img src="../../img/footer-circle.png" alt="footer-circle"></span>
                </button>
            </div>
        </div>

    </div>
</footer><!-- Footer Area End -->


  </div>

</body>

</html>
