<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="title">
  <meta name="copyright" content="Copyright ⓒ Cafe24 Corp.All Rights Reserved.">
  <meta name="description" content="">
  <title>AFG</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- kumb -->
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- bonmi stylesheet -->
  <link rel="stylesheet" type="text/css" href="../../css/style.css">

  <!-- jquery -->
  <script src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/js/ui/lib/jquery-1.11.1.min.js"></script>

  <!-- Slick Slider -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- Swiper Slider -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  <!-- AOS animation -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- bonme script -->
  <script src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/js/ui/page.js" type="text/javascript"></script>

  
  
</head>


<body class="hidden">

  <div id="loading-page">
    <div class="text">
      <span><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/loading-logo.png" alt=""></span>
      <span><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/loading-logo.png" alt=""></span>
    </div>
  </div>
 <!-- 개인정보처리방침 start -->
 <div class="personal-information-processing-policy">
  <div id="personal-information-processing-policy-inner">
    
    
  </div>
  <div class="mo-footer">
    <div>
      서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층<br>
      Copyright ⓒ AFG. ALL RIGHTS RESERVED
    </div>
</div>
</div>

<script>
  function closeOne(){
    document.querySelector('.personal-information-processing-policy').style.display = 'none';
    document.querySelector('body').style.overflow = 'auto';
  }
</script>
<!-- 개인정보처리방침 end -->

<!-- 보험대리점등록증 start -->
<div class="insurance">
  <div id="insurance">
  
  </div>
  <div class="mo-footer">
    <div>
        서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층<br>
        Copyright ⓒ AFG. ALL RIGHTS RESERVED
    </div>
</div>
</div>

<script>
  function closeTwo(){
    document.querySelector('.insurance').style.display = 'none';
    document.querySelector('body').style.overflow = 'auto';
  }
</script>
<!-- 보험대리점등록증 end -->
<!-- 금융소비자 보호기준 start -->
<div class="financial-standards">
  <div id="financial-standards">

  </div>
</div>

<script>
  function closeThree(){
    document.querySelector('.financial-standards').style.display = 'none';
    document.querySelector('body').style.overflow = 'auto';
  }
</script>
<!-- 금융소비자 보호기준 end -->
<!-- 금융소비자 내부통제기준 start -->
<div class="internal-control-standards">
  <div id="internal-control-standards">

  </div>
</div>

<script>
  function closeFour(){
    document.querySelector('.internal-control-standards').style.display = 'none';
    document.querySelector('body').style.overflow = 'auto';
  }
</script>
<!-- 금융소비자 내부통제기준 end -->
  <div id="wrapper">

    <!-- Header Area Start -->
<header class="sub-header">
    <div class="inner">

        <!-- Logo Area Start -->
        <div id="logo">
            <h1>
                <a href="../main/index.html" class="ir">AUTHENTIC FINANCIAL GROUP</a>
            </h1>
        </div>

        <!-- Gnb Area Start -->
        <div class="menu">
            <button type="button" class="menu-btn">
                <span></span>
                <span></span>
            </button>
            <div id="gnb">
                <ul>
                  <li>
                    <a href="./company.html">
                        <span>01</span>
                        ABOUT
                    </a>
                </li>
                <li>
                    <a href="./collection.html">
                        <span>02</span>
                        COLLECTION
                    </a>
                </li>
                <li>
                    <a href="./system.html">
                        <span>03</span>
                        SYSTEM
                    </a>
                </li>
                <li>
                    <a href="./studio.html">
                        <span>04</span>
                        STUDIO
                    </a>
                </li>
                <li>
                    <a href="./news.html">
                        <span>05</span>
                        NEWS
                    </a>
                </li>
                <li>
                    <a href="./recruit.html">
                        <span>06</span>
                        RECRUIT
                    </a>
                </li>
                </ul>
            </div>
        </div>

    </div>
</header><!-- Header Area End -->

    <div id="wrap" class="">

      <div class="">
          <!-- icr 작업영역 -->
          

<style>
  footer {
    display : none;
  }
  .footer {
    display : block; 
    position : static;
  }
</style>

<div id="collection-case04-wrap">

  <!-- components -->
  <div id="collection-visual">
    <div class="title-wrap">
      <div class="overflow-hidden">
        <h2 class="fadeUpAni">2022 F/W collection</h2>
      </div>
      <div class="overflow-hidden">
        <p class="fadeUpAni delayOne">
          Hyatt Regency Guam<br>
          ( 2022. 11. 09 - 11. 12 )
        </p>
      </div>
    </div>
    <div class="dim"></div>
    <video autoplay loop muted>
      <source src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/video/collection-2022FW.mp4" type="video/mp4">
    </video>
  </div>
  <!-- components -->

  <section id="collection-contents-wrap">
    <div class="arrow-wrap"></div>

    <section class="sec01">
      <div class="inner">
        <div class="text-wrap">
          <h6 class="title" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300" data-aos-easing="linear"
            data-aos-delay="200">“White & beige”</h6>
          <p data-aos="fade-up" data-aos-duration="500" data-aos-offset="300" data-aos-easing="linear"
            data-aos-delay="300">
            어센틱의 2022 f/w 컬렉션<br>
            컨셉은 ( white&beige )입니다.<br>
            에메랄드 해변과 빛나는 추억을<br>
            완성해 줄 괌에서 프리미엄 서비스와<br> 
            어센틱만의 차별화된 컨벤션을<br>
            준비하였습니다.
          </p>
          <span data-aos="fade-up" data-aos-duration="500" data-aos-offset="300" data-aos-easing="linear"
            data-aos-delay="500">
            Collection Order: 4<br>
            Let's go out to enjoy the party together
          </span>
        </div>
      </div>
    </section>

    <section class="sec02">
      <div class="inner">
        <div class="sec02-place-wrap">
          <div class="img-wrap">
            <div class="img" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300" data-aos-easing="linear"
              data-aos-delay="100"></div>
            <p class="caption" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300"
              data-aos-easing="linear" data-aos-delay="300">ⓒ GUAM_Hyatt Regency</p>
          </div>
          <div class="text-wrap">
            <h6 data-aos="fade-up" data-aos-offset="300" data-aos-duration="500" data-aos-easing="linear">
              Hyatt Regency Guam</h6>
            <div class="dl-wrap">
              <dl data-aos="fade-up" data-aos-duration="500" data-aos-offset="300">
                <dt>일정</dt>
                <dd>2022.11.09.(수) - 11.12.(토)</dd>
              </dl>
              <dl data-aos="fade-up" data-aos-duration="500" data-aos-offset="300">
                <dt>장소</dt>
                <dd>Hyatt Regency Guam</dd>
              </dl>
              <dl data-aos="fade-up" data-aos-duration="500" data-aos-offset="300">
                <dt>주최</dt>
                <dd>어센틱금융그룹</dd>
              </dl>
              <dl data-aos="fade-up" data-aos-duration="500" data-aos-offset="300">
                <dt>참여</dt>
                <dd>
                  골든. 글로리. 블루마린. 이글. 스마트. PB.<br>
                  블레스. 엔게디. 트렌드. 비전. 어반. 위트.<br>
                  수트. 패션. 피플
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <ul class="table-wrap">
        <li data-aos-duration="500" data-aos-offset="300">
          <div class="number">SECTION 1.</div>
          <div class="info">AUTHENTIC IN GUAM</div>
        </li>
        <li data-aos-duration="500" data-aos-offset="300">
          <div class="number">SECTION 2.</div>
          <div class="info">WHITE &  BEIGE</div>
        </li>
        <li data-aos-duration="500" data-aos-offset="300">
          <div class="number">SECTION 3.</div>
          <div class="info">OPTION TOUR</div>
        </li>
        <li data-aos-duration="500" data-aos-offset="300">
          <div class="number">SECTION 4.</div>
          <div class="info">Memories of Guam</div>
        </li>
      </ul>
    </section>

    <div class="collection-bg-wrap authenticinguam">
      <div class="title-wrap">
        <p data-aos-duration="500" data-aos-offset="300">
          <i><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/mo-collection-bg-wrap-icon.png" alt="section icon"></i>
          SECTION 1.
        </p>
        <h6 data-aos="fade-up" data-aos-duration="500" data-aos-offset="300">authentic in guam</h6>
        <div class="black-bg"></div>
      </div>
    </div>

    <div class="beginning-img-wrap">
      <div class="inner">
        <ul>
          <li class="img-box box1">
            <div class="item" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300"><img
                src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-beginning-imgbox-img01.png"></div>
            <div class="item half" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300"><img
                src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-beginning-imgbox-img02.png"></div>
            <div class="item half" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300"><img
                src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-beginning-imgbox-img03.png"></div>
          </li>
          <li class="img-box box2">
            <div class="item" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300"><img
                src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-beginning-imgbox-img04.png"></div>
            <div class="item" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300"><img
                src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-beginning-imgbox-img05.png"></div>
          </li>
          <li class="img-box box3">
            <div class="item half-big" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300"><img
                src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-beginning-imgbox-img06.png"></div>
            <div class="item half-small" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300"><img
                src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-beginning-imgbox-img07.png"></div>
            <div class="item half-small" ata-aos="fade-in" data-aos-duration="500" data-aos-offset="300"><img
                src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-beginning-imgbox-img08.png"></div>
            <div class="item half-big" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300"><img
                src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-beginning-imgbox-img09.png"></div>
          </li>
          <li class="img-box box4">
            <div class="item" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300"><img
                src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-beginning-imgbox-img10.png"></div>
            <!-- <div class="item" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300"><img
                src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/mo-collection-case03-beginning-imgbox-img11.png"></div> -->
          </li>

        </ul>
      </div>
    </div>


    <div class="collection-bg-wrap whitebeige">
      <div class="title-wrap">
        <p data-aos="fade-up" data-aos-duration="500" data-aos-offset="300">
          <i><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/mo-collection-bg-wrap-icon.png" alt="section icon"></i>
          SECTION 2.
        </p>
        <h6 data-aos="fade-up" data-aos-duration="500" data-aos-offset="300">white & beige</h6>
      </div>
    </div>

    <div class="awards-con-wrap">
      <!-- <div class="inner">
        <div class="awards-con-bg-wrap"></div>
      </div> -->
      <div class="random-photo-wrap">
        <div class="random-img1" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-offset="200">
          <img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-random-img1.png">
        </div>
        <div class="random-img2" data-aos="fade-up" data-aos-delay="800" data-aos-offset="300" data-aos-easing="linear">
          <img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-random-img2.png">
        </div>
        <div class="random-img3" data-aos="fade-up" data-aos-delay="500" data-aos-offset="300" data-aos-easing="linear">
          <img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-random-img3.png">
        </div>
        <div class="random-img4" data-aos="fade-up" data-aos-delay="800" data-aos-offset="300" data-aos-easing="linear">
          <img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-random-img4.png">
        </div>
        <div class="random-img5" data-aos="fade-up" data-aos-duration="500" data-aos-offset="200"><img
            src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-random-img5.png"></div>
        <div class="random-img6" data-aos="fade-up" data-aos-delay="800" data-aos-duration="500" data-aos-offset="300"
          data-aos-easing="linear"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-random-img6.png"></div>
        <div class="random-img7" data-aos-delay="800" data-aos-offset="300" data-aos-duration="500"
          data-aos-easing="linear"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-random-img7.png"></div>
        <div class="random-img8" data-aos="fade-up" data-aos-delay="600" data-aos-offset="300" data-aos-duration="500"
          data-aos-easing="linear"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-random-img8.png"></div>
        <div class="random-img9" data-aos="fade-up" data-aos-delay="800" data-aos-duration="500" data-aos-offset="300"
          data-aos-easing="linear"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-random-img9.png"></div>
        <div class="random-img10" data-aos="fade-up" data-aos-delay="800" data-aos-offset="300"
          data-aos-easing="linear"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-random-img10.png"></div>
        <div class="random-img11" data-aos="fade-up" data-aos-delay="800" data-aos-duration="500" data-aos-offset="300"
          data-aos-easing="linear"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-random-img11.png"></div>
        <div class="random-img12" data-aos="fade-up" data-aos-delay="800" data-aos-offset="300"
          data-aos-easing="linear"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-random-img12.png"></div>
        <div class="random-img13" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500"
          data-aos-offset="200"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-random-img13.png"></div>
      </div>
    </div>

    <div class="collection-bg-wrap optiontour">
      <div class="title-wrap">
        <p data-aos="fade-up" data-aos-duration="500" data-aos-offset="300">
          <i><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/mo-collection-bg-wrap-icon.png" alt="section icon"></i>
          SECTION 3.
        </p>
        <h6 data-aos="fade-up" data-aos-duration="500" data-aos-offset="300">option tour</h6>
      </div>
    </div>

    <div id="leisure-slide-wrap" data-aos="fade-up" data-aos-duration="500" data-aos-offset="300">
      <div class="w120"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-optiontour-img01.png" alt="slide image"></div>
      <div class="w135"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-optiontour-img02.png" alt="slide image"></div>
      <div class="w105"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-optiontour-img03.png" alt="slide image"></div>
      <div class="w135"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-optiontour-img04.png" alt="slide image"></div>
      <div class="w120"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-optiontour-img05.png" alt="slide image"></div>
      <div class="w135"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-optiontour-img06.png" alt="slide image"></div>
      <div class="w105"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-optiontour-img07.png" alt="slide image"></div>
      <div class="w135"><img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-optiontour-img08.png" alt="slide image"></div>
    </div>

    <div class="collection-bg-wrap memoriesofguam">
      <div class="title-wrap">
        <p data-aos="fade-up" data-aos-duration="500" data-aos-offset="300">
          <i><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/mo-collection-bg-wrap-icon.png" alt="section icon"></i>
          SECTION 4.
        </p>
        <h6 data-aos="fade-up" data-aos-duration="500" data-aos-offset="300">Memories of Guam</h6>
      </div>
    </div>

    <div class="restraunt-img-wrap">
      <div class="inner">
        <img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-collection-case04-memoriesofguam-img.png" alt="restraunt img" data-aos="fade-up"
          data-aos-duration="500" data-aos-offset="300" data-aos-easing="linear">
        <div class="card-grid-btns">
          <a href="./collection-detail-case01.html" class="text-icon">
            <i><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/mo-collection-list-prev.png" alt="prev icon"></i>
            PREV
          </a>
          <a href="./collection.html">
            <i><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/mo-collection-list-icon.png" alt="list icon"></i>
          </a>
          <a href="javascript:void(0);" class="text-icon">
            NEXT
            <i><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/mo-collection-list-next.png" alt="next icon"></i>
          </a>
        </div>
      </div>
    </div>

  <!-- Footer Area Start -->
  <footer class="footer">
    <div class="inner">

        <!-- Top-info Area Start -->
        <div class="top-info">
            <div class="family-site">
                <button type="button" class="family-site-btn">
                    <span>FAMILY SITE</span>
                    <img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/mo-plus-icon.png" alt="plus-icon">
                </button>
                <ul>
                    <li><a href="javascript:void(0);">어센틱 몰</a></li>
                    <li><a href="javascript:void(0);">어센틱 에듀</a></li>
                    <li><a href="javascript:void(0);">어센틱 케어</a></li>
                    <li><a href="javascript:void(0);">어센틱 테일러드</a></li>
                    <li><a href="javascript:void(0);">어센틱 라인</a></li>
                    <li><a href="javascript:void(0);">어센틱 링크</a></li>
                    <li><a href="javascript:void(0);">어센틱 라운지</a></li>
                </ul>
            </div>
            <div class="sns">
                <ul>
                    <li><a href="javascript:void(0);">인스타그램</a></li>
                    <li><a href="javascript:void(0);">유튜브</a></li>
                </ul>
            </div>
        </div>

        <!-- Bottom-info Area Start -->
        <div class="bottom-info">
            <div class="copyright">(주) 어센틱금융그룹 © 2022</div>
            <p>
                <span>주소  서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층</span>
                <span>사업자 등록번호  626-87-00900    대표번호  1566 0428</span>
                <span>보험대리점등록번호 : 제2018040001 | 보험대리점등록증[클릭]</span>
            </p>
            <div class="corp-area">
                <ul>
                    <li><a href="javascript:void(0);">이용약관</a></li>
                    <li><a href="javascript:void(0);">개인정보처리방침</a></li>
                </ul>
                <ul>
                    <li><a href="javascript:void(0);">금융소비자보호기준</a></li>
                    <li><a href="javascript:void(0);">금융소비자보호 내부통제기준</a></li>
                </ul>
            </div>
            <div class="footer-circle">
                <a href="javascript:void(0);" id="top-btn">
                  <span class="arrow"><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/footer-top-icon.png" alt="arrow-top"></span>
                </a>
            </div>
        </div>

    </div>
  </footer>
  <!-- Footer Area End -->

  </section>
</div>



<script>
  // sub visual
  let ovf, slider

  $(function () {
    ovf = this.getElementById("collection-contents-wrap");
    slider = this.getElementById("collection-visual");
    winResize();
    $(window).bind({
      resize: winResize,
      scroll: winScroll
    });
  });

  function winResize() {
    ovf.style.top = slider.offsetHeight + "px";
  }

  function winScroll() {
    let op = 1 - (window.pageYOffset / slider.offsetHeight);
  }

  // slide
  $(document).ready(function () {

    $('#leisure-slide-wrap').slick({
      dots: false,
      arrows: false,
      infinite: true,
      speed: 500,
      slidesToShow: 1,
      centerMode: true,
      variableWidth: true

    });

  })
</script>



          <!--// icr 작업영역 -->
      </div>

    </div>

    <!-- Footer Area Start -->
<footer>
    <div class="inner">

        <!-- Top-info Area Start -->
        <div class="top-info">
            <div class="family-site">
                <button type="button" class="family-site-btn">
                    <span>FAMILY SITE</span>
                    <img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/mo-plus-icon.png" alt="plus-icon">
                </button>
                <ul>
                    <li><a href="javascript:void(0);">어센틱 몰</a></li>
                    <li><a href="javascript:void(0);">어센틱 에듀</a></li>
                    <li><a href="javascript:void(0);">어센틱 케어</a></li>
                    <li><a href="javascript:void(0);">어센틱 테일러드</a></li>
                    <li><a href="javascript:void(0);">어센틱 라인</a></li>
                    <li><a href="javascript:void(0);">어센틱 링크</a></li>
                    <li><a href="javascript:void(0);">어센틱 라운지</a></li>
                </ul>
            </div>
            <div class="sns">
                <ul>
                    <li><a href="https://www.instagram.com/afg.kr/" target="_blank" class="no-motion">인스타그램</a></li>
                    <li><a href="https://www.youtube.com/channel/UCVqm7z5vVda537C1U1xDNpw" target="_blank" class="no-motion">유튜브</a></li>
                </ul>
            </div>
        </div>

        <!-- Bottom-info Area Start -->
        <div class="bottom-info">
            <div class="copyright">(주) 어센틱금융그룹 © 2022</div>
            <p>
                <span>주소  서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층</span>
                <span>사업자 등록번호  626-87-00900    대표번호  1566 - 6074</span>
                <span>보험대리점등록번호 : 제2018040001 | 보험대리점등록증[클릭]</span>
            </p>
            <div class="corp-area">
              <ul>
                <li><a href="../../files/resume.docx" download class="no-motion">이력서다운(내부용)</a></li>
                <li><a onclick="openOne()" href="javascript:void(1);">개인정보처리방침</a></li>
            </ul>
            <ul>
                <li><a onclick="openTwo()" href="javascript:void(1);">보험대리점등록증</a></li>
                <li><a onclick="openThree()" href="javascript:void(1);">금융소비자보호기준</a></li>
            </ul>
            <ul>
                <li><a onclick="openFour()" href="javascript:void(1);">금융소비자보호 내부통제기준</a></li>  
            </ul>
            </div>
            <div class="footer-circle">
                <a href="javascript:void(0);" id="top-btn">
                    <span class="arrow"><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/footer-top-icon.png" alt="arrow-top"></span>
                </a>
            </div>
        </div>
<!-- 개인정보처리방침 script -->
<script>
  function openOne(){
    document.querySelector('.personal-information-processing-policy').style.display = 'block'
    document.querySelector('body').style.overflow = 'hidden';
    $('#personal-information-processing-policy-inner').load('../sub/personal-information-processing-policy.html')
  }
</script>
<!-- 개인정보처리방침 script -->
<!-- 보험대리점등록증 script -->
<script>
  function openTwo(){
    document.querySelector('.insurance').style.display = 'block'
    document.querySelector('body').style.overflow = 'hidden';
    $('#insurance').load('../sub/insurance.html')
  }
</script>
<!-- 보험대리점등록증 script -->
<!-- 금융소비자보호기준 script -->
<script>
  function openThree(){
    document.querySelector('.financial-standards').style.display = 'block'
    document.querySelector('body').style.overflow = 'hidden';
    $('#financial-standards').load('../sub/financial-standards.html')
  }
</script>
<!-- 금융소비자보호기준 script -->
<!-- 금융소비자 내부통제기준 script -->
<script>
  function openFour(){
    document.querySelector('.internal-control-standards').style.display = 'block'
    document.querySelector('body').style.overflow = 'hidden';
    $('#internal-control-standards').load('../sub/internal-control-standards.html')
  }
</script>
<!-- 금융소비자 내부통제기준 script -->
    </div>
</footer><!-- Footer Area End -->

    
  </div>
</body>
<script>
    AOS.init();
  </script>

</html>
