<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="title">
  <meta name="copyright" content="Copyright ⓒ Cafe24 Corp.All Rights Reserved.">
  <meta name="description" content="">
  <title>AFG</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- kumb -->
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- bonmi stylesheet -->
  <link rel="stylesheet" type="text/css" href="../../css/style.css">

  <!-- jquery -->
  <script src="../../js/ui/lib/jquery-1.11.1.min.js"></script>

  <!-- Slick Slider -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- Swiper Slider -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  <!-- AOS animation -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- bonme script -->
  <script src="../../js/ui/page.js" type="text/javascript"></script>

  
  
</head>


<body class="hidden">

  <div id="loading-page">
    <div class="text">
      <span><img src="../../img/loading-logo.png" alt=""></span>
      <span><img src="../../img/loading-logo.png" alt=""></span>
    </div>
  </div>

  <div id="wrapper">

    <!-- Header Area Start -->
<header>
    <div class="inner">

        <!-- Logo Area Start -->
        <div id="logo">
            <h1>
                <a href="/" class="ir">AUTHENTIC FINANCIAL GROUP</a>
            </h1>
        </div>

        <!-- Gnb Area Start -->
        <div class="menu">
            <button type="button" class="menu-btn">
                <span></span>
                <span></span>
            </button>
            <div id="gnb">
                <ul>
                    <li>
                        <a href="../sub/company.html">
                            <span>01</span>
                            회사소개
                        </a>
                    </li>
                    <li>
                        <a href="../sub/collection.html">
                            <span>02</span>
                            컬렉션
                        </a>
                    </li>
                    <li>
                        <a href="../sub/system.html">
                            <span>03</span>
                            시스템
                        </a>
                    </li>
                    <li>
                        <a href="../sub/studio.html">
                            <span>04</span>
                            스튜디오
                        </a>
                    </li>
                    <li>
                        <a href="../sub/news.html">
                            <span>05</span>
                            뉴스
                        </a>
                    </li>
                    <li>
                        <a href="../sub/recruit.html">
                            <span>06</span>
                            채용
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</header><!-- Header Area End -->

    <div id="wrap" class="">

      <div class="">
          <!-- icr 작업영역 -->
          

<div id="company-wrap">

  <secion class="sec01">
    <div class="inner">

      <!-- components -->
      <div class="title-msg-wrap">
        <div class="title-nav overflow-hidden">
          <ul class="fadeUpAni">
            <li class="dep1">
              <a href="/">HOME</a>
            </li>
            <i><img src="../../img/sub-nav-arrow.png" alt="sub nav arrow"></i>
            <li class="dep2">
              <a href="javascript:void(0);">
                회사소개
              </a>
            </li>
          </ul>
        </div>
        <h1 class="title-msg">
          <div class="overflow-hidden">
            <p class="fadeUpAni">어제보다 오늘이 </p>
          </div>
          <div class="overflow-hidden">
            <p class="fadeUpAni delayOne">오늘보다 내일이</p>
          </div>
          <div class="overflow-hidden">
            <p class="fadeUpAni delayTwo">기대되는 회사</p>
          </div>
        </h1>
      </div>
      <!-- components -->
    </div>

    <div class="overflow-hidden">
      <div class="sec01-bg-wrap scaleAni"></div>
    </div>

  </secion>

  <section class="sec02">
    <div class="inner">
      <div class="text-wrap overflow-hidden">
        <p class="fadeUpAni delayThree">
          2020년 8월 ㈜더블유에프에스를 인수하고 설립한 ㈜어센틱금융그룹은 패션/유통
          업계의 큰 손 ㈜대명화학의 투자를 받아
          ‘금융에 패션을 입히다’라는 슬로건으로
          시작하여, 강력한 브랜딩과 아이덴티티를
          구축하고 인지도를 쌓으며 업계에서 가장
          빠른 속도로 성장하며 단숨에 1000명의
          플래너가 넘는 대형GA로 진입하였으며,
          체계적인 시스템과 세련된 문화로 업계에
          변화를 일으키며, 고객에게 가장 트렌디한
          금융생활을 제공하며 지속적인 혁신을
          추구하고 있습니다. ​
        </p>
        <div class="count-wrap">
          <ul data-aos="fade" data-aos-duration="1500" data-aos-offset="300">
            <li>
              <h6>
                <span class="company-count-info" data-count="1000">0</span>+
              </h6>
              <p>1000여명의 ‘어센틱플래너’</p>
            </li>
            <li>
              <h6>
                <span class="company-count-info" data-count="300">0</span>+
              </h6>
              <p>300여개의 ‘관계사’</p>
            </li>
            <li>
              <h6>
                <span class="company-count-info" data-count="19">0</span>+
              </h6>
              <p>협력파트너사</p>
            </li>
          </ul>
        </div>
        <div class="circle-wrap">
          <div class="top-circle-wrap">
            <div class="left-circle" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="300"
              data-aos-easing="linear">
              insurance<br>
              company<br>
              Advantages
            </div>
            <div class="right-circle" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="300"
              data-aos-easing="linear">
              general<br>
              agency<br>
              Advantages
            </div>
          </div>
          <div class="btm-circle-wrap" data-aos="fade-up" data-aos-delay="500" data-aos-duration="2000"
            data-aos-offset="300" data-aos-easing="linear">
            Authentic<br>
            Financial Group
          </div>
        </div>
      </div>
  </section>

  <section class="sec03">
    <div class="sec03-bg-wrap" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
      <div class="sec03-bg"></div>
      <span>AFG MISSION</span>
      <p>
        어센틱플래너는 다양한 금융분야의 <br>
        전문가로서, 고객의 라이프 스타일 <br>
        에 맞는 솔루션을 제공하는<br>
        어센틱만의 전문 플래너입니다.<br>
        빠르게 급변하는 금융시장 속에서<br>
        가장 트렌디하고 명확한 정보를<br>
        바탕으로, 고객의 신뢰를<br>
        핵심가치로 삼아 고객에게 행복하고 <br>
        안전한 금융생활의 경험을 선사하는<br>
        인생의 동반자 역할을 합니다.
      </p>
    </div>
  </section>

  <section class="sec04">
    <div class="inner">
      <h6 data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">CORE VALUE</h6>
      <ul>
        <li data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
          <div class="number">01</div>
          <div class="title">
            SUSTAINABLE <br />
            GROWTH
          </div>
          <ul class="sec04-text-wrap">
            <li>도전적인 목표 설정​</li>
            <li>어센틱만의 ‘identity’ 확립​</li>
            <li>어센틱만의 ‘차별성’ 유지​</li>
            <li>다양한 커리어 패스​</li>
            <li>투명한 윤리 경영</li>
          </ul>
        </li>
        <li data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
          <div class="number">02</div>
          <div class="title">
            INNOVATIVE​ <br />
            SYSTEM
          </div>
          <ul class="sec04-text-wrap">
            <li>선진화된 복지 시스템​</li>
            <li>최적의 고객 매칭​</li>
            <li>다양한 시장 개발​</li>
            <li>DIGITAL 어센틱​</li>
            <li>고객 맞춤형 솔루션</li>
          </ul>
        </li>
        <li data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
          <div class="number">03</div>
          <div class="title">
            TRENDY <br />
            CULTURE
          </div>
          <ul class="sec04-text-wrap">
            <li>하이퀄리티 단독 컨밴션 기획​</li>
            <li>어센틱만의 단독 시책​</li>
            <li>수평적 기업 문화​</li>
            <li>퍼스널 브랜딩​</li>
            <li>차별화된 사내공간​</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="sec04-bg-wrap" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500"></div>
    <p class="caption-msg" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">ⓒTongyeong_Studio</p>
  </section>

  <section class="sec05">
    <div class="inner">
      <div class="title-wrap" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
        <h6>HISTORY</h6>
        <p>어센틱금융그룹은 당신의 아름다운 삶을 위해 아름다운 여정을 항해하고 있습니다</p>
      </div>
    </div>

    <!-- <div class="new-slide-box">
      <div id="company-slide" class="swiper">
        <ul class="tab-box swiper-wrapper">
          <li class="swiper-slide on"><a href="javascript:void(0);" data-tab="#year2022" class="btn">2022</a></li>
          <li class="swiper-slide"><a href="javascript:void(0);" data-tab="#year2021" class="btn">2021</a></li>
          <li class="swiper-slide"><a href="javascript:void(0);" data-tab="#year2020" class="btn">2020</a></li>
          <li class="swiper-slide"><a href="javascript:void(0);" data-tab="#year2019" class="btn">2019</a></li>
          <li class="swiper-slide"><a href="javascript:void(0);" data-tab="#year2018" class="btn">2018</a></li>
        </ul>
      </div>
      <div class="swiper-button-prev swiper-button-arrow"></div>
      <div class="swiper-button-next swiper-button-arrow"></div>
      <div class="swiper-info">
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <div class="cont-list-wrap">
      <div class="cont-inner">

        <ul class="tab-cont-wrap" id="year2022">
          <li>
            <span>2022.09</span>
            <p>
              모바일 ERP 런칭 <br />
              KDB생명 제휴​ <br />
              울산 스튜디오 오픈(울산) <br />
              ​마산 스튜디오 오픈(마산
            </p>
          </li>
          <li>
            <span>2022.05</span>
            <p>
              센트럴 스튜디오 오픈(서울)​ <br />
              스마트 확인서 App 런칭
            </p>
          </li>
          <li>
            <span>2022.04</span>
            <p>
              엔타스3 스튜디오 오픈(인천)
            </p>
          </li>
          <li>
            <span>2022.03</span>
            <p>
              지오 스튜디오 오픈(대전)
            </p>
          </li>
        </ul>

        <ul class="tab-cont-wrap" id="year2021" style="display: none;">
          <li>
            <span>2021.03</span>
            <p>제휴업체들과 협업</p>
          </li>
          <li>
            <span>2021.03</span>
            <p>제휴업체들과 협업</p>
          </li>
          <li>
            <span>2021.03</span>
            <p>제휴업체들과 협업</p>
          </li>
          <li>
            <span>2021.03</span>
            <p>제휴업체들과 협업</p>
          </li>
        </ul>

        <ul class="tab-cont-wrap" id="year2020" style="display: none;">
          <li>
            <span>2020.03</span>
            <p>제휴업체들과 협업</p>
          </li>
          <li>
            <span>2020.03</span>
            <p>제휴업체들과 협업</p>
          </li>
          <li>
            <span>2020.03</span>
            <p>제휴업체들과 협업</p>
          </li>
          <li>
            <span>2020.03</span>
            <p>제휴업체들과 협업</p>
          </li>
        </ul>

        <ul class="tab-cont-wrap" id="year2019" style="display: none;">
          <li>
            <span>2019.03</span>
            <p>제휴업체들과 협업</p>
          </li>
          <li>
            <span>2019.03</span>
            <p>제휴업체들과 협업</p>
          </li>
          <li>
            <span>2019.03</span>
            <p>제휴업체들과 협업</p>
          </li>
          <li>
            <span>2019.03</span>
            <p>제휴업체들과 협업</p>
          </li>
        </ul>

        <ul class="tab-cont-wrap" id="year2018" style="display: none;">
          <li>
            <span>2018.03</span>
            <p>제휴업체들과 협업</p>
          </li>
          <li>
            <span>2018.03</span>
            <p>제휴업체들과 협업</p>
          </li>
          <li>
            <span>2018.03</span>
            <p>제휴업체들과 협업</p>
          </li>
          <li>
            <span>2018.03</span>
            <p>제휴업체들과 협업</p>
          </li>
        </ul>

      </div>
    </div> -->

    <div id="history-list">
      <div class="box">
        <div class="slide01-wrap swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <span>2022</span>
            </div>
            <div class="swiper-slide">
              <span>2021</span>
            </div>
            <div class="swiper-slide">
              <span>2020</span>
            </div>
            <div class="swiper-slide">
              <span>2019</span>
            </div>
            <div class="swiper-slide">
              <span>2018</span>
            </div>
          </div>
        </div>
        <div id="slide01-prev-btn" class="swiper-button-prev swiper-button-arrow"></div>
        <div id="slide01-next-btn" class="swiper-button-next swiper-button-arrow"></div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="slide02-wrap swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <dl>
              <dt>2022.09</dt>
              <dd>
                모바일 ERP 런칭<br>
                KDB생명 제휴​<br>
                울산 스튜디오 오픈(울산)<br>
                ​마산 스튜디오 오픈(마산)​
              </dd>
            </dl>
            <dl>
              <dt>2022.05</dt>
              <dd>
                센트럴 스튜디오 오픈(서울)<br>
                스마트 확인서 App 런칭
              </dd>
            </dl>
            <dl>
              <dt>2022. 04</dt>
              <dd>
                엔타스3 스튜디오 오픈(인천)
              </dd>
            </dl>
            <dl>
              <dt>2022. 03</dt>
              <dd>
                지오 스튜디오 오픈(대전)​
              </dd>
            </dl>
          </div>
          <div class="swiper-slide">
            <dl>
              <dt>2021. 10</dt>
              <dd>
                김해 스튜디오 오픈(김해)​
              </dd>
            </dl>
            <dl>
              <dt>2021. 09</dt>
              <dd>
                DGB생명 제휴
              </dd>
            </dl>
            <dl>
              <dt>2021. 06</dt>
              <dd>
                ACE손보 제휴
              </dd>
            </dl>
            <dl>
              <dt>2021. 05</dt>
              <dd>
                처브라이프생명 제휴​<br>
                미래에셋생명 제휴
              </dd>
            </dl>
            <dl>
              <dt>2021. 04</dt>
              <dd>
                엔타스2 스튜디오 오픈(인천)
              </dd>
            </dl>
            <dl>
              <dt>2021. 03</dt>
              <dd>
                BNP파리바 카디프생명 제휴​<br>
                푸르덴셜생명 제휴​<br>
                353 스튜디오 오픈(대구)<br>
                통영 스튜디오 오픈(통영)<br>
                센텀 스튜디오 오픈(부산)
              </dd>
            </dl>
            <dl>
              <dt>2021. 02</dt>
              <dd>
                기업영업팀 신설
              </dd>
            </dl>
            <dl>
              <dt>2021. 01</dt>
              <dd>
                A-CARE Launching<br>
                ABL생명 제휴​
              </dd>
            </dl>
          </div>
          <div class="swiper-slide">
            <dl>
              <dt>2020. 12</dt>
              <dd>
                디큐브 스튜디오 오픈​(서울)
              </dd>
            </dl>
            <dl>
              <dt>2020. 11</dt>
              <dd>
                엔타스 스튜디오 오픈(인천)<br>
                프라임 스튜디오 오픈(서울)
              </dd>
            </dl>
            <dl>
              <dt>2020. 10</dt>
              <dd>
                롯데손보 제휴​
              </dd>
            </dl>
            <dl>
              <dt>2020. 08</dt>
              <dd>
                어센틱금융그룹 사명변경​<br>
                대명화학 투자 유치​
              </dd>
            </dl>
          </div>
          <div class="swiper-slide">
            <dl>
              <dt>2019. 11</dt>
              <dd>
                메트라이프생명 제휴
              </dd>
            </dl>
            <dl>
              <dt>2019. 11</dt>
              <dd>
                라이나생명 제휴
              </dd>
            </dl>
          </div>
          <div class="swiper-slide">
            <dl>
              <dt>2018. 10</dt>
              <dd>
                db생명 제휴
              </dd>
            </dl>
            <dl>
              <dt>2018. 05</dt>
              <dd>
                삼성생명 제휴<br>
                흥국생명 제휴
              </dd>
            </dl>
            <dl>
              <dt>2018. 04</dt>
              <dd>
                (주)더블유에프에스 설립​<br>
                메리츠화재 제휴​<br>
                현대해상 제휴​<br>
                KB손보 제휴​<br>
                DB손보 제휴
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>


    <div class="sec05-slide-text" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
      <h3>
        <span>AUTHENTIC - FINANCIAL</span>
      </h3>
    </div>

  </section>

  <section class="sec06">
    <div class="inner">
      <div class="title-wrap" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
        <h6>PARTNERS</h6>
        <p>어센틱금융그룹은 국내외 탄탄한 재무 건전성을 갖춘 파트너사와 함께​ 행복한 금융세상을 만들어 갑니다. </p>
      </div>
      <div class="sec06-slide" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
        <ul id="sec06-slide" class="swiper-wrapper">
          <li class="swiper-slide">
            <div>
              <img src="../../img/mo-company-partners01.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners02.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners03.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners04.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners05.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners06.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners07.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners08.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners09.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners10.png" alt="partenrs icon">
            </div>
          </li>
          <li class="swiper-slide">
            <div>
              <img src="../../img/mo-company-partners11.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners12.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners13.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners14.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners15.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners16.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners17.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners18.png" alt="partenrs icon">
            </div>
            <div>
              <img src="../../img/mo-company-partners19.png" alt="partenrs icon">
            </div>
          </li>
        </ul>
      </div>
      <div class="swiper-info">
        <div class="swiper-button-prev swiper-button-arrow"></div>
        <div class="count-wrap">
          <span class="count">1</span>
          <span class="slash">/</span>
          <span class="total-count">2</span>
        </div>
        <div class="swiper-button-next swiper-button-arrow"></div>
      </div>
    </div>
  </section>

  <section class="sec07">
    <div class="sec07-bg-wrap">
      <div class="inner">
        <div class="sec07-content-wrap">
          <!-- <div class="left-img-wrap">
            <div class="img-slide left-01"></div>
            <div class="img-slide left-02"></div>
            <div class="img-slide left-03"></div>
          </div> -->
          <h6>
            Hexagonal, <span>Typhoon</span>, 
            Core, <span>Acrylic</span>, Diffuse, 
            <span>Silver</span>
          </h6>
          <div class="slide-img-wrap">
            <img src="../../img/company-imgslide01.png" alt="company-imgslide01">
            <img src="../../img/company-imgslide02.png" alt="company-imgslide02">
            <img src="../../img/company-imgslide03.png" alt="company-imgslide03">
            <img src="../../img/company-imgslide04.png" alt="company-imgslide04">
            <img src="../../img/company-imgslide05.png" alt="company-imgslide05">
            <img src="../../img/company-imgslide06.png" alt="company-imgslide06">
          </div>
          <!-- <div class="right-img-wrap">
            <div class="img-slide right-01"></div>
            <div class="img-slide right-02"></div>
            <div class="img-slide right-03"></div>
          </div> -->
        </div>
      </div>
    </div>
  </section>

  <section class="sec08">
    <div class="inner">
      <div class="title-wrap">
        <h6 data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">IDENTITY</h6>
        <div class="sec08-bg-wrap" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500"></div>
        <div class="sec08-symbol-wrap">
          <div class="text-wrap" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
            <div class="title">SYMBOL STORY</div>
            <div class="text">
              Authentic A, 패션의 완벽함을 상징하는 Hexagon, 금융업계에서의 돌풍을 의미하는 Typhoon. 이 세가지를 결합하여 견고하면서도 힘이 느껴지는 어센틱금융그룹의
              심볼을 제작하였습니다.
            </div>
          </div>
          <div class="symbol-wrap">
            <div class="top-symbol" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
              <div class="icon-wrap">
                <i><img src="../../img/mo-symbol-mark.png" alt="symbol mark"></i>
              </div>
              <div class="download-wrap">
                <!-- <a href="../../img/mo-symbol-mark.png" download>심볼마크 다운로드</a> -->
                <a href="javascript:void(0);">심볼마크 다운로드</a>
                <i><img src="../../img/mo-company-download-icon.png" alt="company download icon"></i>
              </div>
            </div>
            <div class="btm-symbol" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
              <div class="icon-wrap">
                <i><img src="../../img/mo-symbol-logo.png" alt="symbol mark"></i>
              </div>
              <div class="download-wrap" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
                <!-- <a href="../../img/mo-symbol-logo.png" download>시그니쳐로고 다운로드</a> -->
                <a href="javascript:void(0);">시그니쳐로고 다운로드</a>
                <i><img src="../../img/mo-company-download-icon.png" alt="company download icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sec09">
    <div class="box navy" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
      <h6>authetic navy</h6>
      <p>
        PANTONE : 282C <br />
        C:100 M:87 Y:42 K:52 <br />
        R:1 G:30 B:65
      </p>
    </div>
    <div class="box rich-blue" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
      <h6>rich blue</h6>
      <p>
        PANTONE : 648C <br />
        C:100 M:62 Y:56 K:15 <br />
        R:0 G:45 B:93
      </p>
    </div>
    <div class="box space-gray" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
      <h6>space gray</h6>
      <p>
        PANTONE : 429C <br />
        C:39 M:28 Y:27 K:0 <br />
        R:162 G:169 B:173
      </p>
    </div>
    <div class="box real-black" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
      <h6>real black</h6>
      <p>
        PANTONE : Black 6C <br />
        C:91 M:84 Y:73 K:63 <br />
        R:16 G:24 B:32
      </p>
    </div>
    <div class="sec09-icon-wrap" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
      <i><img src="../../img/mo-company-sec09-icons.png" alt=""></i>
    </div>
  </section>

  <section class="sec10">
    <div class="sec10-img-slide-wrap" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500">
      <img src="../../img/sec10-img-slide.png" alt="sec05-img-slide">
      <img src="../../img/sec10-img-slide.png" alt="sec05-img-slide">
    </div>
  </section>

</div>

<script defer>
  // news PR / IR tab menu
  const newsTab = document.querySelectorAll('.tab-box li');
  const newsCont = document.querySelectorAll('.cont-list-wrap .cont-inner ul');
  let activeCont = '';

  for (var i = 0; i < newsTab.length; i++) {
    newsTab[i].querySelector('.btn').addEventListener('click', function (e) {
      e.preventDefault();
      for (var j = 0; j < newsTab.length; j++) {
        newsTab[j].classList.remove('on');
        newsCont[j].style.display = 'none';
      }
      this.parentNode.classList.add('on');

      activeCont = this.getAttribute('data-tab');
      document.querySelector(activeCont).style.display = 'block';
    });
  };

  // sec06 slide
  // $(document).ready(function(){

  // // slide 
  // $('#sec06-slide').slick({
  //   infinite: false, 	//무한 반복 옵션	 
  //   slidesToShow: 1,		// 한 화면에 보여질 컨텐츠 개수
  //   slidesToScroll: 1,		//스크롤 한번에 움직일 컨텐츠 개수
  //   speed: 1000,	 // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
  //   arrows: false, 		// 옆으로 이동하는 화살표 표시 여부
  //   dots: true, 		// 스크롤바 아래 점으로 페이지네이션 여부
  //   autoplay: false,			// 자동 스크롤 사용 여부
  //   autoplaySpeed: 3000, 		// 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
  //   pauseOnHover: false,		// 슬라이드 이동	시 마우스 호버하면 슬라이더 멈추게 설정
  //   vertical: false,		// 세로 방향 슬라이드 옵션
  //   dotsClass: "dots", 	//아래 나오는 페이지네이션(점) css class 지정
  //   draggable: true, 	//드래그 가능 여부 
  // });

  // })



  //페이지 도달시 카운팅설정
  var a = 0;
  $(window).scroll(function () {

    var oTop = $('#company-wrap .sec02')
      .offset()
      .top - window.innerHeight;
    if (a == 0 && $(window).scrollTop() > oTop) {
      $('.company-count-info').each(function () {
        var $this = $(this),
          countTo = $this.attr('data-count');
        $({
          countNum: $this.text()
        }).animate({
          countNum: countTo
        }, {
          duration: 2000,
          easing: 'swing',
          step: function () {
            $this.text(Math.floor(this.countNum));
          },
          complete: function () {
            $this.text(this.countNum);
          }
        });
      });
      a = 1;
    }
  });

  $(document).ready(function(){
    var slide01Wrap = new Swiper('#history-list .slide01-wrap', {
      slidesPerView: 1,
      speed: 1000,
      slideToClickedSlide : true, // 해당 슬라이드 클릭시 슬라이드 위치로 이동
      navigation: {
        nextEl: '#slide01-next-btn',
        prevEl: '#slide01-prev-btn',
      },
      pagination: {
          el: ".swiper-pagination",
          type: "progressbar",
      },
      observer: true,
      observeParents: true,
    });

    var slide02Wrap = new Swiper('#history-list .slide02-wrap', {
      autoHeight : true,
      effect: "fade",
      slidesPerView: 1,
      speed: 1000,
      fadeEffect: {
        crossFade: true
      },
      observer: true,
      observeParents: true,
    });

    slide01Wrap.controller.control = slide02Wrap;
    slide02Wrap.controller.control = slide01Wrap;
  })


  $(window).scroll(function(){
    const windowScroll = $(window).scrollTop(); // window scroll
    const scene04 = $('#company-wrap .sec07');
    const scene04Top = scene04.offset().top;
    const scene04Height = scene04.innerHeight();
    const leftBox = $('#company-wrap .sec07 .sec07-bg-wrap .inner .sec07-content-wrap .left-img-wrap');
    const rightBox = $('#company-wrap .sec07 .sec07-bg-wrap .inner .sec07-content-wrap .right-img-wrap');
    const slideBox = $('#company-wrap .sec07 .sec07-bg-wrap .inner .sec07-content-wrap .slide-img-wrap')
    const scene04Text = $('#company-wrap .sec07 .sec07-bg-wrap .inner .sec07-content-wrap h6');
    const op1 = (windowScroll - (scene04Top + (scene04Height * 0.05))) / (scene04Height * 0.05) * (1 - 0) + 0;
    const tr1 = (windowScroll - (scene04Top + (scene04Height * 0.1))) / (scene04Height * 0.7) * (-600 - 100) + 100;
    const tr2 = (windowScroll - (scene04Top + (scene04Height * 0.2))) / (scene04Height * 0.25) * (0 + 100) - 100;

    if (windowScroll > scene04Top) {
      scene04.addClass('on');
    } else {
      scene04.removeClass('on');
    }

    if (windowScroll >= scene04Top + (scene04Height * 0.05)) {
      scene04Text.css({
        'opacity' : `${op1}`
      })
    } else if (windowScroll < scene04Top + (scene04Height * 0.05)) {
      scene04Text.css({
        'opacity' : 0
      })
    }

    if (windowScroll >= scene04Top + (scene04Height * 0.1)) {
      slideBox.css('transform', `translateY(${tr1}vh)`);
      // leftBox.css('transform', `translateY(${tr1}%)`);
      // rightBox.css('transform', `translateY(${tr2}%)`);
    } else if (windowScroll < scene04Top + (scene04Height * 0.1)) {
      slideBox.css('transform', `translateY(100vh)`);
    }
  })

</script>


          <!--// icr 작업영역 -->
      </div>

    </div>

    <!-- Footer Area Start -->
<footer>
    <div class="inner">

        <!-- Top-info Area Start -->
        <div class="top-info">
          <div class="family-site" onclick="(alert('준비중입니다.'))">
                <button type="button" class="family-site-btn">
                    <span>FAMILY SITE</span>
                    <img src="../../img/mo-plus-icon.png" alt="plus-icon">
                </button>
                <ul>
                    <li><a href="javascript:void(0);">어센틱 몰</a></li>
                    <li><a href="javascript:void(0);">어센틱 에듀</a></li>
                    <li><a href="javascript:void(0);">어센틱 케어</a></li>
                    <li><a href="javascript:void(0);">어센틱 테일러드</a></li>
                    <li><a href="javascript:void(0);">어센틱 라인</a></li>
                    <li><a href="javascript:void(0);">어센틱 링크</a></li>
                    <li><a href="javascript:void(0);">어센틱 라운지</a></li>
                </ul>
            </div>
            <div class="sns">
                <ul>
                    <li><a href="https://www.instagram.com/afg.kr/" target="_blank" class="no-motion">인스타그램</a></li>
                    <li><a href="https://www.youtube.com/channel/UCVqm7z5vVda537C1U1xDNpw" target="_blank" class="no-motion">유튜브</a></li>
                </ul>
            </div>
        </div>

        <!-- Bottom-info Area Start -->
        <div class="bottom-info">
            <div class="copyright">(주) 어센틱금융그룹 © 2022</div>
            <p>
                <span>주소  서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층</span>
                <span>사업자 등록번호  626-87-00900    대표번호  1566 0428</span>
                <span>보험대리점등록번호 : 제2018040001 | 보험대리점등록증[클릭]</span>
            </p>
            <div class="corp-area">
                <ul>
                    <li><a href="javascript:void(0);">이용약관</a></li>
                    <li><a href="javascript:void(0);">개인정보처리방침</a></li>
                </ul>
                <ul>
                    <li><a href="javascript:void(0);">금융소비자보호기준</a></li>
                    <li><a href="javascript:void(0);">금융소비자보호 내부통제기준</a></li>
                </ul>
            </div>
            <div class="footer-circle">
                <a href="javascript:void(0);" id="top-btn">
                    <span class="arrow"><img src="../../img/footer-top-icon.png" alt="arrow-top"></span>
                </a>
            </div>
        </div>

    </div>
</footer><!-- Footer Area End -->

    
  </div>
</body>
<script>
    AOS.init();
  </script>

</html>
