<div class="wrap pd pb-80">
    <div class="close-btn" onclick="closeThree()">닫기 X</div>
    <div class="mo-title mb-20 pt-105">금융소비자보호기준</div>
    <div class="mo-sub-title mb-20">
        2021년 09월 14일 제정
    </div>
    <div class="mo-big mb-30">
        제1장 총칙
    </div>
    <div class="mo-bold mb-10">
        제1조(목적)
    </div>
    <div class="mo-grey mb-30">
        이 기준은「금융소비자 보호에 관한 법률」 제32조 제3항에 따라 금 융소비자 불만 예방 및 신속한 사후구제를 통하여 금융소비자를 보호하기 위하여
        ㈜어센틱금융그룹(이하“회사”라고 한다)의 임직원이 업무를 수행할 때 준수하여 야 할 기본적인 절차와 기준을 마련함을 목적으로 한다.
    </div>
    <div class="mo-bold mb-10">
        제2조 (용어의 정의)
    </div>
    <div class="mo-grey">
        ① 이 기준에서 사용하는 용어는 이 기준에서 별도로 정한 경우 외에는 「금융소 비자 보호에 관한 법률」(이하 “금융소비자보호법”이라 한다),
        그 하위 법규 (이하 금융소비자보호법과 총칭하여 “금융소비자보호법규”라 한다) 및 금융 소비자보호 내부통제기준에서 정의한 바에 따른다.
    </div>
    <div class="mo-grey">
        ② “금융소비자보호 내부통제기준”란 회사가 금융소비자보호법 제16조 제2항에 따라 마련한 금융소비자보호 내부통제기준을 말한다.
    </div>
    <div class="mo-grey mb-30">
        ③ 금융소비자보호와 관련하여, 이 기준 및 이 기준의 위임에 따른 하위 규정에 서 정하지 아니한 사항은 금융소비자보호법규에 의한다.
    </div>
    <div class="mo-big mb-30">
        제2장 금융소비자의 권리 및 안내
    </div>
    <div class="mo-bold mb-10">
        제3조(금융소비자의 기본적 권리)
    </div>
    <div class="mo-grey mb-10">
        금융소비자는 다음 각 호의 기본적 권리를 가진다.
    </div>
    <div class="mo-grey">
        1. 금융상품판매업자등의 위법한 영업행위로 인한 재산상 손해로부터 보호받을 권리
    </div>
    <div class="mo-grey">
        2. 금융상품을 선택하고 소비하는 과정에서 필요한 지식 및 정보를 제공받을 권리
    </div>
    <div class="mo-grey">
        3. 금융상품의 소비로 인하여 입은 피해에 대하여 신속・공정한 절차에 따라 적 절한 보상을 받을 권리
    </div>
    <div class="mo-grey mb-30">
        4. 그 밖에 금융소비자보호법규에서 정하는 금융소비자의 권리
    </div>
    <div class="mo-bold mb-10">
        제4조 (금융소비자의 권리 안내 방법)
    </div>
    <div class="mo-grey">
        ① 회사는 금융상품과 관련한 금융소비자보호법규 등 관련 법령이나 계약상 금융 소비자의 권리 및 금융소비자에게 부담이 되는 정보에 대한 안내 방법을
        마련하고, 소비자보호 및 시의성 등을 고려하여 안내시기ㆍ내용에 대한 매뉴얼을 정할 수 있다.
    </div>
    <div class="mo-grey mb-30">
        ② 제1항과 관련하여 회사는 금융소비자가 특정 방법으로 안내해 줄 것을 요청하 는 경우에는 그 방법으로 안내할 수 있도록 최대한 노력하여야 한다.
    </div>
    <div class="mo-big mb-30">
        제3장 금융소비자보호기준의 운영을 위한 조직・인력
    </div>
    <div class="mo-bold mb-10">
        제5조(금융소비자보호기준 운영 조직 및 인력)
    </div>
    <div class="mo-grey">
        ① 회사는 금융소비자보호기준의 운영을 담당하는 조직(이하 “금융소비자보호 담당부서”라 한다)을 설치 및 운영하여야 한다
    </div>
    <div class="mo-grey">
        ② 회사는 금융소비자보호기준의 운영 업무를 수행하기 위하여 회사의 규모와 영 업특성 등을 고려하여 적정 규모의 금융소비자보호 담당부서의
        업무책임자 및 업무담당자를 선발ㆍ운영하여야 한다.
    </div>
    <div class="mo-grey mb-40">
        ③ 금융소비자보호 총괄기관, 총괄책임자 및 업무담당자는 제1항 및 제2항에 따른 금융소비자보호 담당부서, 업무책임자, 업무담당자로 본다.
    </div>
    <div class="mo-big mb-30">
        제4장 민원・분쟁 발생 시 업무처리 절차 및 전자정보처리시스템 구축
    </div>
    <div class="mo-bold mb-10">
        제6조(민원・분쟁 발생 시 업무처리 절차)
    </div>
    <div class="mo-grey">
        ① 회사는 독립적이고 공정한 민원처리와 구제절차를 마련하여 운영하여야 하며, 금융소비자가 시의적절하고 효율적이며 저렴한 비용으로
        이용할 수 있도록 하여야 한다.
    </div>
    <div class="mo-grey">
        ② 회사는 금융소비자의 민원 또는 분쟁의 관리절차가 효율적으로 시행되도록 다 음 각 호의 사항이 포함된 민원 및 분쟁처리에 관한 기준과
        절차를 마련하여야 한다.
    </div>
    <div class="mo-grey">
        1. 민원사무와 분쟁사무 담당조직 및 기구에 관한 사항
    </div>
    <div class="mo-grey">
        2. 민원 및 분쟁의 접수 및 처리
    </div>
    <div class="mo-grey">
        3. 민원 및 분쟁 예방 및 사후관리
    </div>
    <div class="mo-grey">
        4. 민원 및 분쟁 업무 조사
    </div>
    <div class="mo-grey">
        ③ 금융소비자보호 담당부서는 민원・분쟁 발생 시 즉각적으로 고객불만 내용을 파악하고 대응해야 하며, 다음 각 호의 사항을 포함한
        민원・분쟁 업무처리 매 뉴얼을 마련할 수 있다
    </div>
    <div class="mo-grey">
        1. 금융소비자의 주요 권리
    </div>
    <div class="mo-grey">
        2. 민원ㆍ분쟁 진행절차 및 소요기간
    </div>
    <div class="mo-grey">
        3. 민원ㆍ분쟁 사례 및 관련 판례
    </div>
    <div class="mo-grey">
        4. 민원ㆍ분쟁 사례별 응대요령
    </div>
    <div class="mo-grey">
        5. 민원ㆍ분쟁 예방 체크리스트
    </div>
    <div class="mo-grey">
        6. 업무자료집 접속방법
    </div>
    <div class="mo-grey">
        7. 주요 업무 Q&A
    </div>
    <div class="mo-grey">
        8. 업무담당자 연락처
    </div>
    <div class="mo-grey">
        ④ 금융소비자보호 담당부서는 민원평가를 실시하여 민원발생에 책임이 있는 부 서, 업무절차 및 담당자 등을 규명하고 관련 부서에
        피드백하여 개선방안을 강 구하여야 한다.
    </div>
    <div class="mo-grey">
        ⑤ 금융소비자보호 담당부서는 다음 각 호의 사항을 분석하고 민원예방 및 해소 방안을 수립하여 정기적으로 경영진에게 보고하여야 한다.
    </div>
    <div class="mo-grey">
        1. 민원발생 및 처리 현황, 민원처리 소요시간
    </div>
    <div class="mo-grey">
        2. 주요 빈발민원에 대한 원인 및 대책
    </div>
    <div class="mo-grey">
        3. 민원평가 결과, 민원관련 경영성과지표
    </div>
    <div class="mo-grey">
        4. 제도개선 실적, 교육훈련 실시 결과 등
    </div>
    <div class="mo-grey">
        ⑥ 금융소비자보호 담당부서는 민원 관련부서에 실시간으로 민원 접수 내용을 제 공하고, 제도개선 시스템을 구축하여 소비자불만을
        근본적으로 해소하고자 노 력하여야 한다.
    </div>
    <div class="mo-grey mb-30">
        ⑦ 금융소비자보호 담당부서는 금융소비자, 내부직원 등으로부터 제도개선 사안 발굴을 위한 다양한 접수채널을 개발하고,
        이를 활성화하기 위한 제도를 구축, 운영하여야 한다.
    </div>
    <div class="mo-bold mb-10">
        제7조 (전자정보처리시스템 구축)
    </div>
    <div class="mo-grey">
        ① 회사는 다음 각 호의 사항을 효율적ㆍ체계적으로 관리하기 위하여 전자정보처 리시스템을 구축하여야 한다.
    </div>
    <div class="mo-grey">
        1. 금융소비자의 민원 진행상황 및 처리결과
    </div>
    <div class="mo-grey">
        2. 금융소비자와의 분쟁조정ㆍ소송 진행상황 및 결과
    </div>
    <div class="mo-grey">
        ② 제1항에 따른 전자정보처리시스템은 진행 단계별로 구분되어야 하고, 각 단계 별 소요기간, 업무담당자를 명시하여야 하며,
        민원ㆍ분쟁 진행 상황 및 처리결 과의 주요 내용을 금융소비자가 요청하는 방법으로 안내ㆍ통지할 수 있는 방법 을 마련하여야 한다.
    </div>
    <div class="mo-grey">
        ③ 회사는 제1항의 전자정보처리시스템을 통하여 민원처리시 접수사실 및 사실관 계 조사현황 등을 정기적으로 금융소비자에게 고지하여야 하며,
        민원인의 의견 을 회사 경영에 반영하여 민원예방에 노력하여야 한다.
    </div>
    <div class="mo-grey">
        ④ 회사는 민원처리 결과를 금융소비자가 수긍할 수 있도록 관련 법령, 사실관계 조사결과 등 명시적인 근거를 제시하고 금융소비자가
        이해하기 쉬운 용어를 사 용하여야 하며, 민원처리 후에는 처리결과를 문서, 팩스, 전자우편, 문자메시지, 전화 등의 방법으로
        금융소비자에게 통지하여야 한다.
    </div>
    <div class="mo-grey mb-30">
        ⑤ 그 밖에 제1항에 따른 전자정보처리시스템의 구축과 관련한 세부사항은 민 원・분쟁 업무처리 매뉴얼 등으로 정한다.
    </div>
    <div class="mo-big mb-30">
        제5장 금융소비자보호기준 준수 여부에 대한 점검・조치 및 평가
    </div>
    <div class="mo-bold mb-10">
        제8조(금융소비자보호기준 준수 여부에 대한 점검 및 평가)
    </div>
    <div class="mo-grey">
        ① 금융소비자보호 담당부서의 업무책임자는 임직원의 금융소비자보호기준 준수여 부를 업무의 중요도 및 위험도 등을 감안하여 주기적으로 점검하여야 한다.
    </div>
    <div class="mo-grey">
        ② 금융소비자보호 담당부서의 업무책임자는 각 조직단위의 장으로 하여금 금융소 비자보호 담당부서의 업무책임자가 정한 방법에 따라 소관조직 및
        소관업무에 대 한 금융소비자보호기준 위반 여부를 점검하게 할 수 있다.
    </div>
    <div class="mo-grey">
        ③ 각 조직단위의 장은 제2항에 따라 점검을 실시한 경우 점검결과를 금융소비자 보호 담당부서의 업무책임자에게 보고하여야 한다.
    </div>
    <div class="mo-grey">
        ④ 금융소비자보호 담당부서의 업무책임자는 금융소비자보호기준 등의 준수여부를 점검하는 과정에서 위법ㆍ부당행위 발견 시 직접 조사하거나
        필요한 경우 검사 조직에 조사를 의뢰할 수 있다.
    </div>
    <div class="mo-grey">
        ⑤ 금융소비자보호 담당부서의 업무책임자는 제1항 및 제3항에 따른 점검 결과를 평가하여, 대표이사 및 금융소비자보호 내부통제위원회에 보고하여야 한다.
    </div>
    <div class="mo-grey mb-30">
        ⑥ 회사는 제1항 내지 제4항에 따른 점검의 방법, 위규 사실 확인시 조치사항 등 에 관한 사항이 포함된 세부기준을 마련하여 시행한다.
    </div>
    <div class="mo-bold mb-10">
        제9조 (금융소비자보호기준 위반 시 처리)
    </div>
    <div class="mo-grey">
        ① 회사는 이 기준의 위반행위의 정도, 위반행위의 동기와 그 결과 등을 감안하 여 관련 부서 및 임직원에 대한 조치 방안을 마련하여야 한다.
    </div>
    <div class="mo-grey">
        ② 금융소비자보호 담당부서의 업무책임자는 금융소비자보호기준 위반사항에 대 해 관련 부서에 시정 또는 개선을 요구하거나 검사를 의뢰할 수 있으며
        징계 등 필요한 인사조치를 요구할 수 있다. 이 경우 해당 부서장은 특별한 사정이 없는 한 요구에 응하여야 한다.
    </div>
    <div class="mo-grey mb-40">
        ③ 회사는 중대한 위법ㆍ부당행위 발견 등 필요한 경우 감사위원회나 감사 또는 그에 준하는 자에게 보고할 수 있다.        
    </div>
    <div class="mo-big mb-30">
        제6장 민원・분쟁 대응 관련 교육・훈련
    </div>
    <div class="mo-bold mb-10">
        제10조(임직원 교육·훈련)
    </div>
    <div class="mo-grey">
        ① 금융소비자보호 담당부서는 민원・분쟁 대응과 관련하여 임직원을 대상으로 제6조에 따른 업무처리매뉴얼 및 제7조에 따른 전자정보처리시스템
        활용에 대한 교육 과정을 진행하고, 정기·수시로 보수교육을 실시하여야 한다.
    </div>
    <div class="mo-grey">
        ② 금융소비자보호 담당부서는 과거 민원 이력, 금융감독원 검사 및 현장점검 사례 등을 감안하여 임직원 중 불완전판매 유발 임직원을 지정․관리할 수 있으며,
        동 임직원에 대해서는 불완전판매 예방 교육을 직접 실시하거나 관련 부서에 실시 를 요청하여야 한다.
    </div>
    <div class="mo-grey mb-40">
        ③ 회사는 민원・분쟁 대응 임직원의 업무 난이도 등을 감안하여 근무연한, 순환 배치, 인센티브 부여 등 보상체계를 마련하여야 한다.
    </div>
    <div class="mo-big mb-30">
        제7장 금융소비자보호기준의 제정ㆍ변경 절차
    </div>
    <div class="mo-bold mb-10">
        제11조(금융소비자보호기준의 제ㆍ개정)
    </div>
    <div class="mo-grey mb-40"> 
        회사는 이 기준의 제정ㆍ변경 절차와 관 련된 사항은 금융소비자보호 내부통제기준을 준용한다
    </div>
    <div class="mo-big mb-30">
        제8장 금융소비자의 권리행사에 대한 대응
    </div>
    <div class="mo-bold mb-10">
        제12조(금융소비자의 자료열람 요구에 관한 기준 및 절차)
    </div>
    <div class="mo-grey">
        ① 금융소비자는 분쟁 조정 또는 소송의 수행 등 권리구제를 위한 목적으로 회사가 기록 및 유지ㆍ관리 하는 다음 자료의 열람
        (사본의 제공 또는 청취를 포함)을 요구할 수 있다.
    </div>
    <div class="mo-grey">
        1. 금융상품등에 관한 광고 자료
    </div>
    <div class="mo-grey">
        2. 금융소비자의 권리 행사에 관한 다음의 자료 가. 금융소비자의 자료 열람 연기ㆍ제한 및 거절 나. 청약의 철회 다. 위법계약의 해지
    </div>
    <div class="mo-grey">
        3. 내부통제기준의 제정 및 운영 등에 관한 자료
    </div>
    <div class="mo-grey">
        4. 업무 위탁에 관한 자료
    </div>
    <div class="mo-grey mb-30">
        ② 회사는 제1항에 따른 금융소비자의 자료열람요구에 대응하기 위해 필요한 절 차 및 기준을 마련하여야 한다.
    </div>
    <div class="mo-bold mb-10">
        제13조(일반금융소비자의 계약청약 철회에 관한 기준과 절차)
    </div>
    <div class="mo-grey">
        ① 회사는 금융소비자 보호법 제2조 제10호에서 정한 일반금융소비자가 금융소비자보호법규에 따라 금융상품에 관한 계약의 청약을 철회하는 경우에
        다음 각 호의 사항을 안내하 여야 한다.
    </div>
    <div class="mo-grey">
        1. 보험회사에서 청약의 철회가 가능하다는 사실
    </div>
    <div class="mo-grey">
        2. 보험회사에 철회의사를 표시하는 방법(연락처 등)
    </div>
    <div class="mo-grey mb-30">
        ② 회사는 제1항의 사항을 포함하여 청약의 철회에 관련하여 필요한 기준과 절차 를 마련하여야 한다.
    </div>
    <div class="mo-bold mb-10">
        제14조(금융소비자의 위법계약해지요구에 관한 기준과 절차)
    </div>
    <div class="mo-grey">
        ① 회사는 금융소비자가 회사 또는 보험회사가 금융소비자보호법에서 정하는 적합성 원칙, 적정성 원칙, 설명의무, 불공정영업행위금지 또는
        부당권유행위금지에 위반하여 금융상품에 관한 계약의 해지를 요구하는 경우에 다음 각 호의 사항을 안내하여야 한다.
    </div>
    <div class="mo-grey">
        1. 보험회사에서 계약의 철회가 가능하다는 사실
    </div>
    <div class="mo-grey">
        2. 보험회사에 철회의사를 표시하는 방법(연락처 등)
    </div>
    <div class="mo-grey">
        ② 보험회사가 금융소비자로부터 금융소비자보호법 제47조에 따라 위법계약의 해 지를 요구받아 회사에 법 위반사실에 대한 자료제출 등을 요구하는 경우
        회사 는 이에 적극 협조하여야 하며, 특별한 사유가 없는 한 보험회사가 요청하는 기 일을 준수하여야 한다.
    </div>
    <div class="mo-grey mb-40">
        ③ 제1항 및 제2항을 포함하여 회사는 위법계약의 해지요구와 관련하여 필요한 기준과 절차를 마련하여야 한다.
    </div>
    <div class="mo-bold mb-10">
        제15조 (정보의 시의성 확보)
    </div>
    <div class="mo-grey">
        ① 회사는 금융소비자의 권리 등에 대한 정보제공과 관련하여 제공시기 및 내용을 금융소비자의 관점에서 고려하고 정보제공이 시 의적절하게
        이루어 질 수 있도록 내부지침을 마련하여 운영하여야 한다.
    </div>
    <div class="mo-grey mb-40">
        ② 회사는 공시자료 내용에 변경이 생긴 경우 특별한 사유가 없는 한 지체없이 자료를 수정함으로써 금융소비자에게 정확한 정보를 제공하여야 한다.
    </div>
    <div class="mo-big mb-30">
        제9장 계약 체결 후 금융소비자 보호를 위해 필요한 사항 점검 및 관련 제도 개선에 관한 사항
    </div>
    <div class="mo-bold mb-10">
        제16조(계약 체결 후 금융소비자 보호를 위한 필요 사항 점검 및 제도 개선)
    </div>
    <div class="mo-grey">
        ① 금융소비자보호 담당부서는 금융상품과 관련한 민원・분쟁이 빈발하는 경우 주요 원인을 파악하고, 제도개선 사항을 도출하여 관련 부서장에게
        제도개선 조치를 요청하고, 개선여부를 관리하여야 한다.
    </div>
    <div class="mo-grey">
        ② 제도개선을 요구받은 관련 부서는 신속하게 개선계획 및 결과를 보고하여야 하며, 금융소비자보호 담당부서는 그 개선계획 진행사항 및 그 결과를
        대표이 사 및 내부통제위원회 또는 금융소비자보호 총괄기관에 보고하여야 한다.
    </div>
    <div class="mo-grey">
        ③ 회사는 금융소비자와 계약 체결을 대리한 후 금융소비자가 자료열람 요구, 청 약철회권 또는 위법계약해지권의 행사, 기타 금융소비자보호법규상
        권리를 행 사하는 경우 이를 금융소비자보호법규에 따라 적절하게 처리하고 있는지 여부 를 점검하여야 한다.
    </div>
    <div class="mo-grey mb-30">
        ④ 회사는 금융소비자의 민원제기, 자료열람 요구, 청약철회권 또는 위법계약해지 권의 행사 등이 자주 발생하는 경우 주요 원인을 파악하고 분석하여야 한다.
    </div>
    <div class="mo-bold mb-10">
        제17조(세부지침)
    </div>
    <div class="mo-grey mb-40">
        이 기준의 시행에 필요한 세부사항은 대표이사가 별도로 정하는 바에 따른다.
    </div>
    <div class="mo-big mb-30">
        부칙
    </div>
    <div class="mo-bold mb-10">
        제1조(시행일)
    </div>
    <div class="mo-grey mb-100">
        이 기준은 2021년 9월 14일부터 시행한다.
    </div>
</div>
<div class="mo-footer"">
    <div>
      서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층<br>
      Copyright ⓒ AFG. ALL RIGHTS RESERVED
    </div>
  </div>