<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="title">
  <meta name="copyright" content="Copyright ⓒ Cafe24 Corp.All Rights Reserved.">
  <meta name="description" content="">
  <title>AFG</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- kumb -->
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- bonmi stylesheet -->
  <link rel="stylesheet" type="text/css" href="../../css/style.css">

  <!-- jquery -->
  <script src="../../js/ui/lib/jquery-1.11.1.min.js"></script>

  <!-- Slick Slider -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- Swiper Slider -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  <!-- AOS animation -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- bonme script -->
  <script src="../../js/ui/page.js" type="text/javascript"></script>

  
  
</head>


<body class="hidden">

  <div id="loading-page">
    <div class="text">
      <span><img src="../../img/loading-logo.png" alt=""></span>
      <span><img src="../../img/loading-logo.png" alt=""></span>
    </div>
  </div>

  <div id="wrapper">

    <!-- Header Area Start -->
<header>
    <div class="inner">

        <!-- Logo Area Start -->
        <div id="logo">
            <h1>
                <a href="/" class="ir">AUTHENTIC FINANCIAL GROUP</a>
            </h1>
        </div>

        <!-- Gnb Area Start -->
        <div class="menu">
            <button type="button" class="menu-btn">
                <span></span>
                <span></span>
            </button>
            <div id="gnb">
                <ul>
                    <li>
                        <a href="../sub/company.html">
                            <span>01</span>
                            회사소개
                        </a>
                    </li>
                    <li>
                        <a href="../sub/collection.html">
                            <span>02</span>
                            컬렉션
                        </a>
                    </li>
                    <li>
                        <a href="../sub/system.html">
                            <span>03</span>
                            시스템
                        </a>
                    </li>
                    <li>
                        <a href="../sub/studio.html">
                            <span>04</span>
                            스튜디오
                        </a>
                    </li>
                    <li>
                        <a href="../sub/news.html">
                            <span>05</span>
                            뉴스
                        </a>
                    </li>
                    <li>
                        <a href="../sub/recruit.html">
                            <span>06</span>
                            채용
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</header><!-- Header Area End -->

    <div id="wrap" class="">

      <div class="">
          <!-- icr 작업영역 -->
          

<div id="news-wrap">
  <div class="inner">
    <!-- components -->
    <div class="title-msg-wrap">
      <div class="title-nav overflow-hidden">
        <ul class="fadeUpAni">
          <li class="dep1">
            <a href="/">HOME</a>
          </li>
          <i><img src="../../img/sub-nav-arrow.png" alt="sub nav arrow"></i>
          <li class="dep2">
            <a href="javascript:void(0);">
              뉴스
            </a>
          </li>
        </ul>
      </div>
      <h1 class="title-msg">
        <div class="overflow-hidden">
          <p class="fadeUpAni">어센틱금융그룹의</p>
        </div>
        <div class="overflow-hidden">
          <p class="fadeUpAni delayOne">최신뉴스를</p>
        </div>
        <div class="overflow-hidden">
          <p class="fadeUpAni delayTwo">소개합니다</p>
        </div>
      </h1>
    </div>
    <!-- components -->

    <!-- new content -->
    <section class="news-cont-wrap">
      <!-- new tab -->
      <ul class="tab-box">
        <li class="on"><a href="javascript:void(0);" data-tab="#pr" class="btn">PR</a></li>
        <li><a href="javascript:void(0);" data-tab="#pr" class="btn">IR</a></li>
      </ul>
      <!-- //news tab-->

      <!-- news cont -->
      <div class="cont-list-wrap">
        <div class="cont-inner">

          <!-- //pr pg -->
          <ul class="pr-pg" id="pr">
            <li class="cont-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
              data-aos-easing="ease-out-cubic" data-aos-duration="750">
              <a href="https://www.insjournal.co.kr/news/articleView.html?idxno=9462" class="no-motion" target="_blank">
                <div class="img-box bg-type5"></div>
                <div class="txt-area">
                  <h2>어센틱금융그룹, ‘건강지표 분석 시스템’ 고도화…건강미박람회서 시현</h2>
                  <p>
                    “금융에 패션을 입히다”(The Finance Wears Fashion)라는 슬로건으로 금융·보험 업계의 이목을 집중시키고 있는 어센틱금융그룹(AFG)이 제13회 MBN 건강미박람회에 참가해 새로 개발한 질병, 암 발생 위험도 및 의료비 예측 분석 솔루션인 ‘어센틱 케어 리포트’(Authentic Care Report)’등을 소개했다.
                  </p>
                  <sapn class="day">2022-07-20</sapn>
                </div>
              </a>
            </li>
            <li class="cont-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
              data-aos-easing="ease-out-cubic" data-aos-duration="750">
              <a href="https://www.fnnews.com/news/202203171023063089" class="no-motion" target="_blank">
                <div class="img-box bg-type4"></div>
                <div class="txt-area">
                  <h2>어센틱금융그룹, 청년 설계사 육성 프로그램 ‘어센틱코어히어로즈’ 모집</h2>
                  <p>
                    ‘금융에 패션을 입히다’(The Finance Wears Fashion)는 슬로건으로 금융업계의 관심을 끌고 있는 ㈜어센틱금융그룹(AFG)은 신입설계사 양성 프로그램인 ‘어센틱코어히어로즈’ 프로그램으로 주목받고 있다.
                  </p>
                  <sapn class="day">2022-03-17</sapn>
                </div>
              </a>
            </li>
            <li class="cont-box point-bg" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
              data-aos-easing="ease-out-cubic" data-aos-duration="750">
              <a href="https://www.mk.co.kr/news/business/view/2022/01/76898" class="no-motion" target="_blank">
                <div class="img-box bg-type2"></div>
                <div class="txt-area">
                  <h2>어센틱금융그룹, 4월 ‘2022 S/S COLLECTION’ 개최</h2>
                  <p>
                    ‘금융에 패션을 입히다’(The Finance Wears Fashion)는 슬로건으로 금융업계의 관심을 끌고 있는 ㈜어센틱금융그룹(AFG)은 상반기 프로모션인 ‘2022 S/S COLLECTION’을 제주도에서 개최한다.
                  </p>
                  <sapn class="day">2022-01-26</sapn>
                </div>
              </a>
            </li>
            <li class="cont-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
              data-aos-easing="ease-out-cubic" data-aos-duration="750">
              <a href="https://dailian.co.kr/news/view/1053826" class="no-motion" target="_blank">
                <div class="img-box bg-type3"></div>
                <div class="txt-area">
                  <h2>어센틱금융그룹, ‘2021 F/W COLLECTION’ 성공적 개최 완료</h2>
                  <p>
                    '금융에 패션을 입히다'(The Finance Wears Fashion)는 슬로건으로 금융업계의 이목을 집중시키고 있는 (주)어센틱금융그룹은 ‘2021년 F/W COLLECTION’ 컨벤션 행사를 2박3일의 일정을 끝으로 성공적으로 마쳤다고 밝혔다.
                  </p>
                  <sapn class="day">2021-11-18</sapn>
                </div>
              </a>
            </li>
            <li class="cont-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
              data-aos-easing="ease-out-cubic" data-aos-duration="750">
              <a href="https://www.mk.co.kr/news/business/view/2021/10/968157" class="no-motion" target="_blank">
                <div class="img-box bg-type1"></div>
                <div class="txt-area">
                  <h2>어센틱금융그룹, A CARE LOUNGE 기반의 병원영업부문 신설</h2>
                  <p>
                    ‘금융에 패션을 입히다’(The Finance Wears Fashion)는 슬로건을 선보이는 ㈜어센틱금융그룹(대표 김정민)은 병원의 진료에서 청구까지 원스톱 자동화 시스템 확장 트렌드에 발맞추어 전문적인 서비스를 강화하도록, 병원영업부문을 신설하여 기존의 20여 개 병원에서 전국적으로 내년 상반기까지 100개소를 목표로 확장을 추진하고 있다고 밝혔다.	
                  </p>
                  <sapn class="day">2021-10-13</sapn>
                </div>
              </a>
            </li>

          </ul>
          <!-- //pr pg -->

          <!-- //ir pg -->
          <ul class="ir-pg" id="ir" style="display: none;">
            <li class="cont-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
              data-aos-easing="ease-out-cubic" data-aos-duration="750">
              <a href="https://www.mk.co.kr/news/business/view/2022/01/76898/" class="no-motion" target="_blank">
                <div class="img-box bg-type2"></div>
                <div class="txt-area">
                  <h2>어센틱금융그룹, 4월 '2022 S/S COLLECTION' 개최</h2>
                  <p>
                    '금융에 패션을 입히다'(The Finance Wears Fashion)는 슬로건으로 금융업계의 이목을 집중시키고 있는 (주)어센틱금융그룹은 ‘2021년 F/W
                  </p>
                  <sapn class="day">2021-11-18</sapn>
                </div>
              </a>
            </li>
            <li class="cont-box point-bg" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
              data-aos-easing="ease-out-cubic" data-aos-duration="750">
              <a href="https://www.mk.co.kr/news/business/view/2021/10/968157/" class="no-motion" target="_blank">
                <div class="img-box bg-type3"></div>
                <div class="txt-area">
                  <h2>어센틱금융그룹, A CARE 기반의
                    병원영업부문 신설</h2>
                  <p>
                    ‘금융에 패션을 입히다’(The Finance Wears Fashion)는 슬로건을 선보이는 ㈜어센틱금융그룹(대표 김정민)은 병원의 진료에서 청구까지 원스
                  </p>
                  <sapn class="day">2021-12-20</sapn>
                </div>
              </a>
            </li>
            <li class="cont-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
              data-aos-easing="ease-out-cubic" data-aos-duration="750">
              <a href="https://www.mk.co.kr/news/business/view/2021/10/968157/" class="no-motion" target="_blank">
                <div class="img-box bg-type1"></div>
                <div class="txt-area">
                  <h2>어센틱금융그룹, A CARE 기반의
                    병원영업부문 신설</h2>
                  <p>
                    ‘금융에 패션을 입히다’(The Finance Wears Fashion)는 슬로건을 선보이는 ㈜어센틱금융그룹(대표 김정민)은 병원의 진료에서 청구까지 원스
                  </p>
                  <sapn class="day">2021-12-20</sapn>
                </div>
              </a>
            </li>
            <li class="cont-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
              data-aos-easing="ease-out-cubic" data-aos-duration="750">
              <a href="https://www.mk.co.kr/news/business/view/2021/12/1145875/" class="no-motion" target="_blank">
                <div class="img-box bg-type1"></div>
                <div class="txt-area">
                  <h2>어센틱금융그룹, 금융소비자보호
                    전담기구 설립</h2>
                  <p>
                    (주)어센틱금융그룹은 금융소비자보호 전담기구를 조직 상설부서로 신설하고 임원을 배정해 운영에 들어갔다고 밝혔다.금융소비자보호 전담기구는
                  </p>
                  <sapn class="day">2021-12-20</sapn>
                </div>
              </a>
            </li>
          </ul>
          <!-- //ir pg -->

        </div>
        <ul id="page-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <li class="prev"><a href="javascript:void(0);"><img src="../../img/mo-news-prev.png"
                alt="prev-page"></a></li>
          <li class="page-num active"><a href="javascript:void(0);">1</a></li>
          <li class="page-num"><a href="javascript:void(0);">2</a></li>
          <li class="page-num"><a href="javascript:void(0);">3</a></li>
          <li class="page-num"><a href="javascript:void(0);">4</a></li>
          <li class="page-num"><a href="javascript:void(0);">5</a></li>
          <li class="next"><a href="javascript:void(0);"><img src="../../img/mo-news-next.png"
                alt="next-page"></a></li>
        </ul>
      </div>
      <!-- //news cont -->

    </section>
    <!-- //news content -->

  </div>
</div>


<!-- <script defer>
  // news PR / IR tab menu
  const newsTab = document.querySelectorAll('.news-cont-wrap .tab-box li');
  const newsCont = document.querySelectorAll('.cont-list-wrap .cont-inner ul');
  let activeCont = '';

  for (var i = 0; i < newsTab.length; i++) {
    newsTab[i].querySelector('.btn').addEventListener('click', function (e) {
      e.preventDefault();
      for (var j = 0; j < newsTab.length; j++) {
        newsTab[j].classList.remove('on');
        newsCont[j].style.display = 'none';
      }
      this.parentNode.classList.add('on');

      activeCont = this.getAttribute('data-tab');
      document.querySelector(activeCont).style.display = 'block';
    });
  }
</script> -->


          <!--// icr 작업영역 -->
      </div>

    </div>

    <!-- Footer Area Start -->
<footer>
    <div class="inner">

        <!-- Top-info Area Start -->
        <div class="top-info">
          <div class="family-site" onclick="(alert('준비중입니다.'))">
                <button type="button" class="family-site-btn">
                    <span>FAMILY SITE</span>
                    <img src="../../img/mo-plus-icon.png" alt="plus-icon">
                </button>
                <ul>
                    <li><a href="javascript:void(0);">어센틱 몰</a></li>
                    <li><a href="javascript:void(0);">어센틱 에듀</a></li>
                    <li><a href="javascript:void(0);">어센틱 케어</a></li>
                    <li><a href="javascript:void(0);">어센틱 테일러드</a></li>
                    <li><a href="javascript:void(0);">어센틱 라인</a></li>
                    <li><a href="javascript:void(0);">어센틱 링크</a></li>
                    <li><a href="javascript:void(0);">어센틱 라운지</a></li>
                </ul>
            </div>
            <div class="sns">
                <ul>
                    <li><a href="https://www.instagram.com/afg.kr/" target="_blank" class="no-motion">인스타그램</a></li>
                    <li><a href="https://www.youtube.com/channel/UCVqm7z5vVda537C1U1xDNpw" target="_blank" class="no-motion">유튜브</a></li>
                </ul>
            </div>
        </div>

        <!-- Bottom-info Area Start -->
        <div class="bottom-info">
            <div class="copyright">(주) 어센틱금융그룹 © 2022</div>
            <p>
                <span>주소  서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층</span>
                <span>사업자 등록번호  626-87-00900    대표번호  1566 0428</span>
                <span>보험대리점등록번호 : 제2018040001 | 보험대리점등록증[클릭]</span>
            </p>
            <div class="corp-area">
                <ul>
                    <li><a href="javascript:void(0);">이용약관</a></li>
                    <li><a href="javascript:void(0);">개인정보처리방침</a></li>
                </ul>
                <ul>
                    <li><a href="javascript:void(0);">금융소비자보호기준</a></li>
                    <li><a href="javascript:void(0);">금융소비자보호 내부통제기준</a></li>
                </ul>
            </div>
            <div class="footer-circle">
                <a href="javascript:void(0);" id="top-btn">
                    <span class="arrow"><img src="../../img/footer-top-icon.png" alt="arrow-top"></span>
                </a>
            </div>
        </div>

    </div>
</footer><!-- Footer Area End -->

    
  </div>
</body>
<script>
    AOS.init();
  </script>

</html>
