<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="title">
  <meta name="copyright" content="Copyright ⓒ Cafe24 Corp.All Rights Reserved.">
  <meta name="description" content="">
  <title>AFG</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- kumb -->
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- bonmi stylesheet -->
  <link rel="stylesheet" type="text/css" href="../../css/style.css">

  <!-- jquery -->
  <script src="../../js/ui/lib/jquery-1.11.1.min.js"></script>

  <!-- Slick Slider -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- Swiper Slider -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  <!-- AOS animation -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- bonme script -->
  <script src="../../js/ui/page.js" type="text/javascript"></script>

  
  
</head>


<body class="hidden">

  <div id="loading-page">
    <div class="text">
      <span><img src="../../img/loading-logo.png" alt=""></span>
      <span><img src="../../img/loading-logo.png" alt=""></span>
    </div>
  </div>

  <div id="wrapper">

    <!-- Header Area Start -->
<header>
    <div class="inner">

        <!-- Logo Area Start -->
        <div id="logo">
            <h1>
                <a href="/" class="ir">AUTHENTIC FINANCIAL GROUP</a>
            </h1>
        </div>

        <!-- Gnb Area Start -->
        <div class="menu">
            <button type="button" class="menu-btn">
                <span></span>
                <span></span>
            </button>
            <div id="gnb">
                <ul>
                    <li>
                        <a href="../sub/company.html">
                            <span>01</span>
                            회사소개
                        </a>
                    </li>
                    <li>
                        <a href="../sub/collection.html">
                            <span>02</span>
                            컬렉션
                        </a>
                    </li>
                    <li>
                        <a href="../sub/system.html">
                            <span>03</span>
                            시스템
                        </a>
                    </li>
                    <li>
                        <a href="../sub/studio.html">
                            <span>04</span>
                            스튜디오
                        </a>
                    </li>
                    <li>
                        <a href="../sub/news.html">
                            <span>05</span>
                            뉴스
                        </a>
                    </li>
                    <li>
                        <a href="../sub/recruit.html">
                            <span>06</span>
                            채용
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</header><!-- Header Area End -->

    <div id="wrap" class="">

      <div class="">
          <!-- icr 작업영역 -->
          

<div id="recruit-wrap">

  <!-- section01 start -->
  <secion class="sec01">
    <div class="inner">

      <!-- components -->
      <div class="title-msg-wrap">
        <div class="title-nav overflow-hidden">
          <ul class="fadeUpAni">
            <li class="dep1">
              <a href="/">HOME</a>
            </li>
            <i><img src="../../img/sub-nav-arrow.png" alt="sub nav arrow"></i>
            <li class="dep2">
              <a href="javascript:void(0);">
                채용
              </a>
            </li>
          </ul>
        </div>
        <h1 class="title-msg">
          <div class="overflow-hidden">
            <p class="fadeUpAni">어센틱금융그룹과</p>
          </div>
          <div class="overflow-hidden">
            <p class="fadeUpAni delayOne">함께할 잠재력 넘치는</p>
          </div>
          <div class="overflow-hidden">
            <p class="fadeUpAni delayTwo">인재를 찾습니다.</p>
          </div>
        </h1>
      </div>
      <!-- components -->
    </div>

    <div class="overflow-hidden">
      <div class="sec01-bg-wrap scaleAni"></div>
    </div>

  </secion>
  <!-- section01 end -->


  <!-- section02 start -->
  <section class="sec02 section-p">
    <div class="inner">
      <div class="sub-title-box overflow-hidden">
        <h2 class="recruit-sub-title fadeUpAni delayTwo">LET'S WORK<br />
          EASY</h2>
        <p class="fadeUpAni delayThree">어센틱금융그룹은 체계적인 교육 시스템과<br />
          전략적인 맞춤 시장 제공, 성과를 낼 수 있는<br />
          업무 환경이 구축되어 있습니다.</p>
      </div>

      <!-- content area -->
      <ul class="text-item-wrap">
        <li class="item-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <h3>필드 중심 기업문화</h3>
          <p>
            어센틱금융그룹은 열정적이고 도전적인 어센틱 플래너의 성공을 지원하는 현장 중심의 기업문화에 최고의 가치를 두고 있습니다.​
          </p>
        </li>
        <li class="item-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <h3>공정한 성공의 기회</h3>
          <p>
            어센틱금융그룹의 모든 어센틱 플래너는
            동일한 기회와 기준 아래 누구나 공정한
            성공의 기회가 주어집니다.
          </p>
        </li>
        <li class="item-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <h3>디지털노마드 어센틱</h3>
          <p>
            어센틱금융그룹은 어센틱 플래너의 업무 지원을 위해 다양한 기술 개발 및 혁신으로 업무 편의성 향상과 디지털 업무 확대를 강화하고 있습니다.​
          </p>
        </li>
      </ul>

    </div>
  </section>
  <!-- section02 end -->


  <!-- section03 start -->
  <section class="sec03 section-p">
    <div class="inner">
      <div class="sub-title-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
        data-aos-easing="ease-out-cubic" data-aos-duration="750">
        <h2 class="recruit-sub-title">
          MEET<br />
          OUR PEOPLE
          <a href="https://www.youtube.com/channel/UCVqm7z5vVda537C1U1xDNpw" class="no-motion">
            VIEW ALL 
            <i></i>
          </a>
        </h2>
        <p>
          어센틱금융그룹의 업무 환경과 어센틱
          플래너의 성장을 받쳐줄 다양한 시스템 등
          현재 근무하고 있는 어센틱플래너의
          스토리를 통해 확인해 보세요. 

          어센틱금융그룹의 업무 환경과 어센틱 <br />
          플래너의 성장을 받쳐줄 다양한 시스템 등 <br />
          현재 근무하고 있는 어센틱플래너의 <br />
          스토리를 통해 확인해 보세요.
        </p>
      </div>
    </div>

    <!-- video area-->
    <div class="sec02-content-wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
      data-aos-easing="ease-out-cubic" data-aos-duration="750">
      <div id="video-slide" class="video-area">
        <div class="item1 item">
          <a href="javascript:void(1);" class="play-btn">
            <div class="img-box"><img src="../../img/mo-recruit-frame-1.jpeg"></div>
            <div class="slide-video" data-youtube="https://www.youtube.com/embed/BpwhyPPKhe8"></div>
          </a>
        </div>
        <div class="item2 item">
          <a href="javascript:void(1);" class="play-btn">
            <div class="img-box"><img src="../../img/mo-recruit-frame-2.jpeg"></div>
            <div class="slide-video" data-youtube="https://www.youtube.com/embed/FnDqdYbB8V4"></div>
          </a>
        </div>
        <!-- <div class="item3 item">
          <a href="javascript:void(1);" class="play-btn">
            <div class="img-box"><img src="../../img/mo-recruit-frame-3.jpeg"></div>
            <div class="slide-video" data-youtube="https://www.youtube.com/embed/zTyqOC2RknQ"></div>
          </a>
        </div> -->
        <div class="item4 item">
          <a href="javascript:void(1);" class="play-btn">
            <div class="img-box"><img src="../../img/mo-recruit-frame-4.jpeg"></div>
            <div class="slide-video" data-youtube="https://www.youtube.com/embed/vYS2bWNa-tg"></div>
          </a>
        </div>

      </div>

      <!-- pagenation box -->
      <div class="pagenation-wrap">
        <!-- 현재 슬라이드 번호 -->
        <span class="video-pagenation">1</span>
        /
        <!-- 총 슬라이드 번호 -->
        <span class="video-pagenation">3</span>
      </div>
    </div>


  </section>
  <!-- section03 end -->

  <!-- section04 start -->
  <section class="sec04 section-p">
    <div class="inner">
      <div class="sub-title-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
        data-aos-easing="ease-out-cubic" data-aos-duration="750">
        <h2 class="recruit-sub-title">WHY CHOOSE<br />
          AUTHENTIC?</h2>
      </div>
      <div class="top-line-textbox" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
        data-aos-easing="ease-out-cubic" data-aos-duration="750">
        <p>
          THE<br />
          FINANCE<br />
          wears<br />
          fashion<br />
        </p>
      </div>

      <!-- content area -->
      <ul class="text-box-area">
        <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <h3><i><img src="../../img/mo-recruit-fashion-icon.png"></i>혁신의 DNA를 전파하다</h3>
          <p>
            어센틱금융그룹은 끊임없이 성장과 혁신을 추구하고 있습니다. 금융업 기본에 충실하되 단순한 보험업을
            넘어 혁신의 선도적 브랜드로 자리잡기 위해 INNOVATION AFG 선언을 통해 혁신적인 기업으로
            거듭나고 있습니다.
          </p>
        </li>
        <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <h3><i><img src="../../img/mo-recruit-fashion-icon.png"></i>트렌드를 주도하다</h3>
          <p>
            어센틱금융그룹은 보험 그 이상의 가치와 혁신을<br />
            담은 브랜딩과 디자인, 기존의 시상식 컨셉과<br />
            차별화된 컨벤션 행사까지 혁신적인 브랜딩과<br />
            마케팅으로 트렌드를 주도하고 있습니다.
          </p>
        </li>
        <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <h3><i><img src="../../img/mo-recruit-fashion-icon.png"></i>다양한 배경의 구성원</h3>
          <p>
            서로 다른 가치관, 문화적 배경, 경험을 가진<br />
            구성원들이 어센틱금융그룹의 끊임없는 변화와<br />
            혁신을 주도하고 있습니다.<br />
            또한, 다양한 분야에서 신입 인재를 발굴하는 등<br />
            다양성을 견인할 수 있는 여러 제도를 시행하고<br />
            있습니다.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <!-- section04 end -->


  <!-- section05 start -->
  <section class="sec05 section-p">
    <div class="inner">
      <div class="sub-title-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
        data-aos-easing="ease-out-cubic" data-aos-duration="750">
        <h2 class="recruit-sub-title">BENEFIT</h2>
        <p>
          어센틱금융그룹은 관계사와의 협업을 통해 <br />
          AFG만의 다양한 베네핏을 <br />
          어센틱플래너에게 제공해드리고 있어요.
        </p>
      </div>

      <!-- content area -->
      <ul class="benefit-itembox-wrap">
        <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <span class="number">01</span>
          <h4>HOTEL & RESORT</h4>
          <p>국내 최정상급 호텔&리조트 멤버쉽 <br />
            제공을 통한 워라밸 제공</p>
        </li>
        <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <span class="number">02</span>
          <h4>CARE SERVICE</h4>
          <p>어센틱 케어 서비스 <br />
            무료 제공을 통한 헬스케어</p>
        </li>
        <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <span class="number">03</span>
          <h4>WELCOME PACKAGE</h4>
          <p>
            입사자에게 건네는 어센틱의 첫인사, 웰컴패키지. <br />
            노트, 펜, 뱃지 등 직원들의 니즈를 반영한 <br />
            패키지 제공
          </p>
        </li>
        <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <span class="number">04</span>
          <h4>TOUR</h4>
          <p>
            직원들의 업무 능률 향상을 위한 세련된 <br />
            문화의 프로모션과 인센티브 트립을 제공 ​
          </p>
        </li>
        <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <span class="number">05</span>
          <h4>FAMILY SALE</h4>
          <p>
            관계사들과의 할인 제휴를 통해 <br />
            다양한 분야의 품목들을 직원 특별 <br />
            할인가로 구매 지원
          </p>
        </li>
        <li data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <span class="number">06</span>
          <h4>AFG GOODS</h4>
          <p>
            어센틱 아이덴티티를 담고 있는 <br />
            다양한 어센틱 굿즈 제공 및 마케팅 활용
          </p>
        </li>
      </ul>
    </div>
  </section>
  <!-- section05 end-->

  <!-- section06 start -->
  <section class="sec06 section-p">
    <div class="inner">
      <b>
        <a href="javascript:void(0);" id="contect-btn">
          CONTECT <i><img src="../../img/mo-big-arrow-top.png"></i>
        </a>
      </b>
      <p>Let’s make something great!</p>
    </div>
  </section>
  <!-- section06 end -->

</div>

<!-- contect 옆으로 나오는 팝업창 -->
<div class="aside-popup-wrpper">
  <div class="inner">
    <a href="javascript:void(0);" class="close-popup"><i><img src="../../img/mo-popup-closebtn.png"></i></a>
    <div class="overflow-section">
      <section class="sub-top-titlebox">
        <h2 class="tit-txt">JOIN AFG</h2>
        <p>어센틱금융그룹의 체계적인 시스템을<br />
          통해서 자신의 가치와 역량이 마음껏<br />
          키워지길 진심으로 바랍니다.</p>
      </section>

      <!-- sub01 -->
      <section class="sub01">
        <div class="sub-title-area">
          <span>01.</span>
          <h3 class="tit-txt">당신을 소개해주세요.</h3>
        </div>

        <ul class="form-box">
          <li>
            <input type="text" placeholder="이름" class="name">
          </li>
          <li>
            <input type="email" placeholder="이메일" class="email">
          </li>
          <li>
            <input type="text" placeholder="전화번호" class="number">
          </li>
        </ul>
      </section>
      <!-- //sub01 -->

      <!-- sub02 -->
      <section class="sub02">
        <div class="sub-title-area">
          <span>02.</span>
          <h3 class="tit-txt">당신의 이야기를<br />
            들려주세요.</h3>
        </div>

        <div class="textarea-box">
          <textarea placeholder="자유롭게 작성해주세요. (지원동기, 비전 등)&#13;&#10;*파일첨부:이력서 등 최대 2개까지 업로드 가능"></textarea>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="agreeChk">
            <span>개인정보 수집이용 동의</span>
          </label>
        </div>
      </section>
    </div>
  </div>
  <a href="javascript:void(0);">입사 지원하기</a>
</div>
<!-- //contect 옆으로 나오는 팝업창 -->

<script defer>
  $slick = $('#video-slide');
  // Main Visual Slide
  $('#video-slide').slick({
    infinite: true, //무한 반복 옵션	 
    slidesToShow: 1, // 한 화면에 보여질 컨텐츠 개수
    slidesToScroll: 1, //스크롤 한번에 움직일 컨텐츠 개수
    speed: 1000, // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
    arrows: true, // 옆으로 이동하는 화살표 표시 여부
    dots: false, // 스크롤바 아래 점으로 페이지네이션 여부
    autoplay: false, // 자동 스크롤 사용 여부
    autoplaySpeed: 3000, // 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
    pauseOnHover: false, // 슬라이드 이동	시 마우스 호버하면 슬라이더 멈추게 설정
    vertical: false, // 세로 방향 슬라이드 옵션
    draggable: true, //드래그 가능 여부 
    fade: false, // Fade 효과 여부
    infinite: false,
  });


  //slick pagenation
  pgn = document.getElementsByClassName('video-pagenation');

  slickLength = jQuery('.slick-slide:not(.slick-cloned)').length;

  $slick.on('beforeChange', function (event, slick, currentSlide, nextSlide) {

    crt = parseInt(nextSlide + 1);
    nxt = parseInt(crt + 1);
    if (nxt == slickLength + 1) {
      nxt = 1;
    }

    pgn[0].innerHTML = crt;
    pgn[1].innerHTML = slickLength;

  });


  //toggle side-popup
  const contBody = document.getElementById('wrap');
  const contBtn = document.getElementById('contect-btn');
  const contPopUp = document.querySelector('.aside-popup-wrpper');
  const contClose = document.querySelector('.close-popup');

  // function toggleCont() {
  //   const clickedClass = 'show';
  //   const wrapperUp = 'up';
  //   if (contPopUp.classList.contains(clickedClass)) {
  //     contPopUp.classList.remove(clickedClass);
  //   } else {
  //     contPopUp.classList.add(clickedClass);
  //     contBody.classList.add(wrapperUp);
  //   }
  // }

  contBtn.addEventListener('click', toggleCont);

  function closeCont() {
    // contPopUp.classList.remove('show');
    // contBody.classList.remove('up');
    alert('준비중입니다.')

  }
  contClose.addEventListener('click', closeCont);

</script>

<script>


  $(window).scroll(function () {

    const windowScroll = $(window).scrollTop();
    const windowHeight = $(window).innerHeight() / 2;
    const sec02 = $('.sec02');
    const sec04 = $('.sec04');
    const sec02Top = sec02.offset().top;
    const sec04Top = sec04.offset().top;
    const sec02Height = sec02.innerHeight();
    const sec04Height = sec04.innerHeight();

    const sec02AniStart = $('.sec02 .text-item-wrap li:nth-child(3)');
    const sec03AniStart = $('.sec03 .sec02-content-wrapper')
    const sec04AniStart = $('.sec04 .text-box-area li:nth-child(3)')
    // console.log(sec02AniStart.offset().top)


    console.log(windowScroll)

    if (windowScroll >= sec02AniStart.offset().top && windowScroll <= sec03AniStart.offset().top) {
      $('#recruit-wrap').addClass('black');
    } else if (windowScroll >= sec04AniStart.offset().top) {
      $('#recruit-wrap').addClass('black');
    } else {
      $('#recruit-wrap').removeClass('black')
    }

  })

  $('#video-slide .item .play-btn').click(function () {
        $('#video-slide .item .play-btn').removeClass('on');
        $('#video-slide .item .video-frame').remove();
        $(this).addClass('on');
        var playurl = '',
            playHtml = '';

        playurl = $(this).children('.slide-video').attr('data-youtube');
        playHtml
            += '<iframe class="video-frame" width="1023" height="575" src="' + playurl + "?autoplay=1" +'" frameborder="0" allow="autoplay"; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
        $(this).children('.slide-video').html(playHtml);
  });

</script>


          <!--// icr 작업영역 -->
      </div>

    </div>

    <!-- Footer Area Start -->
<footer>
    <div class="inner">

        <!-- Top-info Area Start -->
        <div class="top-info">
          <div class="family-site" onclick="(alert('준비중입니다.'))">
                <button type="button" class="family-site-btn">
                    <span>FAMILY SITE</span>
                    <img src="../../img/mo-plus-icon.png" alt="plus-icon">
                </button>
                <ul>
                    <li><a href="javascript:void(0);">어센틱 몰</a></li>
                    <li><a href="javascript:void(0);">어센틱 에듀</a></li>
                    <li><a href="javascript:void(0);">어센틱 케어</a></li>
                    <li><a href="javascript:void(0);">어센틱 테일러드</a></li>
                    <li><a href="javascript:void(0);">어센틱 라인</a></li>
                    <li><a href="javascript:void(0);">어센틱 링크</a></li>
                    <li><a href="javascript:void(0);">어센틱 라운지</a></li>
                </ul>
            </div>
            <div class="sns">
                <ul>
                    <li><a href="https://www.instagram.com/afg.kr/" target="_blank" class="no-motion">인스타그램</a></li>
                    <li><a href="https://www.youtube.com/channel/UCVqm7z5vVda537C1U1xDNpw" target="_blank" class="no-motion">유튜브</a></li>
                </ul>
            </div>
        </div>

        <!-- Bottom-info Area Start -->
        <div class="bottom-info">
            <div class="copyright">(주) 어센틱금융그룹 © 2022</div>
            <p>
                <span>주소  서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층</span>
                <span>사업자 등록번호  626-87-00900    대표번호  1566 0428</span>
                <span>보험대리점등록번호 : 제2018040001 | 보험대리점등록증[클릭]</span>
            </p>
            <div class="corp-area">
                <ul>
                    <li><a href="javascript:void(0);">이용약관</a></li>
                    <li><a href="javascript:void(0);">개인정보처리방침</a></li>
                </ul>
                <ul>
                    <li><a href="javascript:void(0);">금융소비자보호기준</a></li>
                    <li><a href="javascript:void(0);">금융소비자보호 내부통제기준</a></li>
                </ul>
            </div>
            <div class="footer-circle">
                <a href="javascript:void(0);" id="top-btn">
                    <span class="arrow"><img src="../../img/footer-top-icon.png" alt="arrow-top"></span>
                </a>
            </div>
        </div>

    </div>
</footer><!-- Footer Area End -->

    
  </div>
</body>
<script>
    AOS.init();
  </script>

</html>
