<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="title">
  <meta name="copyright" content="Copyright ⓒ Cafe24 Corp.All Rights Reserved.">
  <meta name="description" content="">
  <title>AFG</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- kumb -->
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- bonmi stylesheet -->
  <link rel="stylesheet" type="text/css" href="../../css/style.css">

  <!-- jquery -->
  <script src="../../js/ui/lib/jquery-1.11.1.min.js"></script>

  <!-- Slick Slider -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- Swiper Slider -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  <!-- AOS animation -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- bonme script -->
  <script src="../../js/ui/page.js" type="text/javascript"></script>

  
  
</head>


<body class="hidden">

  <div id="loading-page">
    <div class="text">
      <span><img src="../../img/loading-logo.png" alt=""></span>
      <span><img src="../../img/loading-logo.png" alt=""></span>
    </div>
  </div>

  <div id="wrapper">

    <!-- Header Area Start -->
<header class="sub-header">
    <div class="inner">

        <!-- Logo Area Start -->
        <div id="logo">
            <h1>
                <a href="/" class="ir">AUTHENTIC FINANCIAL GROUP</a>
            </h1>
        </div>

        <!-- Gnb Area Start -->
        <div class="menu">
            <button type="button" class="menu-btn">
                <span></span>
                <span></span>
            </button>
            <div id="gnb">
                <ul>
                    <li>
                        <a href="../sub/company.html">
                            <span>01</span>
                            회사소개
                        </a>
                    </li>
                    <li>
                        <a href="../sub/collection.html">
                            <span>02</span>
                            컬렉션
                        </a>
                    </li>
                    <li>
                        <a href="../sub/system.html">
                            <span>03</span>
                            시스템
                        </a>
                    </li>
                    <li>
                        <a href="../sub/studio.html">
                            <span>04</span>
                            스튜디오
                        </a>
                    </li>
                    <li>
                        <a href="../sub/news.html">
                            <span>05</span>
                            뉴스
                        </a>
                    </li>
                    <li>
                        <a href="../sub/recruit.html">
                            <span>06</span>
                            채용
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</header><!-- Header Area End -->

    <div id="wrap" class="">

      <div class="">
          <!-- icr 작업영역 -->
          

<div id="studio-wrap">

  <secion class="sec01">
    <div class="inner">

      <!-- components -->
      <div class="title-msg-wrap black">
        <div class="title-nav overflow-hidden">
          <ul class="fadeUpAni">
            <li class="dep1">
              <a href="/">HOME</a>
            </li>
            <i><img src="../../img/sub-nav-arrow-white.png" alt="sub nav arrow"></i>
            <li class="dep2">
              <a href="javascript:void(0);">
                스튜디오
              </a>
            </li>
          </ul>
        </div>
        <h1 class="title-msg">
          <div class="overflow-hidden">
            <p class="fadeUpAni">당신의 꿈을 함께</p>
          </div>
          <div class="overflow-hidden">
            <p class="fadeUpAni delayOne">만들어가는</p>
          </div>
          <div class="overflow-hidden">
            <p class="fadeUpAni delayTwo">어센틱금융그룹입니다</p>
          </div>
        </h1>
      </div>
      <!-- components -->
    </div>

    <div class="overflow-hidden">
      <div class="sec01-bg-wrap scaleAni"></div>
    </div>

  </secion>


  <secion class="sec02">
    <div class="inner">
      <div class="title-wrap overflow-hidden">
        <h4 class="fadeUpAni delayOne">HEAD OFFICE</h4>
      </div>
      <div class="map-wrap overflow-hidden">
        <!-- * 카카오맵 - 지도퍼가기 -->
        <div id="daumRoughmapContainer1660721787183"
          class="root_daum_roughmap root_daum_roughmap_landing fadeUpAni delayTwo"></div>
      </div>
      <div class="map-title-wrap overflow-hidden">
        <h6 class="title-info fadeUpAni delayThree">
          4f, 53, Seongsuil-ro 6-gil, Seongdong-gu, Seoul, <br />
          Republic of Korea <br />
          서울 성동구 성수일로 6길 53, <br />
          유원지식산업센터 4층
        </h6>
        <div class="dl-wrap" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <dl>
            <dt>전화</dt>
            <dd>02. 6239. 0002</dd>
          </dl>
          <dl>
            <dt>팩스</dt>
            <dd>02. 6212. 5550</dd>
          </dl>
        </div>
        <p class="help-msg" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">HELP@AFG.KR</p>
      </div>
    </div>
  </secion>

  <section class="sec03">

    <div class="sec03-studio-wrap">
      <div class="overflow-wrap">
        <ul class="tab-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-out-cubic"
          data-aos-duration="750">
          <li class="on"><a href="javascript:void(1);" data-tab="#all" class="btn">ALL</a></li>
          <li><a href="javascript:void(1);" data-tab="#legion1" class="btn">Region 1</a></li>
          <li><a href="javascript:void(1);" data-tab="#legion2" class="btn">Region 2</a></li>
          <li><a href="javascript:void(1);" data-tab="#legion3" class="btn">Region 3</a></li>
          <li><a href="javascript:void(1);" data-tab="#direct" class="btn">DIRECT</a></li>
        </ul>
      </div>

      <div class="inner">

        <div class="sec03-tab-content-wrap" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
          data-aos-easing="ease-out-cubic" data-aos-duration="750">

          <ul class="tab-content-ul" id="all">
            <li>
              <h6>CENTUM STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>EAGLE BRANCH</dd>
              </dl>
              <p>
                부산 해운대구 센텀중앙로 97<br />
                센텀스카이비즈 A동 3808-9호
              </p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>353 STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>SMART BRANCH</dd>
              </dl>
              <p>대구광역시 수성구 동대구로 353<br />
                범어353타워 1301-2호 (범어동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>TONGYEONG STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>BLUEMARINE BRANCH</dd>
              </dl>
              <p>경상남도 통영시 광도면 죽림해안로<br />
                64-42, 2,3층 (죽림리 1572-31)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>GIMHAE STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>GOLDEN BRANCH</dd>
              </dl>
              <p>경상남도 김해시 내외중앙로 55<br />
                8층 (내동 1118-4)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>D-CUBE STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>ENGEDI BRANCH</dd>
              </dl>
              <p>서울특별시 구로구 경인로 662<br />
                디큐브시티 9층 (신도림동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>ULSAN STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>CORE BRANCH, WIT BRANCH</dd>
              </dl>
              <p>울산광역시 남구 중앙로 153<br />
                괴하빌딩 8층 (신정동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>CENTRAL STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>DREAM&RICH BRANCH</dd>
              </dl>
              <p>서울 용산구 한강로2가 422<br />
                래미안 용산 더 센트럴 414호</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>ENTAS1 STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>PEOPLE BRANCH</dd>
              </dl>
              <p>인천시 남동구 인주대로 593 <br />
                엔타스타워 15층 (구월동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>GUMI OFFICE</h6>
              <dl>
                <dt>지점</dt>
                <dd>PASSION BRANCH</dd>
              </dl>
              <p>경상북도 구미시 송정대로 92<br />
                그랜드빌딩 3층 (송정동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>PRIME STUDIO</h6>
              <dl>
                <dt style="white-space: nowrap;">지점</dt>
                <dd>VICTORY BRANCH, PB BRANCH,<br>BLESS BRANCH</dd>
              </dl>
              <p>서울시 광진구 광나루로56길 85<br />
                강변 프라임센터 35층 (구의동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>G.O STUDIO (대전)</h6>
              <dl>
                <dt>지점</dt>
                <dd>SUIT BRANCH</dd>
              </dl>
              <p>대전광역시 서구 둔산동 1305<br />
                KTGO빌딩 7층 (둔산서로 81)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>ENTAS2 STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>FIRST BRANCH</dd>
              </dl>
              <p>인천시 남동구 인주대로 593<br />
                엔타스타워 8층 (구월동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>MASAN STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>GLORY BRANCH, BEST BRANCH</dd>
              </dl>
              <p>경상남도 창원시 마산합포구<br />
                해안대로 309, 3층 (신포동2가)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>GONGJU OFFICE</h6>
              <dl>
                <dt>지점</dt>
                <dd>VISION BRANCH</dd>
              </dl>
              <p>충청남도 공주시 무령로 229<br />
                1층 (산성동 120-4)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>ENTAS3 STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>VISION BRANCH, URBAN BRANCH</dd>
              </dl>
              <p>인천시 남동구 인주대로 593<br />
                엔타스타워 6층 (구월동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
          </ul>
          <ul class="tab-content-ul" id="legion1" style="display: none;">
            <li>
              <h6>CENTUM STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>EAGLE BRANCH</dd>
              </dl>
              <p>부산 해운대구 센텀중앙로 97<br />
                센텀스카이비즈 A동 3808-9호</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>353 STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>SMART BRANCH</dd>
              </dl>
              <p>대구광역시 수성구 동대구로 353<br />
                범어353타워 1301-2호 (범어동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>TONGYEONG STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>BLUEMARINE BRANCH</dd>
              </dl>
              <p>경상남도 통영시 광도면 죽림해안로<br />
                64-42, 2,3층 (죽림리 1572-31)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>GIMHAE STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>GOLDEN BRANCH</dd>
              </dl>
              <p>경상남도 김해시 내외중앙로 55<br />
                8층 (내동 1118-4)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>MASAN STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>GLORY BRANCH, BEST BRANCH</dd>
              </dl>
              <p>경상남도 창원시 마산합포구<br />
                해안대로 309, 3층 (신포동2가)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>ULSAN STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>CORE BRANCH</dd>
              </dl>
              <p>울산광역시 남구 중앙로 153<br />
                괴하빌딩 8층 (신정동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
          </ul>
          <ul class="tab-content-ul" id="legion2" style="display: none;">
            <li>
              <h6>D-CUBE STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>ENGEDI BRANCH</dd>
              </dl>
              <p>서울특별시 구로구 경인로 662<br />
                디큐브시티 9층 (신도림동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>PRIME STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>VICTORY BRANCH, PB BRANCH, BLESS BRANCH</dd>
              </dl>
              <p>서울시 광진구 광나루로56길 85<br />
                강변 프라임센터 35층 (구의동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>CENTRAL STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>DREAM&RICH BRANCH</dd>
              </dl>
              <p>서울 용산구 한강로2가 422<br />
                래미안 용산 더 센트럴 414호</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
          </ul>
          <ul class="tab-content-ul" id="legion3" style="display: none;">
            <li>
              <h6>ENTAS1 STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>PEOPLE BRANCH</dd>
              </dl>
              <p>인천시 남동구 인주대로 593<br />
                엔타스타워 15층 (구월동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>ULSAN STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>WIT BRANCH</dd>
              </dl>
              <p>울산광역시 남구 중앙로 153<br />
                괴하빌딩 8층 (신정동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>G.O STUDIO (대전)</h6>
              <dl>
                <dt>지점</dt>
                <dd>SUIT BRANCH</dd>
              </dl>
              <p>대전광역시 서구 둔산동 1305<br />
                KTGO빌딩 7층 (둔산서로 81)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>GONGJU OFFICE</h6>
              <dl>
                <dt>지점</dt>
                <dd>VISION BRANCH</dd>
              </dl>
              <p>충청남도 공주시 무령로 229<br />
                1층 (산성동 120-4)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>GUMI OFFICE</h6>
              <dl>
                <dt>지점</dt>
                <dd>PASSION BRANCH</dd>
              </dl>
              <p>경상북도 구미시 송정대로 92<br />
                그랜드빌딩 3층 (송정동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
            <li>
              <h6>ENTAS3 STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>VISION BRANCH, URBAN BRANCH</dd>
              </dl>
              <p>인천시 남동구 인주대로 593<br />
                엔타스타워 6층 (구월동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
          </ul>
          <ul class="tab-content-ul" id="direct" style="display: none;">
            <li>
              <h6>ENTAS2 STUDIO</h6>
              <dl>
                <dt>지점</dt>
                <dd>FIRST BRANCH</dd>
              </dl>
              <p>인천시 남동구 인주대로 593<br />
                엔타스타워 8층 (구월동)</p>
              <a href="javascript:void(0);">지도보기</a>
              <div class="bg-dim"></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <section class="sec04">
    <div class="inner">
      <div class="title-wrap">
        <h6>AFG STUDIO</h6>
        <span>
          가장 혁신적이고 실용적인 업무공간.<br>
          활력넘치는 소통공간과 출근하고 싶은<br>
          사무실, 어센틱 스튜디오.
        </span>
      </div>
    </div>
    <div class="scroll-slide-box studio-slide swiper">
      <ul class="scroll-box swiper-wrapper">
        <li class="swiper-slide w150">
          <img src="../../img/mo-studio-interior01.png" alt="studio image">
          <p>ⓒprime_Studio</p>
        </li>
        <li class="swiper-slide w240">
          <img src="../../img/mo-studio-interior02.png" alt="studio image">
          <p>ⓒprime_Studio</p>
        </li>
        <li class="swiper-slide w150">
          <img src="../../img/mo-studio-interior03.png" alt="studio image">
          <p>ⓒd-cube_Studio</p>
        </li>
        <li class="swiper-slide w240">
          <img src="../../img/mo-studio-interior04.png" alt="studio image">
          <p>ⓒprime_Studio</p>
        </li>
        <li class="swiper-slide w150">
          <img src="../../img/mo-studio-interior05.png" alt="studio image">
          <p>ⓒprime_Studio</p>
        </li>
        <li class="swiper-slide w240">
          <img src="../../img/mo-studio-interior06.png" alt="studio image">
          <p>ⓒprime_Studio</p>
        </li>
        <li class="swiper-slide w150">
          <img src="../../img/mo-studio-interior07.png" alt="studio image">
          <p>ⓒENTAS1 STUDIO</p>
        </li>
        <li class="swiper-slide w240">
          <img src="../../img/mo-studio-interior08.png" alt="studio image">
          <p>ⓒmasan_studio</p>
        </li>
        <li class="swiper-slide w150">
          <img src="../../img/mo-studio-interior09.png" alt="studio image">
          <p>ⓒhead office</p>
        </li>
      </ul>
      <div class="swiper-scrollbar"></div>
    </div>
  </section>

</div>


<!--
	2. 설치 스크립트
	* 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
-->
<script charset="UTF-8" class="daum_roughmap_loader_script"
  src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

<!-- 3. 실행 스크립트 -->
<script charset="UTF-8">
  new daum.roughmap.Lander({
    "timestamp": "1660721787183",
    "key": "2behd",
  }).render();
</script>


<!-- tab script -->
<script defer>
  // studio tab
  const studioTab = document.querySelectorAll('.sec03-studio-wrap .tab-box li');
  const studioCon = document.querySelectorAll('.sec03-tab-content-wrap .tab-content-ul');
  let activeCont = '';

  for (var i = 0; i < studioTab.length; i++) {
    studioTab[i].querySelector('.btn').addEventListener('click', function (e) {
      e.preventDefault();
      for (var j = 0; j < studioTab.length; j++) {
        studioTab[j].classList.remove('on');
        studioCon[j].style.display = 'none';
      }
      this.parentNode.classList.add('on');

      activeCont = this.getAttribute('data-tab');
      document.querySelector(activeCont).style.display = 'block';
    });
  }

  var studioSlide = new Swiper(".studio-slide", {
    slidesPerView: "auto",
    spaceBetween: 0,
    freeMode: true,
    scrollbar: {
      el: ".swiper-scrollbar",
    },
    breakpoints: {
      320: {
        spaceBetween: 0,
      }
    },
  });
</script>



          <!--// icr 작업영역 -->
      </div>

    </div>

    <!-- Footer Area Start -->
<footer>
    <div class="inner">

        <!-- Top-info Area Start -->
        <div class="top-info">
          <div class="family-site" onclick="(alert('준비중입니다.'))">
                <button type="button" class="family-site-btn">
                    <span>FAMILY SITE</span>
                    <img src="../../img/mo-plus-icon.png" alt="plus-icon">
                </button>
                <ul>
                    <li><a href="javascript:void(0);">어센틱 몰</a></li>
                    <li><a href="javascript:void(0);">어센틱 에듀</a></li>
                    <li><a href="javascript:void(0);">어센틱 케어</a></li>
                    <li><a href="javascript:void(0);">어센틱 테일러드</a></li>
                    <li><a href="javascript:void(0);">어센틱 라인</a></li>
                    <li><a href="javascript:void(0);">어센틱 링크</a></li>
                    <li><a href="javascript:void(0);">어센틱 라운지</a></li>
                </ul>
            </div>
            <div class="sns">
                <ul>
                    <li><a href="https://www.instagram.com/afg.kr/" target="_blank" class="no-motion">인스타그램</a></li>
                    <li><a href="https://www.youtube.com/channel/UCVqm7z5vVda537C1U1xDNpw" target="_blank" class="no-motion">유튜브</a></li>
                </ul>
            </div>
        </div>

        <!-- Bottom-info Area Start -->
        <div class="bottom-info">
            <div class="copyright">(주) 어센틱금융그룹 © 2022</div>
            <p>
                <span>주소  서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층</span>
                <span>사업자 등록번호  626-87-00900    대표번호  1566 0428</span>
                <span>보험대리점등록번호 : 제2018040001 | 보험대리점등록증[클릭]</span>
            </p>
            <div class="corp-area">
                <ul>
                    <li><a href="javascript:void(0);">이용약관</a></li>
                    <li><a href="javascript:void(0);">개인정보처리방침</a></li>
                </ul>
                <ul>
                    <li><a href="javascript:void(0);">금융소비자보호기준</a></li>
                    <li><a href="javascript:void(0);">금융소비자보호 내부통제기준</a></li>
                </ul>
            </div>
            <div class="footer-circle">
                <a href="javascript:void(0);" id="top-btn">
                    <span class="arrow"><img src="../../img/footer-top-icon.png" alt="arrow-top"></span>
                </a>
            </div>
        </div>

    </div>
</footer><!-- Footer Area End -->

    
  </div>
</body>
<script>
    AOS.init();
  </script>

</html>
