<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="title">
  <meta name="copyright" content="Copyright ⓒ Cafe24 Corp.All Rights Reserved.">
  <meta name="description" content="">
  <title>AFG</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- kumb -->
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- bonmi stylesheet -->
  <link rel="stylesheet" type="text/css" href="../../css/style.css">

  <!-- jquery -->
  <script src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/js/ui/lib/jquery-1.11.1.min.js"></script>

  <!-- Slick Slider -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- Swiper Slider -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  <!-- AOS animation -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- bonme script -->
  <script src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/js/ui/page.js" type="text/javascript"></script>

  
  
</head>


<body class="hidden">

  <div id="loading-page">
    <div class="text">
      <span><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/loading-logo.png" alt=""></span>
      <span><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/loading-logo.png" alt=""></span>
    </div>
  </div>
 <!-- 개인정보처리방침 start -->
 <div class="personal-information-processing-policy">
    <div id="personal-information-processing-policy-inner">
      
      
    </div>
    <div class="mo-footer">
      <div>
        서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층<br>
        Copyright ⓒ AFG. ALL RIGHTS RESERVED
      </div>
  </div>
  </div>

  <script>
    function closeOne(){
      document.querySelector('.personal-information-processing-policy').style.display = 'none';
      document.querySelector('body').style.overflow = 'auto';
    }
  </script>
  <!-- 개인정보처리방침 end -->

  <!-- 보험대리점등록증 start -->
  <div class="insurance">
    <div id="insurance">
    
    </div>
    <div class="mo-footer">
      <div>
          서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층<br>
          Copyright ⓒ AFG. ALL RIGHTS RESERVED
      </div>
  </div>
  </div>

  <script>
    function closeTwo(){
      document.querySelector('.insurance').style.display = 'none';
      document.querySelector('body').style.overflow = 'auto';
    }
  </script>
  <!-- 보험대리점등록증 end -->
  <!-- 금융소비자 보호기준 start -->
  <div class="financial-standards">
    <div id="financial-standards">

    </div>
  </div>

  <script>
    function closeThree(){
      document.querySelector('.financial-standards').style.display = 'none';
      document.querySelector('body').style.overflow = 'auto';
    }
  </script>
  <!-- 금융소비자 보호기준 end -->
  <!-- 금융소비자 내부통제기준 start -->
  <div class="internal-control-standards">
    <div id="internal-control-standards">

    </div>
  </div>

  <script>
    function closeFour(){
      document.querySelector('.internal-control-standards').style.display = 'none';
      document.querySelector('body').style.overflow = 'auto';
    }
  </script>
  <!-- 금융소비자 내부통제기준 end -->
  <div id="wrapper">

    <!-- Header Area Start -->
<header>
    <div class="inner">

        <!-- Logo Area Start -->
        <div id="logo">
            <h1>
                <a href="../main/index.html" class="ir">AUTHENTIC FINANCIAL GROUP</a>
            </h1>
        </div>

        <!-- Gnb Area Start -->
        <div class="menu">
            <button type="button" class="menu-btn">
                <span></span>
                <span></span>
            </button>
            <div id="gnb">
                <ul>
                  <li>
                    <a href="./company.html">
                        <span>01</span>
                        ABOUT
                    </a>
                </li>
                <li>
                    <a href="./collection.html">
                        <span>02</span>
                        COLLECTION
                    </a>
                </li>
                <li>
                    <a href="./system.html">
                        <span>03</span>
                        SYSTEM
                    </a>
                </li>
                <li>
                    <a href="./studio.html">
                        <span>04</span>
                        STUDIO
                    </a>
                </li>
                <li>
                    <a href="./news.html">
                        <span>05</span>
                        NEWS
                    </a>
                </li>
                <li>
                    <a href="../sub/recruit.html">
                        <span>06</span>
                        RECRUIT
                    </a>
                </li>
                </ul>
            </div>
        </div>

    </div>
</header><!-- Header Area End -->

<div id="wrap" class="">

    <div class="">
          <!-- icr 작업영역 -->
          

        <div id="system-details-wrap">
            <div class="inner">
                <!-- components -->
                <div class="title-msg-wrap">
                <div class="title-nav overflow-hidden">
                    <ul class="fadeUpAni">
                    <li class="dep1">
                        <a href="../main/index.html">HOME</a>
                    </li>
                    <i><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/sub-nav-arrow.png" alt="sub nav arrow"></i>
                    <li class="dep1">
                        <a href="./system.html">
                        SYSTEM
                        </a>
                    </li>
                    <i><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/sub-nav-arrow.png" alt="sub nav arrow"></i>
                    <li class="dep2">
                        <a href="./system-link.html">
                        LINK
                        </a>
                    </li>
                    </ul>
                </div>
                </div>
                <!-- components -->
                <div class="sec01">
                    <div class="logo fadeUpAni delayTwo">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/system-link-logo.svg" alt="">
                    </div>
                    <div class="banner-wrap fadeUpAni delayThree">
                        <div class="link-banner-bg"></div>
                        <div class="system-list">
                            <ul>
                                <li><a href="./system-edu.html">EDU</a></li>
                                <li><a href="./system-care.html">CARE</a></li>
                                <li><a href="./system-line.html">LINE</a></li>
                                <li><a href="./system-link.html">LINK</a></li>
                                <li><a href="./system-lounge.html">LOUNGE</a></li>
                                <li><a href="./system-tailored.html">TAILORED</a></li>
                                <li><a href="./system-myeonginsangzo.html">명인상조</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <script>

                    if(window.location.pathname == './views/sub/system-link.html'){
                        document.querySelector("#system-details-wrap > div > div.sec01 > div.banner-wrap.fadeUpAni.delayThree > div.system-list > ul > li:nth-child(4) > a").style.color = '#161616';
                        document.querySelector('.system-list').scrollTo(window.innerWidth-100, 0)
                    }
                </script>

                <div class="sec02" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="linear">
                    <h1>
                        고객 매칭 시스템<br>
                        어센틱 링크
                    </h1>
                    <p class="sub-title">authentic - LINK</p>
                    <p class="desc">
                        어센틱 링크 시스템은 어센틱만의 체계화된<br> 
                        시스템을  구축하여  어센틱플래너들이<br>
                        다양한 루트로 가망 고객을 만나고,<br>
                        보험 컨설팅에만 집중할 수 있도록 다양한<br>
                        서비스를 제공하고 있는 시스템입니다.
                    </p>
                    <button class="goto-btn">
                        
                        <span>사이트 보기</span>
                        <img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/mo-btn-arrow-right.png" alt="arrow">
                        
                    </button>
                </div>

                <div class="sec03 pb-80" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="linear">
                    <div class="bg link-bg mb-10"></div>
                    <div class="desc line-desc">ⓒ authentic link</div>
                </div>

                <div class="sec04">
                    <div class="item mb-60 pd" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="linear">
                        <div class="bg link-bg1 mb-20"></div>
                        <h1 class="mb-20">
                            금융사를 넘어 디지털 기업으로<br>
                            Data science
                        </h1>
                        <p>
                            AFG는 Data 개발자, AI 전문가, 기획자 등<br>
                            다양한 분야의 인재들이 모여 Data를 통한 다양한<br>
                            시도를 하며 미래를 준비하고 있습니다.
                        </p>
                    </div>
                    <div class="item mb-60 pd" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="linear">
                        <div class="bg link-bg2 mb-20"></div>
                        <h1 class="mb-20">
                            단독 매칭 프로그램<br>
                            data management
                        </h1>
                        <p>
                            AFG는 새로운 시장 개발을 선도적으로 추진하는 금<br>
                            융사로 지속적인 가망 고객 발굴을 위해 적극적으로<br>
                            지원을 하고 있습니다.
                        </p>
                    </div>
                </div>
                
                <!-- <div class="line mt-40"></div> -->

                <div class="sec-goback" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="linear">
                    <span class="goback-btn">
                        <a href="./system.html">
                            목록으로 돌아가기
                        </a>
                    </span>
                </div>
            </div>
        </div>




          <!--// icr 작업영역 -->
    </div>

</div>

    <!-- Footer Area Start -->
<footer>
    <div class="inner">

        <!-- Top-info Area Start -->
        <div class="top-info">
          <div class="family-site" onclick="(alert('준비중입니다.'))">
                <button type="button" class="family-site-btn">
                    <span>FAMILY SITE</span>
                    <img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/mo-plus-icon.png" alt="plus-icon">
                </button>
                <ul>
                    <li><a href="javascript:void(0);">어센틱 몰</a></li>
                    <li><a href="javascript:void(0);">어센틱 에듀</a></li>
                    <li><a href="javascript:void(0);">어센틱 케어</a></li>
                    <li><a href="javascript:void(0);">어센틱 테일러드</a></li>
                    <li><a href="javascript:void(0);">어센틱 라인</a></li>
                    <li><a href="javascript:void(0);">어센틱 링크</a></li>
                    <li><a href="javascript:void(0);">어센틱 라운지</a></li>
                </ul>
            </div>
            <div class="sns">
                <ul>
                    <li><a href="https://www.instagram.com/afg.kr/" target="_blank" class="no-motion">인스타그램</a></li>
                    <li><a href="https://www.youtube.com/channel/UCVqm7z5vVda537C1U1xDNpw" target="_blank" class="no-motion">유튜브</a></li>
                </ul>
            </div>
        </div>

        <!-- Bottom-info Area Start -->
        <div class="bottom-info">
            <div class="copyright">(주) 어센틱금융그룹 © 2022</div>
            <p>
                <span>주소  서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층</span>
                <span>사업자 등록번호  626-87-00900    대표번호  1566 - 6074</span>
                <span>보험대리점등록번호 : 제2018040001 | 보험대리점등록증[클릭]</span>
            </p>
            <div class="corp-area">
                <ul>
                    <li><a href="../../files/resume.docx" download class="no-motion">이력서다운(내부용)</a></li>
                    <li><a onclick="openOne()" href="javascript:void(1);">개인정보처리방침</a></li>
                </ul>
                <ul>
                    <li><a onclick="openTwo()" href="javascript:void(1);">보험대리점등록증</a></li>
                    <li><a onclick="openThree()" href="javascript:void(1);">금융소비자보호기준</a></li>
                </ul>
                <ul>
                    <li><a onclick="openFour()" href="javascript:void(1);">금융소비자보호 내부통제기준</a></li>  
                </ul>
            </div>
            <div class="footer-circle">
                <a href="javascript:void(0);" id="top-btn">
                    <span class="arrow"><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/footer-top-icon.png" alt="arrow-top"></span>
                </a>
            </div>
        </div>
<!-- 개인정보처리방침 script -->
<script>
    function openOne(){
      document.querySelector('.personal-information-processing-policy').style.display = 'block'
      document.querySelector('body').style.overflow = 'hidden';
      $('#personal-information-processing-policy-inner').load('../sub/personal-information-processing-policy.html')
    }
  </script>
  <!-- 개인정보처리방침 script -->
  <!-- 보험대리점등록증 script -->
  <script>
    function openTwo(){
      document.querySelector('.insurance').style.display = 'block'
      document.querySelector('body').style.overflow = 'hidden';
      $('#insurance').load('../sub/insurance.html')
    }
  </script>
  <!-- 보험대리점등록증 script -->
  <!-- 금융소비자보호기준 script -->
  <script>
    function openThree(){
      document.querySelector('.financial-standards').style.display = 'block'
      document.querySelector('body').style.overflow = 'hidden';
      $('#financial-standards').load('../sub/financial-standards.html')
    }
  </script>
  <!-- 금융소비자보호기준 script -->
  <!-- 금융소비자 내부통제기준 script -->
  <script>
    function openFour(){
      document.querySelector('.internal-control-standards').style.display = 'block'
      document.querySelector('body').style.overflow = 'hidden';
      $('#internal-control-standards').load('../sub/internal-control-standards.html')
    }
  </script>
  <!-- 금융소비자 내부통제기준 script -->
    </div>
</footer><!-- Footer Area End -->

    
  </div>
</body>
<script>
    AOS.init();
  </script>

</html>
