<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="title">
  <meta name="copyright" content="Copyright ⓒ Cafe24 Corp.All Rights Reserved.">
  <meta name="description" content="">
  <title>AFG</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- kumb -->
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- bonmi stylesheet -->
  <link rel="stylesheet" type="text/css" href="../../css/style.css">

  <!-- jquery -->
  <script src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/js/ui/lib/jquery-1.11.1.min.js"></script>

  <!-- Slick Slider -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- Swiper Slider -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  <!-- AOS animation -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- bonme script -->
  <script src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/js/ui/page.js" type="text/javascript"></script>

  
  
</head>


<body class="hidden">

  <div id="loading-page">
    <div class="text">
      <span><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/loading-logo.png" alt=""></span>
      <span><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/loading-logo.png" alt=""></span>
    </div>
  </div>
 <!-- 개인정보처리방침 start -->
 <div class="personal-information-processing-policy">
    <div id="personal-information-processing-policy-inner">
      
      
    </div>
    <div class="mo-footer">
      <div>
        서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층<br>
        Copyright ⓒ AFG. ALL RIGHTS RESERVED
      </div>
  </div>
  </div>

  <script>
    function closeOne(){
      document.querySelector('.personal-information-processing-policy').style.display = 'none';
      document.querySelector('body').style.overflow = 'auto';
    }
  </script>
  <!-- 개인정보처리방침 end -->

  <!-- 보험대리점등록증 start -->
  <div class="insurance">
    <div id="insurance">
    
    </div>
    <div class="mo-footer">
      <div>
          서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층<br>
          Copyright ⓒ AFG. ALL RIGHTS RESERVED
      </div>
  </div>
  </div>

  <script>
    function closeTwo(){
      document.querySelector('.insurance').style.display = 'none';
      document.querySelector('body').style.overflow = 'auto';
    }
  </script>
  <!-- 보험대리점등록증 end -->
  <!-- 금융소비자 보호기준 start -->
  <div class="financial-standards">
    <div id="financial-standards">

    </div>
  </div>

  <script>
    function closeThree(){
      document.querySelector('.financial-standards').style.display = 'none';
      document.querySelector('body').style.overflow = 'auto';
    }
  </script>
  <!-- 금융소비자 보호기준 end -->
  <!-- 금융소비자 내부통제기준 start -->
  <div class="internal-control-standards">
    <div id="internal-control-standards">

    </div>
  </div>

  <script>
    function closeFour(){
      document.querySelector('.internal-control-standards').style.display = 'none';
      document.querySelector('body').style.overflow = 'auto';
    }
  </script>
  <!-- 금융소비자 내부통제기준 end -->
  <div id="wrapper">

    <!-- Header Area Start -->
<header>
    <div class="inner">

        <!-- Logo Area Start -->
        <div id="logo">
            <h1>
                <a href="../main/index.html" class="ir">AUTHENTIC FINANCIAL GROUP</a>
            </h1>
        </div>

        <!-- Gnb Area Start -->
        <div class="menu">
            <button type="button" class="menu-btn">
                <span></span>
                <span></span>
            </button>
            <div id="gnb">
                <ul>
                  <li>
                    <a href="./company.html">
                        <span>01</span>
                        ABOUT
                    </a>
                </li>
                <li>
                    <a href="./collection.html">
                        <span>02</span>
                        COLLECTION
                    </a>
                </li>
                <li>
                    <a href="./system.html">
                        <span>03</span>
                        SYSTEM
                    </a>
                </li>
                <li>
                    <a href="./studio.html">
                        <span>04</span>
                        STUDIO
                    </a>
                </li>
                <li>
                    <a href="./news.html">
                        <span>05</span>
                        NEWS
                    </a>
                </li>
                <li>
                    <a href="./recruit.html">
                        <span>06</span>
                        RECRUIT
                    </a>
                </li>
                </ul>
            </div>
        </div>

    </div>
</header><!-- Header Area End -->

<div id="wrap" class="">

    <div class="">
          <!-- icr 작업영역 -->
          

        <div id="system-details-wrap">
            <div class="inner">
                <!-- components -->
                <div class="title-msg-wrap">
                <div class="title-nav overflow-hidden">
                    <ul class="fadeUpAni">
                    <li class="dep1">
                        <a href="../main/index.html">HOME</a>
                    </li>
                    <i><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/sub-nav-arrow.png" alt="sub nav arrow"></i>
                    <li class="dep1">
                        <a href="./system.html">
                        SYSTEM
                        </a>
                    </li>
                    <i><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/sub-nav-arrow.png" alt="sub nav arrow"></i>
                    <li class="dep2">
                        <a href="./system-care.html">
                        CARE
                        </a>
                    </li>
                    </ul>
                </div>
                </div>
                <!-- components -->
                <div class="sec01">
                    <div class="logo fadeUpAni delayTwo">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/system-care-logo.svg" alt="">
                    </div>
                    <div class="banner-wrap fadeUpAni delayThree">
                        <div class="care-banner-bg"></div>
                        <div class="system-list">
                            <ul>
                                <li><a href="./system-edu.html">EDU</a></li>
                                <li><a href="./system-care.html">CARE</a></li>
                                <li><a href="./system-line.html">LINE</a></li>
                                <li><a href="./system-link.html">LINK</a></li>
                                <li><a href="./system-lounge.html">LOUNGE</a></li>
                                <li><a href="./system-tailored.html">TAILORED</a></li>
                                <li><a href="./system-myeonginsangzo.html">명인상조</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <script>

                    if(window.location.pathname == '/mo-dist/views/sub/system-care.html'){
                        document.querySelector("#system-details-wrap > div > div.sec01 > div.banner-wrap.fadeUpAni.delayThree > div.system-list > ul > li:nth-child(2) > a").style.color = '#161616'
                    }
                </script>

                <div class="sec02" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="linear">
                    <h1>
                        건강 헬스 케어 시스템<br>
                        어센틱 케어
                    </h1>
                    <p class="sub-title">authentic - HEALTH CARE</p>
                    <p class="desc">
                        나의 배우자, 자녀는 물론 부모님과 배우자의<br> 
                        부모님까지 서울 아산병원, 삼성서울병원,<br>
                        세브란스 병원 등 주요 50개 대학병원에서<br>
                        (3차 병원)과 맺은 협진 시스템을 통해<br>
                        신속하고 편리한 진료 예약 서비스입니다.
                    </p>
                    <button class="goto-btn">
                        
                        <span>사이트 보기</span>
                        <img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/mo-btn-arrow-right.png" alt="arrow">
                        
                    </button>
                </div>

                <div class="sec03 pb-80" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="linear">
                    <div class="bg care-bg mb-10"></div>
                    <div class="desc care-desc">ⓒ authentic care service</div>
                </div>

                <div class="sec04">
                    <div class="item mb-60 pd" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="linear">
                        <div class="bg bg1 mb-20"></div>
                        <h1 class="mb-20">기본에 충실한 케어<br>
                            BASIC CARE</h1>
                        <p>어센틱 케어 서비스 중 기본서비스이며 진료예약,<br>
                            건강상담, 건강검진 우대예약, 건강문자서비스를<br>
                            제공합니다.</p>
                    </div>
                    <div class="item mb-60 pd" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="linear">
                        <div class="bg bg2 mb-20"></div>
                        <h1 class="mb-20">프리미엄을 고객을 위한<br>
                            plus care</h1>
                        <p>어센틱 케어 서비스 중 프리미엄 서비스이며<br>
                            진료예약, 건강상담, 건강검진 우대예약,<br>
                            건강문자제공 뿐 아니라 간호사 방문상담,<br>
                            차량에스코트, 가족진료 예약 등 베이직 케어에<br>
                            특별함을 더한 서비스입니다.</p>
                    </div>
                    <div class="item mb-60 pd" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="linear">
                        <div class="bg bg3 mb-20"></div>
                        <h1 class="mb-20">주요 50개 대형병원과의<br>
                            Partners SHIP</h1>
                        <p>서울아산병원,삼성서울병원,세브란스병원 등<br>
                            주요 50개의 대형병원(3차병원)과 맺은<br>
                            협진시스템을 통해 신속하고 편리한 진료예약<br>
                            서비스를 제공합니다. 
                            </p>
                    </div>
                    <div class="item" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="linear">
                        <div class="bg bg4 mb-20"></div>
                        <h1 class="mb-20 pd">
                            전화 한통으로 문제해결<br>
                            care call
                        </h1>
                        <p class="pd">
                            나와 소중한 우리 가족까지 건강상담 전화 한통으로<br>
                            서비스 문의부터 이용신청까지 가능합니다.
                        </p>
                    </div>
                </div>
                
                <div class="line mb-40 mt-40 pd"></div>

                <div class="sec05" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="linear">
                    <div class="item">
                        <div class="video mb-20">
                            <iframe
                            class="system-sec05-video"
                            width="100%" 
                            height="100%" 
                            src="https://www.youtube.com/embed/yfGJSbGrV3I" 
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                            </iframe>
                            <div class="thumbnail care-thumbnail">
                                <img onclick="playVideo()" src="https://s3.ap-northeast-2.amazonaws.com/afg.kr/img/mo-play-btn.svg" alt="play">
                            </div>
                        </div>
                        
                        <h1 class="mb-20">
                            우리 가족을 위한<br>
                            헬스케어 서비스
                        </h1>
                        <p>
                            나만 가입해도 가족 모두가 혜택을 받을 수 있다면?<br>
                            머리부터 발끝까지, 한 번에 해결하는 어센틱만의<br>
                            헬스케어 서비스를 소개합니다.
                        </p>
                    </div>
                </div>

                <script>
                    function playVideo(){
                        document.querySelector('.thumbnail').style.display = 'none';
                        document.querySelector('.system-sec05-video').setAttribute('src', 'https://www.youtube.com/embed/yfGJSbGrV3I?autoplay=1');
                    }
                </script>

                <div class="sec-goback" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="linear">
                    <span class="goback-btn">
                        <a href="./system.html">
                            목록으로 돌아가기
                        </a>
                    </span>
                </div>
            </div>
        </div>




          <!--// icr 작업영역 -->
    </div>

</div>

    <!-- Footer Area Start -->
<footer>
    <div class="inner">

        <!-- Top-info Area Start -->
        <div class="top-info">
          <div class="family-site" onclick="(alert('준비중입니다.'))">
                <button type="button" class="family-site-btn">
                    <span>FAMILY SITE</span>
                    <img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/mo-plus-icon.png" alt="plus-icon">
                </button>
                <ul>
                    <li><a href="javascript:void(0);">어센틱 몰</a></li>
                    <li><a href="javascript:void(0);">어센틱 에듀</a></li>
                    <li><a href="javascript:void(0);">어센틱 케어</a></li>
                    <li><a href="javascript:void(0);">어센틱 테일러드</a></li>
                    <li><a href="javascript:void(0);">어센틱 라인</a></li>
                    <li><a href="javascript:void(0);">어센틱 링크</a></li>
                    <li><a href="javascript:void(0);">어센틱 라운지</a></li>
                </ul>
            </div>
            <div class="sns">
                <ul>
                    <li><a href="https://www.instagram.com/afg.kr/" target="_blank" class="no-motion">인스타그램</a></li>
                    <li><a href="https://www.youtube.com/channel/UCVqm7z5vVda537C1U1xDNpw" target="_blank" class="no-motion">유튜브</a></li>
                </ul>
            </div>
        </div>

        <!-- Bottom-info Area Start -->
        <div class="bottom-info">
            <div class="copyright">(주) 어센틱금융그룹 © 2022</div>
            <p>
                <span>주소  서울특별시 성동구 성수일로 6길 53, 유원지식산업센터 4층</span>
                <span>사업자 등록번호  626-87-00900    대표번호  1566 - 6074</span>
                <span>보험대리점등록번호 : 제2018040001 | 보험대리점등록증[클릭]</span>
            </p>
            <div class="corp-area">
                <ul>
                    <li><a href="../../files/resume.docx" download class="no-motion">이력서다운(내부용)</a></li>
                    <li><a onclick="openOne()" href="javascript:void(1);">개인정보처리방침</a></li>
                </ul>
                <ul>
                    <li><a onclick="openTwo()" href="javascript:void(1);">보험대리점등록증</a></li>
                    <li><a onclick="openThree()" href="javascript:void(1);">금융소비자보호기준</a></li>
                </ul>
                <ul>
                    <li><a onclick="openFour()" href="javascript:void(1);">금융소비자보호 내부통제기준</a></li>  
                </ul>
            </div>
            <div class="footer-circle">
                <a href="javascript:void(0);" id="top-btn">
                    <span class="arrow"><img src="https://afg-common.s3-accelerate.amazonaws.com/home-mobile/img/footer-top-icon.png" alt="arrow-top"></span>
                </a>
            </div>
        </div>
<!-- 개인정보처리방침 script -->
<script>
    function openOne(){
      document.querySelector('.personal-information-processing-policy').style.display = 'block'
      document.querySelector('body').style.overflow = 'hidden';
      $('#personal-information-processing-policy-inner').load('../sub/personal-information-processing-policy.html')
    }
  </script>
  <!-- 개인정보처리방침 script -->
  <!-- 보험대리점등록증 script -->
  <script>
    function openTwo(){
      document.querySelector('.insurance').style.display = 'block'
      document.querySelector('body').style.overflow = 'hidden';
      $('#insurance').load('../sub/insurance.html')
    }
  </script>
  <!-- 보험대리점등록증 script -->
  <!-- 금융소비자보호기준 script -->
  <script>
    function openThree(){
      document.querySelector('.financial-standards').style.display = 'block'
      document.querySelector('body').style.overflow = 'hidden';
      $('#financial-standards').load('../sub/financial-standards.html')
    }
  </script>
  <!-- 금융소비자보호기준 script -->
  <!-- 금융소비자 내부통제기준 script -->
  <script>
    function openFour(){
      document.querySelector('.internal-control-standards').style.display = 'block'
      document.querySelector('body').style.overflow = 'hidden';
      $('#internal-control-standards').load('../sub/internal-control-standards.html')
    }
  </script>
  <!-- 금융소비자 내부통제기준 script -->
    </div>
</footer><!-- Footer Area End -->

    
  </div>
</body>
<script>
    AOS.init();

    if(window.location.pathname == '/mo-dist/views/sub/news.html'){
      document.querySelector("#gnb > ul > li:nth-child(5) > a").style.color = '#000';
      document.querySelector("#gnb > ul > li:nth-child(5) > a").style.textShadow = '-2px 0 #FFFFFF, 0 2px #FFFFFF, 2px 0 #FFFFFF, 0 -2px #FFFFFF';
      document.querySelector("#gnb > ul > li:nth-child(5) > a > span").style.textShadow = 'none';
    }
  </script>

</html>
