header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

header.fixed {
  background: rgba(255,255,255,.3);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid #ccc;
}

header .inner {
  position: relative;
}

header .inner #logo {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99;
}

header .inner #logo h1 {
  display: block;
  width: 196px;
  height: 35px;
  background: url("../img/logo.png") no-repeat center/cover;
}

header .inner .menu .menu-btn {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 16px;
  cursor: pointer;
  z-index: 99;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  transition: all ease .3s;
}

header .inner .menu .menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #161616;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  transition: all ease .3s;
}

header .inner .menu .menu-btn span:first-child {
  top: 0;
}

header .inner .menu .menu-btn span:last-child {
  bottom: 0;
}

header .inner .menu #gnb {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  background: url("../img/gnb-bg.png") no-repeat center/cover;
  display: none;
}

header .inner .menu #gnb ul {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

header .inner .menu #gnb ul li {
  margin-bottom: 38px;
}

header .inner .menu #gnb ul li a {
  display: inline-block;
  font-family: "Noto Sans KR",sans-serif;
  font-size: 72px;
  line-height: 1;
  font-weight: 500;
  color: #fff;
  position: relative;
  padding-bottom: 10px;
}

header .inner .menu #gnb ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  transition: all ease .3s;
}

header .inner .menu #gnb ul li a span {
  display: block;
  font-family: "Kumbh Sans",sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  opacity: .5;
  position: absolute;
  left: -40px;
  top: 0;
}

header .inner .menu #gnb ul li a:hover::after {
  width: 100%;
}

header.on {
  mix-blend-mode: unset;
}

header.on .inner #logo h1 {
  background: url("../img/logo-on.png") no-repeat center/cover;
}

header.on .inner .menu .menu-btn span {
  background-color: #fff;
  top: 50%;
  bottom: unset;
}

header.on .inner .menu .menu-btn span:first-child {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

header.on .inner .menu .menu-btn span:last-child {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

header.sub-header .inner #logo {
  -webkit-filter: invert(1);
  filter: invert(1);
}

header.sub-header .inner .menu .menu-btn span {
  background-color: #fff;
}

header.sub-header.fixed {
  background: rgba(0,0,0,.3);
}

header.sub-header.on .inner #logo h1 {
  background: url("../img/logo.png") no-repeat center/cover;
}

@media all and (max-width: 1720px) {
  header .inner #logo {
    left: 20px;
  }

  header .inner .menu .menu-btn {
    right: 20px;
  }
}

@media all and (max-width: 1520px) {
  header .inner .menu #gnb ul li {
    margin-bottom: 30px;
  }

  header .inner .menu #gnb ul li a {
    font-size: 60px;
  }

  header .inner .menu #gnb ul li a::after {
    height: 3px;
  }

  header .inner .menu #gnb ul li a span {
    font-size: 18px;
    top: 4px;
  }
}

@media all and (max-width: 1260px) {
  header {
    height: 70px;
  }

  header .inner .menu #gnb ul li {
    margin-bottom: 25px;
  }

  header .inner .menu #gnb ul li a {
    font-size: 50px;
  }

  header .inner .menu #gnb ul li a::after {
    height: 2px;
  }

  header .inner .menu #gnb ul li a span {
    font-size: 16px;
    top: 5px;
  }
}

@media all and (max-width: 1050px) {
  header {
    height: 60px;
  }

  header .inner #logo h1 {
    width: 160px;
    height: 28px;
  }

  header .inner .menu .menu-btn {
    width: 34px;
    height: 14px;
  }
}