@font-face {
  font-family: "GmarketSansLight";
  font-weight: normal;
  font-style: normal;
  src: local("GmarketSansLight"),url("../fonts/GmarketSansLight.otf") format("woff2"),url("../fonts/GmarketSansLight.otf") format("woff"),url("../fonts/GmarketSansLight.otf") format("opentype");
}

@font-face {
  font-family: "GmarketSansMedium";
  font-weight: normal;
  font-style: normal;
  src: local("GmarketSansLight"),url("../fonts/GmarketSansMedium.otf") format("woff2"),url("../fonts/GmarketSansMedium.otf") format("woff"),url("../fonts/GmarketSansMedium.otf") format("opentype");
}

@font-face {
  font-family: "GmarketSansBold";
  font-weight: normal;
  font-style: normal;
  src: local("GmarketSansBold"),url("../fonts/GmarketSansBold.otf") format("woff2"),url("../fonts/GmarketSansBold.otf") format("woff"),url("../fonts/GmarketSansBold.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/NotoSansKR-Thin.otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NotoSansKR-Light.otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSansKR-Medium.otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansKR-Bold.otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/NotoSansKR-Black.otf");
}

@font-face {
  font-family: "Silka";
  font-weight: normal;
  font-style: normal;
  src: local("Slika"),url("../fonts/silka-regular.woff") format("woff"),url("../fonts/silka-regular.ttf") format("ttf");
}